@import "variable-6";
@import "../../components";
@import "../style";

// .swiper-button-white {
//         // background-color: #6b5471;
//     }


.article-list-2 .item {
    color: #666;
    border: none;
    &:hover {
        color: $main-color;
    }
}


 .panel .panel-title {
        $more-color: #525252;

        a.more {
            color: $more-color;
            background: #232323;
        }

        .icon-more {
            color: #646567;
        }

        border-bottom: 1px solid #393939;
    }


    .article-list-4 .item:not(:last-child) {
    border-bottom: 1px solid #2c2c2c;
}


.panel .panel-title h2:after {
    color: #454545;
}

.article-1 .content-title:after, .article-2 .content-title:after {
   color: #454545;
}


