////////////////////////////////////////////////////////////// 复杂配置
$--color-primary: #12172c;   //主色
$color: #a1a1a1;        //通用文字色

//菜单
$nav-bgcolor: $--color-primary; //菜单背景色
$nav-color: #b7b9bf; //一级菜单文字色
$nav-hover-color: #fff; //一级菜单hover文字颜色
$nav-hover-bgColor: #8a7341; //菜单背景色

$nav-deep-color: $nav-color;
$nav-light-color: #7a7c81; 

// 手机三色
$mobile-header-item-bgcolor1: #272c3f!default;
$mobile-header-item-bgcolor2: #111527!default;
$mobile-header-item-bgcolor3: #0f1324!default;
