// $menu-nav-height: 64px;
// $menu-nav-position: center;

// $mobile-header-bgcolor: red!default;
// $mobile-header-split-color: blue!default;

$header-top-height: 0;


@import "../mobile";
@import "../pc";

@media (min-width: 768px) { //mobile端
    
}

@media (min-width: 769px) { //pc端
    header {
        $width: 24px;
        
        &.fixed {
            top:  -$header-top-height;
        }

        .nav {
            .container {
                @include flex(); 
            }

            .menu-container {
                @include flex-1();
                padding: 0px 30px;
                overflow: hidden;
            }
            
            
            @include operator-bar-1($menu-nav-height, $width, 12px, $nav-deep-color, $nav-light-color);
            
            @include logo($menu-nav-height);

            .operator-bar-1 > li {

                &.search input {
                    border-color: $nav-light-color;
                }

                & > a {
                    &, &:hover, &:visited, & > i {
                        color: $nav-deep-color!important;
                        border-color: $nav-light-color;
                    }
                }
            }
        }
    }

    .content {
        padding-top: $menu-nav-height;
    }
}