$top-bar-height: 50px;
$second-bar-height: 80px;
$query-input-width: 120px;
$query-input-height: 30px;
$nav-height: 85px;


header {
  .drawer-navbar {
        
        .drawer-menu > li {

            &>a {
              margin: 27px 0;
              height: 31px;
              line-height: 31px;
            }
            
        }
      }
}