$top-bar-height: 50px;
$second-bar-height: 80px;
$query-input-width: 120px;
$query-input-height: 30px;
$nav-height: 85px;

//全文检索
$query-btn-bgColor: transparent;
$query-btn-color: $nav-color;
$query-input-border: $nav-color;
$query-input-bgColor: transparent;
$query-input-color: inherit;


header {
  .drawer-navbar {
        
        .drawer-menu > li {

            &>a {
              margin: 28px 0;
              height: 29px;
              line-height: 31px;
            }
            
        }
      }
}