@import "variable-3";
@import "../../components";
@import "../style";

.article-list-2 .item {
    color: #666;
    border: none;
    &:hover {
        color: $main-color;
    }
}

.pic-list-2,.pic-list-1 {
    .panel-body .content-title {
        color: #000;
    }

    .summary {
    color: #000;
}
}


.panel {

   
    .panel-title {
         background-color: transparent;
     }
    
}


.article-list-4 .item:not(:last-child) {
    border-bottom: 1px solid #f3f3f3;
}

.pic-list-1 a.item:hover .summary {
    color: #fff;
}