@import "variable-4";
@import "../../components";
@import "../style";

.panel {
    // border: 1px solid $main-color; //控件边框颜色
}


 .panel .panel-title {
        $more-color: #7a8481;

        a.more {
            color: $more-color;
        }

        .icon-more {
            color: $more-color;
        }
    }


.article-list-4 .item:not(:last-child) {
    border-bottom: none;
}