//全局变量
$title-color: #333;        //主标题颜色
// $title-font-size: 1.6rem;  //主标题文字大小
$summary-color:#666;       //概述颜色
$split-color: #eaeaea;     //分割线颜色
$background-color: #f7f8fa;   //页面背景色
$panel-shadow-color:#ebecee;  //板块阴影色
$panel-padding:25px;          //padding 距离
$more-position: right;        //按钮位置 bottom right

$main-color: #8653fb;          //主色

//按钮样式
$btn-radius: 5px;          // 0 5px 17px
$btn-height: 32px;

//控件样式
$panel-title-height: 100px;  //标题高度
$panel-title-position: left; //left center
$panel-title-font-size: 1.8rem;  //标题文字大小
$panel-title-bgColor: #fff; // 标题背景色
$panel-title-color: #000; // 标题文字颜色

$panel-title-label-bgColor: $panel-title-bgColor; //label 背景色

$panel-title-more-bgColor: $panel-title-bgColor; //查看更多 背景色
$panel-title-more-color: #c1c1c1; //$panel-title-color; //label 背景色

$panel-body-bgColor: $panel-title-bgColor;      //内容背景色

$content-bgColor: transparent;          //内容背景色
$pic-content-bgColor: #fafafa; 

$content-box-padding: 1.2rem;
$content-box-hover-bgColor: $main-color;        //box  hover背景色
$content-box-hover-borderColor: $main-color; //box hover 边框色

$content-title-bgColor: transparent;  //标题背景色 
$content-title-font-size: 1.6rem;  //标题文字大小
$content-title-color: $title-color;  //标题文字颜色

$content-summary-fix-height: 70px;   //概要高度
$content-summary-bgColor: transparent;  //概要背景色
$content-summary-color: $summary-color;  //概要文字颜色
$content-summary-font-size: 1.4rem;  //概要文字大小

//控件样式
//图文列表
$cpn-hover-bgColor: #f9f9f9;  //控件hover背景色