.article-list-1 .content-box {
     &:not(:last-child) {
        border-bottom: none;
    }

    &:hover {
        $hover-color: #fff;
       .content {
        .title a {
            color: $hover-color;
        }
        .summary-fix, .summary-fulid, .article-bar {
            color: $hover-color;
        }
       }
    }
}

.panel-title  {
    .more-text {
        display: none;
    }

    // .icon-more:before {
    //     content: "\e609";
    // }
}

section .panel-title .label {
    display: inline;
    border-left: 4px solid $main-color;
    padding-left: 10px;
    margin-left: 26px;

    @media (max-width: 64em) {
         margin-left: 12px;
    }
}

section .panel-title .more, section .panel-title .label {
    position: relative;
    top: 10px
}

.panel {   
   -moz-box-shadow:0px 5px 0px $panel-shadow-color;
    -webkit-box-shadow:0px 5px 0px $panel-shadow-color;
     box-shadow:0px 5px 0px $panel-shadow-color;

     .panel-body {
        padding-bottom: 20px;
     }

     .btn {
         background-color: $main-color;
         border-color: $main-color;
         color: #fff;
         opacity: 1;

         &:hover {
            opacity: .8;
         }
     }

     // display: inline-block;
     //    border-radius: $btn-radius;
     //    line-height: $btn-height;
     //    color: $main-color;
     //    border: 1px solid $main-color;
     //    padding: 0 20px;
     //    letter-spacing: 2px;
     //    background-color: transparent;
     //    font-size: 1.2rem;

     //    &:hover {
     //        background: $main-color;
     //        color: #fff;
     //    }


}

.panel.article-list-2, .panel.article-list-3 {
    .panel-body {
        padding-bottom: 45px;
    }
}