section {
    .panel-title {
        .label {
            padding-left: 15px;
            width: calc(100% - 92px);

            &:before {
                content: '';
                height: 15px;
                width: 5px;
                position:  absolute;
                border-radius: 6px;
                background-color: $main-color;
                left: 0;
                top: 50%;
                transform: translateY(-50%);

            }

            @media (max-width: 64em) {
                 margin-left: 12px;
            }
        }

        .more-text {
            display: none;
        }
    } 

    .panel {  
        -moz-box-shadow:0px 5px 0px $panel-shadow-color;
        -webkit-box-shadow:0px 5px 0px $panel-shadow-color;
         box-shadow:0px 5px 0px $panel-shadow-color;
         margin-bottom: 5px;

         .panel-body {
            padding-bottom: 20px;
            padding-top: 0
         }

         .btn {
             background-color: $main-color;
             border-color: $main-color;
             color: #fff;
             opacity: 1;

             &:hover {
                opacity: .8;
             }
         }
    }
}