html, body {
    font-family: NotoSansHans-Thin;
    font-weight: 150;
}

.article-list-1 .content-box {
    &:not(:last-child) {
        border-bottom: none;
    }


    &:hover {
        $hover-color: #fff;
       .content {
        .title a {
            color: $hover-color;
        }
        .summary-fix, .summary-fulid, .article-bar {
            color: $hover-color;
        }
       }
    }
}

section .panel {
    margin-bottom: 50px;

    .panel-body {
        padding: 0;
    }
}

.panel-title > span:after {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);

    bottom: 40px;
    width: 30%;
    height: 4px;
    background-color: $main-color;

    @media (max-width: 768px) {
        height: 2px;
    }
}

.panel-title  {
    .more-text {
        display: none;
    }
}