html, body {
    font-family: NotoSansHans-Thin;
    font-weight: 150;
}

section .panel {
    .panel-title .label {


        &:after {
            content: '';
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            -webkit-transform: translateX(-50%);
            -moz-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
            width: 60%;
            bottom: 40px;
            height: 4px;
            background-color: $main-color;
        }
    }

    .panel-body {
        padding: 0;
    }
}


.panel-title  {
    .more-text {
        display: none;
    }
}