@import "_variable-3";
@import "../../structure";
$nav-color: #d1d5ed;
@import "../../../base";
$main-color: #fff;
@import "../../../style-7";

header {
        $e: #005c97; 
        $s: #363795; 
       background: -webkit-linear-gradient(right, $s , $e); /* Safari 5.1 - 6.0 */
       background: -o-linear-gradient(right, $s, $e); /* Opera 11.1 - 12.0 */
       background: -moz-linear-gradient(right, $s, $e); /* Firefox 3.6 - 15 */
       background: linear-gradient(right, $s , $e); /* 标准的语法 */ 
}