@mixin titleHide() {//隐藏标题
    .title {
        display: none;
    }
}

@mixin summaryLine($line) { //描述行数&高度
    .summary-fixed {
        display: -webkit-box;
        -webkit-line-clamp: $line;
    }
}

@mixin summaryHide() { // 隐藏描述
    .summary-fixed, .summary-line {
        display: none;
    }

    
}

@mixin barHide() {
    .float-content-footer, .content-footer{
        display: none;
    }
}

@mixin summaryLineHeight($height) {
    .summary-fixed {
        height: $height;
    }
}

@mixin contentHide() { // 隐藏标题和描述
    .content {
        display: none;
    }
}


/////////////////////////////common style start///////////////////
//标题大小
$title-font-size-big: 18px;
$title-font-size-medium: 16px;
$title-font-size-small: 14px;
$title-font-size-smallest: 12px;


//描述大小
$summary-font-size-big: 14px;
$summary-font-size-small: 12px;

//仅标题空白大小
$content-padding-big: 24px 16px;
$content-padding-medium: 16px 14px;
$content-padding-small: 8px 8px;
$content-padding-smallest: 8px 6px;

$content-padding-zero: 0;

//标题+描述空白大小
$content-padding-big2: 32px 24px;
$content-padding-medium2: 24px 16px;
$content-padding-small2: 16px 8px;
$content-padding-smallest2: 8px 8px;

//描述高度
$summaryFixedH00: 18px; // ipad／手机一行高度 
$summaryFixedH0: 21px;

$summaryFixedH1: 41px;
$summaryFixedH2: 38px; //36xx

$summaryFixedH3: 62px;
$summaryFixedH4: 54px;

$summaryFixedH39: 39px;

/////////////////只有标题的基类/////////////////////

.f-12, .c-12, .c-9, .c-6, .c-4, .c-3 {

    //ipad plus
    @media screen and(max-width: 992px) and (min-width: 768px) {
        // .col-sm-4 { //不要写的太详细
            
            .content-box .content {
                padding: $content-padding-medium;

                .title {
                    font-size: $title-font-size-medium;
                }

                .summary-fixed, .summary-line {
                    font-size: $summary-font-size-big;
                }
            }
        // }
    }

    //mobile 6 
    @media screen and(max-width: 768px) and (min-width: 640px) {
        // .col-xs-6 {
            .content-box .content {
                padding: $content-padding-small;

                .title {
                    font-size: $title-font-size-medium;
                }

                .summary-fixed, .summary-line {
                    font-size: $summary-font-size-big;
                }
            }
        // }
    }


    //iphone 5
    @media screen and (max-width: 640px) {
        .content-box .content {
            padding: $content-padding-small;

            .title {
                font-size: $title-font-size-medium;
            }

            .summary-fixed, .summary-line {
                font-size: $summary-font-size-big;
            }
        }
                
    }
        
}


.f-12, .c-12 {
        
    //PC & pad pro
    @media screen and(min-width: 992px) {
        .col-md-12,
        .col-md-6 {
            .content {
                padding: $content-padding-big;

                .title {
                    font-size: $title-font-size-big;
                }

                .summary-line, .summary-fixed {
                    font-size: $summary-font-size-big;
                }
            }
        }


         .col-md-4,
         .col-md-3 {
            .content {
                padding: $content-padding-medium;

                .title {
                    font-size: $title-font-size-big;
                }

                .summary-line, .summary-fixed {
                    font-size: $summary-font-size-big;
                }
            }
         }
        
        
        .col-md-5, 
        .col-md-2 {
            .content {
                padding: $content-padding-small;

                .title {
                    font-size: $title-font-size-medium;
                }

                .summary-line, .summary-fixed {
                    font-size: $summary-font-size-small;
                }
            }
            
        }
    }
 }

.c-3 {

     //PC & pad pro
     @media screen and(min-width: 992px) {
        .col-md-12 {
            .content {
                padding: $content-padding-small;
                .title {
                    font-size: $title-font-size-big;
                }

                .summay-line, .summary-fixed {
                    font-size: $summary-font-size-big;
                }
            }
        }
         
         .col-md-6 {
            .content {
                padding: $content-padding-small;

                .title {
                    font-size: $title-font-size-small;
                }

                .summay-line, .summary-fixed {
                    font-size: $summary-font-size-small;
                }
            }
         }

         .col-md-4,
         .col-md-3,
         .col-md-5 {
            .content {
                padding: $content-padding-small;
                .title {
                    font-size: $title-font-size-smallest;
                }

                .summay-line, .summary-fixed {
                    font-size: $summary-font-size-small;
                }
            }
         }

         .col-md-2 {
            .content {
                padding: $content-padding-smallest;
                .title {
                    font-size: $title-font-size-smallest;
                }

                .summay-line, .summary-fixed {
                    font-size: $summary-font-size-small;
                }
            }

         }

     }

 }

 .c-9 {

    @media screen and(min-width: 992px) {
        .col-md-12 {
            .content {
                padding: $content-padding-big;

                .title {
                    font-size: $title-font-size-big;
                }

                .summary-line, .summary-fixed {
                    font-size: $summary-font-size-big;
                }
            }
        }

        .col-md-6 {
            .content {
                padding: $content-padding-medium;

                .title {
                    font-size: $title-font-size-big;
                }

                .summary-line, .summary-fixed {
                    font-size: $summary-font-size-big;
                }
            }
        }

        .col-md-4 {
            .content {
                padding: $content-padding-small;

                .title {
                    font-size: $title-font-size-big;
                }

                .summary-line, .summary-fixed {
                    font-size: $summary-font-size-big;
                }
            }
        }


        

        .col-md-3 {
            .content {
                padding: $content-padding-small;

                .title {
                    font-size: $title-font-size-medium;
                }

                .summary-line, .summary-fixed {
                    font-size: $summary-font-size-big;
                }
            }
         }

         .col-md-5,
         .col-md-2 {
            .content {
                padding: $content-padding-small;
                .title {
                    font-size: $title-font-size-medium;
                }

                .summary-line, .summary-fixed {
                    font-size: $summary-font-size-small;
                }
            }
         }
     }
    
 }

.c-6 {

     @media screen and(min-width: 992px) {

        .col-md-12 {
            .content {
                padding: $content-padding-medium;
                .title {
                    font-size: $title-font-size-big;
                }

                .summay-line, .summary-fixed {
                    font-size: $summary-font-size-big;
                }
            }
        }
        .col-md-6 {
            .content {
                padding: $content-padding-small;

                .title {
                    font-size: $title-font-size-big;
                }

                .summary-line, .summary-fixed {
                    font-size: $summary-font-size-big;
                }
            }
        }
         
         .col-md-4 {
            .content {
                padding: $content-padding-small;
                .title {
                    font-size: $title-font-size-small;
                }

                .summay-line, .summary-fixed {
                    font-size: $summary-font-size-small;
                }
            }
         }

         .col-md-3 {
            .content {
                padding: $content-padding-small;
                .title {
                    font-size: $title-font-size-small;
                }

                .summay-line, .summary-fixed {
                    font-size: $summary-font-size-small;
                }
            }
         }

         .col-md-5,
         .col-md-2 {
            .content {
                padding: $content-padding-small;
                .title {
                    font-size: $title-font-size-smallest;
                }

                .summay-line, .summary-fixed {
                    font-size: $summary-font-size-small;
                }
            }
         }
     }
     
 }

.c-4 {
     @media screen and(min-width: 992px) {
         .col-md-12 {
            .content {
                padding: $content-padding-medium;

                .title {
                    font-size: $title-font-size-big;
                }

                .summary-line, .summary-fixed {
                    font-size: $summary-font-size-big;
                }
            }
         }
         .col-md-6 {
            .content {
                padding: $content-padding-small;
                .title {
                    font-size: $title-font-size-medium;
                }

                .summay-line, .summary-fixed {
                    font-size: $summary-font-size-small;
                }
            }
         }

         .col-md-4,
         .col-md-3 {
            .content {
                padding: $content-padding-small;
                .title {
                    font-size: $title-font-size-small;
                }

                .summay-line, .summary-fixed {
                    font-size: $summary-font-size-small;
                }
            }
         }
         .col-md-5,
         .col-md-2 {
            .content {
                padding: $content-padding-small;
                .title {
                    font-size: $title-font-size-smallest;
                }

                .summay-line, .summary-fixed {
                    font-size: $summary-font-size-small;
                }
            }
         }
     }
 }

            
    




/////////////////////////////pic-list-7 列表样式-7 start ////////////////

.f-12, .c-12, .c-9, .c-6, .c-4, .c-3 {
    .pic-list-1,
    .pic-list-2,
    .pic-list-7,
    .pic-list-8,
    .pic-list-9,
    .pic-list-10,
    .pic-list-11,
    .pic-list-13,
    .pic-list-14,
    .pic-list-15,
    .pic-list-16,
    .pic-list-22,
    .pic-list-30,
    .pic-list-31 {
        //mobile 6 
        @media screen and(max-width: 768px) and (min-width: 640px) {
            
            .col-xs-6 {
                .content {
                    padding: $content-padding-medium;

                    .title {
                        font-size: $title-font-size-medium;
                    }

                    .summary-fixed, .summary-line {
                        font-size: $summary-font-size-big;
                    }
                }
            }

            .col-sm-4 {
                .content {
                    padding: $content-padding-medium;

                    .title {
                        font-size: $title-font-size-medium;
                    }

                    .summary-fixed, .summary-line {
                        font-size: $summary-font-size-big;
                    }
                }
            }

            
        }


        //iphone 5
        @media screen and (max-width: 640px) {
            .content {
                padding: $content-padding-medium;

                .title {
                    font-size: $title-font-size-medium;
                }

                .summary-fixed, .summary-line {
                    font-size: $summary-font-size-big;
                }
            }
                    
        }
    }
        
}

.f-12, .c-12 {
    .pic-list-1,
    .pic-list-2,
    .pic-list-7,
    .pic-list-8,
    .pic-list-9,
    .pic-list-10,
    .pic-list-11,
    .pic-list-13,
    .pic-list-14,
    .pic-list-15,
    .pic-list-16,
    .pic-list-22,
    .pic-list-30,
    .pic-list-31 {
         //PC & pad pro
        @media screen and(min-width: 992px) {
            .col-md-12,
            .col-md-6 {
                .content {
                    padding: $content-padding-big2;
                }
            }
            .col-md-4,
            .col-md-3 {
                .content {
                    padding: $content-padding-medium2;
                }
            }
            .col-md-5, 
            .col-md-2 {
                .content {
                    padding: $content-padding-medium2;
                }
            }
        }
    }
}

.c-9 {
    .pic-list-1,
    .pic-list-2,
    .pic-list-7,
    .pic-list-8,
    .pic-list-9,
    .pic-list-10,
    .pic-list-11,
    .pic-list-13,
    .pic-list-14,
    .pic-list-15,
    .pic-list-16,
    .pic-list-22,
    .pic-list-30,
    .pic-list-31 {
         //PC & pad pro
        @media screen and(min-width: 992px) {
            .col-md-12,
            .col-md-6 {
                 .content {
                    padding: $content-padding-big2;
                    .title {
                        font-size: $title-font-size-big;
                    }

                    .summary-line, .summary-fixed {
                        font-size: $summary-font-size-big;
                    }
                }
            }

            .col-md-4,
            .col-md-3 {
                .content {
                    padding: $content-padding-medium2;
                    .title {
                        font-size: $title-font-size-big;
                    }

                    .summary-line, .summary-fixed {
                        font-size: $summary-font-size-big;
                    }
                }
                    
            }

            
            .col-md-5,
            .col-md-2 {
                 .content {
                    padding: $content-padding-medium2;

                    .title {
                        font-size: $title-font-size-medium;
                    }
                    
                    .summary-fixed, .summary-line {
                        font-size: $summary-font-size-small;
                    }
                }
            }
        }
    }
}

.c-6 {
    .pic-list-1,
    .pic-list-2,
    .pic-list-7,
    .pic-list-8,
    .pic-list-9,
    .pic-list-10,
    .pic-list-11,
    .pic-list-13,
    .pic-list-14,
    .pic-list-15,
    .pic-list-16,
    .pic-list-22,
    .pic-list-30,
    .pic-list-31 {
         //PC & pad pro
        @media screen and(min-width: 992px) {
            .col-md-12,
            .col-md-6 {
                 .content {
                    padding: $content-padding-big2;
                    .title {
                        font-size: $title-font-size-big;
                    }
                }
            }

            .col-md-4, 
            .col-md-3{
                 .content {
                    padding: $content-padding-medium2;
                    .title {
                        font-size: $title-font-size-big;
                    }

                    .summary-line, .summary-fixed {
                        font-size: $summary-font-size-big;
                    }
                }
            }


            

            .col-md-5,
            .col-md-2 {
                 .content {
                    padding: $content-padding-medium2;
                    .title {
                        font-size: $title-font-size-medium;
                    }
                    .summary-fixed, .summary-line {
                        font-size: $summary-font-size-small;
                    }
                }
            }

        }
    }
}

.c-4 {
    .pic-list-1,
    .pic-list-2,
    .pic-list-7,
    .pic-list-8,
    .pic-list-9,
    .pic-list-10,
    .pic-list-11,
    .pic-list-13,
    .pic-list-14,
    .pic-list-15,
    .pic-list-16,
    .pic-list-22,
    .pic-list-30,
    .pic-list-31 {
         //PC & pad pro
        @media screen and(min-width: 992px) {
            .col-md-12,
            .col-md-6,
            .col-md-4 {
                 .content {
                    padding: $content-padding-medium2;
                    .title {
                        font-size: $title-font-size-big
                    }
                    .summary-fixed, .summary-line {
                        font-size: $summary-font-size-big;
                    }
                }
            }

            .col-md-3,
            .col-md-5,
            .col-md-2 {
                 .content {
                    padding: $content-padding-medium2;
                    .title {
                        font-size: $title-font-size-medium
                    }
                    .summary-fixed, .summary-line {
                        font-size: $summary-font-size-small;
                    }
                }
            }
        }
        
    }
}

.c-3 {
    .pic-list-1,
    .pic-list-2,
    .pic-list-7,
    .pic-list-8,
    .pic-list-9,
    .pic-list-10,
    .pic-list-11,
    .pic-list-13,
    .pic-list-14,
    .pic-list-15,
    .pic-list-16,
    .pic-list-22,
    .pic-list-30,
    .pic-list-31 {
         //PC & pad pro
        @media screen and(min-width: 992px) {
            .col-md-12 {
                .content {
                    padding: $content-padding-medium2;
                    .title {
                        font-size: $title-font-size-big
                    }
                    .summary-fixed, .summary-line {
                        font-size: $summary-font-size-big;
                    }

                }
            }

            .col-md-6,
            .col-md-4,
            .col-md-3 {
                .content {
                    padding: $content-padding-medium2;
                    .title {
                        font-size: $title-font-size-medium
                    }
                    .summary-fixed, .summary-line {
                        font-size: $summary-font-size-small;
                    }

                }
            }

            .col-md-5 {
                .content {
                    padding: $content-padding-small;
                    .title {
                        font-size: $title-font-size-small
                    }
                    .summary-fixed, .summary-line {
                        font-size: $summary-font-size-small;
                    }

                }

            }

            .col-md-2 {
                @include contentHide()
            }
        }
    }
}

/////////////////标题的基类/////////////////////

@mixin smallestPlay() { //局中 缩小图标
    // left: 50%;
    // top: 50%;
    // transform: translate(-50%, -50%); 
    .iconfont.icon-bofang, 
    .iconfont.icon-shipinbofangyingpian2 {
        font-size: 12px;
    }
}


@mixin smallPlay() { //局中 缩小图标
    // left: 50%;
    // top: 50%;
    // transform: translate(-50%, -50%); 
    .iconfont.icon-bofang, 
    .iconfont.icon-shipinbofangyingpian2 {
        font-size: 24px;
    }
}

@mixin mediumPlay() {
    .iconfont.icon-bofang, 
    .iconfont.icon-shipinbofangyingpian2 {
        font-size: 32px;
    }
}

@mixin bigPlay() {
    .iconfont.icon-bofang, 
    .iconfont.icon-shipinbofangyingpian2 {
        font-size: 48px;
    }
}


.f-12, .c-12, .c-9, .c-6, .c-4, .c-3 {

    .pic-list-27 {
        
        .col-md-12,
        .col-md-6,
        .col-md-4,
        .col-md-3,
        .col-md-5,
        .col-md-2 {
            .cover {
                .container-icon-center,
                .container-icon-right,
                .container-icon-left {
                     .iconfont.icon-bofang, 
                     .iconfont.icon-shipinbofangyingpian2 {
                        transition: all 0.36s ease 0s;
                        font-size: 0;
                     }
                }
            }
        }
    } 

    //ipad plus
    @media screen and(max-width: 992px) and (min-width: 768px) {
        .content-box .cover {
            .container-icon-center,
            .container-icon-right,
            .container-icon-left {
                        @include mediumPlay()
                    }
        }

        .pic-list-27 {
            .col-md-12,
            .col-md-6,
            .col-md-4,
            .col-md-3,
            .col-md-5,
            .col-md-2 {
                .cover:hover {
                    .container-icon-center,
                    .container-icon-right,
                    .container-icon-left {
                            @include mediumPlay()
                    }
                }
            }
        }
    }

    //iphone 6
    @media screen and(max-width: 768px) and (min-width: 640px) {
        .content-box .cover {
            .container-icon-center,
            .container-icon-right,
            .container-icon-left {
                        @include smallPlay()
            }
        }

        .pic-list-27 {
            .col-md-12,
            .col-md-6,
            .col-md-4,
            .col-md-3,
            .col-md-5,
            .col-md-2 {
                .cover:hover {
                    .container-icon-center,
                    .container-icon-right,
                    .container-icon-left {
                        @include smallPlay()
                    }
                }
            }
        }
    }


    //iphone 5
    @media screen and (max-width: 640px) {
        .content-box .cover {
            .container-icon-center,
            .container-icon-right,
            .container-icon-left {
                    @include smallPlay()
                }
        }

        .pic-list-27 {
            .col-md-12,
            .col-md-6,
            .col-md-4,
            .col-md-3,
            .col-md-5,
            .col-md-2 {
                .cover:hover {
                    .container-icon-center,
                    .container-icon-right,
                    .container-icon-left {
                        @include smallPlay()
                    }
                }
            }
        }
        
    }
            
    
}


.f-12, .c-12 {

    @media screen and (min-width: 1200px) { 
        .s-pic,
        .col-md-12,
        .col-md-6 {
            .cover {
                .container-icon-center,
                .container-icon-right,
                .container-icon-left {
                    @include bigPlay() 
                }
            }
        }
       
        .col-md-4,
        .col-md-3 {
            .cover {
                .container-icon-center,
                .container-icon-right,
                .container-icon-left {
                    @include mediumPlay() 
                }
            }
        }

        .col-md-5,
        .col-md-2 {
            .cover {
                .container-icon-center,
                .container-icon-right,
                .container-icon-left {
                    @include smallPlay() 
                }
            }
        }

        //////列表样式6特殊处理/////

         .pic-list-27 {
        
            .col-md-12,
            .col-md-6 {
                .cover:hover {
                    .container-icon-center,
                    .container-icon-right,
                    .container-icon-left {
                            @include bigPlay()
                    }
                }
            }


            .col-md-4,
            .col-md-3,
            .col-md-5,
            .col-md-2 {
                .cover:hover {
                    .container-icon-center,
                    .container-icon-right,
                    .container-icon-left {
                            @include mediumPlay()
                    }
                }
            }
        } 


               
    }


    @media screen and (max-width: 1200px) and (min-width: 992px) {
        .s-pic,
        .col-md-12,
        .col-md-6 {
            .cover {
                .container-icon-center,
                .container-icon-right,
                .container-icon-left {
                    @include bigPlay() 
                }
            }
        }
       
        .col-md-4,
        .col-md-3 {
            .cover {
                .container-icon-center,
                .container-icon-right,
                .container-icon-left {
                    @include mediumPlay() 
                }
            }
        }

        .col-md-5,
        .col-md-2 {
            .cover {
                .container-icon-center,
                .container-icon-right,
                .container-icon-left {
                    @include smallPlay() 
                }
            }
        }

        .pic-list-27 {
        
            .col-md-12,
            .col-md-6 {
                .cover:hover {
                    .container-icon-center,
                    .container-icon-right,
                    .container-icon-left {
                            @include bigPlay()
                    }
                }
            }


            .col-md-4,
            .col-md-3,
            .col-md-5,
            .col-md-2 {
                .cover:hover {
                    .container-icon-center,
                    .container-icon-right,
                    .container-icon-left {
                            @include mediumPlay()
                    }
                }
            }
        } 

               
    }

    
}


.c-9 {

    @media screen and (max-width: 1200px) and (min-width: 992px) {
        .s-pic,
        .col-md-12 {
            .cover {
                .container-icon-center,
                .container-icon-right,
                .container-icon-left {
                    @include bigPlay() 
                }
            }
        }
       
        .col-md-6,
        .col-md-4 {
            .cover {
                .container-icon-center,
                .container-icon-right,
                .container-icon-left {
                    @include mediumPlay() 
                }
            }
        }

        .col-md-3,
        .col-md-5,
        .col-md-2 {
            .cover {
                .container-icon-center,
                .container-icon-right,
                .container-icon-left {
                    @include smallPlay() 
                }
            }
        }

        .pic-list-27 {
        
            .col-md-12 {
                .cover:hover {
                    .container-icon-center,
                    .container-icon-right,
                    .container-icon-left {
                            @include bigPlay()
                    }
                }
            }

            .col-md-6,
            .col-md-4,
            .col-md-3,
            .col-md-5,
            .col-md-2 {
                .cover:hover {
                    .container-icon-center,
                    .container-icon-right,
                    .container-icon-left {
                            @include mediumPlay()
                    }
                }
            }
        } 
               
    }

    @media screen and (min-width: 1200px) {
        .s-pic,
        .col-md-12 {
            .cover {
                .container-icon-center,
                .container-icon-right,
                .container-icon-left {
                    @include bigPlay() 
                }
            }
        }
       
        .col-md-6,
        .col-md-4 {
            .cover {
                .container-icon-center,
                .container-icon-right,
                .container-icon-left {
                    @include mediumPlay() 
                }
            }
        }

        .col-md-3,
        .col-md-5,
        .col-md-2 {
            .cover {
                .container-icon-center,
                .container-icon-right,
                .container-icon-left {
                    @include smallPlay() 
                }
            }
        }

        .pic-list-27 {
        
            .col-md-12 {
                .cover:hover {
                    .container-icon-center,
                    .container-icon-right,
                    .container-icon-left {
                            @include bigPlay()
                    }
                }
            }

            .col-md-6,
            .col-md-4,
            .col-md-3,
            .col-md-5,
            .col-md-2 {
                .cover:hover {
                    .container-icon-center,
                    .container-icon-right,
                    .container-icon-left {
                            @include mediumPlay()
                    }
                }
            }
        } 
               
    }
}


.c-6 {

    @media screen and (min-width: 992px) {
   
        .s-pic,
        .col-md-12,
        .col-md-6 {
            .cover {
                .container-icon-center,
                .container-icon-right,
                .container-icon-left {
                    @include mediumPlay() 
                }
            }
        }

        .col-md-4,
        .col-md-3,
        .col-md-5 {
            .cover {
                .container-icon-center,
                .container-icon-right,
                .container-icon-left {
                    @include smallPlay() 
                }
            }
        }

        .col-md-2 {
            .cover {
                .container-icon-center,
                .container-icon-right,
                .container-icon-left {
                    @include smallestPlay() 
                }
            }
        }

        .pic-list-27 {
        
            .col-md-12,
            .col-md-6 {
                .cover:hover {
                    .container-icon-center,
                    .container-icon-right,
                    .container-icon-left {
                            @include mediumPlay()
                    }
                }
            }

            .col-md-4,
            .col-md-3,
            .col-md-5 {
                .cover:hover {
                    .container-icon-center,
                    .container-icon-right,
                    .container-icon-left {
                            @include smallPlay()
                    }
                }
            }

            .col-md-2 {
                .cover:hover {
                    .container-icon-center,
                    .container-icon-right,
                    .container-icon-left {
                            @include smallestPlay()
                    }
                }
            }
        } 
               
    }
}



.c-4 {

    @media screen and (min-width: 992px) {
        .s-pic,
        .col-md-12 {
            .cover {
                .container-icon-center,
                .container-icon-right,
                .container-icon-left {
                    @include mediumPlay() 
                }
            }
        }

        .col-md-6 {
            .cover {
                .container-icon-center,
                .container-icon-right,
                .container-icon-left {
                    @include smallPlay() 
                }
            }
        }


        .col-md-4, 
        .col-md-3,
        .col-md-5,
        .col-md-2 {
            .cover {
                .container-icon-center,
                .container-icon-right,
                .container-icon-left {
                    @include smallestPlay() 
                }
            }
        }

        .pic-list-27 {
        
            .col-md-12 {
                .cover:hover {
                    .container-icon-center,
                    .container-icon-right,
                    .container-icon-left {
                            @include mediumPlay()
                    }
                }
            }

            .col-md-6 {
                .cover:hover {
                    .container-icon-center,
                    .container-icon-right,
                    .container-icon-left {
                        @include smallPlay() 
                    }
                }
            }

            .col-md-4,
            .col-md-3,
            .col-md-5,
            .col-md-2 {
                .cover:hover {
                    .container-icon-center,
                    .container-icon-right,
                    .container-icon-left {
                            @include smallestPlay()
                    }
                }
            }
        } 
               
    }
    
}

.c-3 {

    @media screen and (min-width: 992px) {
        .s-pic,
        .col-md-12 {
            .cover {
                .container-icon-center,
                .container-icon-right,
                .container-icon-left {
                    @include mediumPlay() 
                }
            }
        }

        .col-md-6 {
            .cover {
                .container-icon-center,
                .container-icon-right,
                .container-icon-left {
                    @include smallPlay() 
                }
            }
        }


        .col-md-4, 
        .col-md-3,
        .col-md-5,
        .col-md-2 {
            .cover {
                .container-icon-center,
                .container-icon-right,
                .container-icon-left {
                    @include smallestPlay() 
                }
            }
        }

        .pic-list-27 {
        
            .col-md-12 {
                .cover:hover {
                    .container-icon-center,
                    .container-icon-right,
                    .container-icon-left {
                            @include mediumPlay()
                    }
                }
            }

            .col-md-6 {
                .cover:hover {
                    .container-icon-center,
                    .container-icon-right,
                    .container-icon-left {
                        @include smallPlay() 
                    }
                }
            }

            .col-md-4,
            .col-md-3,
            .col-md-5,
            .col-md-2 {
                .cover:hover {
                    .container-icon-center,
                    .container-icon-right,
                    .container-icon-left {
                            @include smallestPlay()
                    }
                }
            }
        } 
               
    }
    
}

