@import "../../base";

header {
  .drawer-navbar {
      @media (min-width: 64em) {
        margin: 20px 0;
        .drawer-menu > li {

            &:hover {
                // background-color: $main-color;

            }

            &>.drawer-dropdown-menu {
               top: 45px;
               padding-top: 10px;
            }
        }

        .drawer-menu .current {
          // border-bottom: none;
           height: 70px;
           background-color: $main-color;
          // border-bottom: 2px solid $main-color;

          .drawer-menu-item {
            color: #fff;
            &:hover {
              color: #fff;
            }
          }
        }
      }
  }
}



