////////////////////////////////////////////////////////////// 复杂配置
$main-color: #ddb472;   //主色
$color: #a1a1a1;        //通用文字色

//菜单
$nav-bgcolor: $main-color; //菜单背景色
$nav-color: #fbefdc; //一级菜单文字色
$nav-hover-color: #fff; //一级菜单hover文字颜色
$nav-hover-bgColor: #e6bc77;
$nav-deep-color: $nav-color;
$nav-light-color: #edd2a4; 

// 手机三色
$mobile-header-item-bgcolor1: #d69b49!default;
$mobile-header-item-bgcolor2: #bf8531!default;
$mobile-header-item-bgcolor3: #ad792d!default;
