////////////////////////////////////////////////////////////// 复杂配置
$--color-primary: #8a7341;   //主色
$color: #a1a1a1;        //通用文字色

//菜单
$nav-bgcolor: $--color-primary; //菜单背景色
$nav-color: #dbd5c7; //一级菜单文字色
$nav-hover-color: #fff; //一级菜单hover文字颜色

$nav-deep-color: $nav-color;
$nav-light-color: #b2a482; 

// 手机三色
$mobile-header-item-bgcolor1: #948052!default;
$mobile-header-item-bgcolor2: #7e6a3c!default;
$mobile-header-item-bgcolor3: #584a2a!default;
