////////////////////////////////////////////////////////////// 复杂配置
$--color-primary: #6f58c9;   //主色
$color: #a1a1a1;        //通用文字色

//菜单
$nav-bgcolor: $--color-primary; //菜单背景色
$nav-color: #d4ceee; //一级菜单文字色
$nav-hover-color: #fff; //一级菜单hover文字颜色

$nav-deep-color: $nav-color;
$nav-light-color: #a291de; 

// 手机三色
$mobile-header-item-bgcolor1: #7c67cd!default;
$mobile-header-item-bgcolor2: #6550b7!default;
$mobile-header-item-bgcolor3: #5b49a5!default;