@import "../../css/mixin";
@import "../../css/rem";

//常规部分
$split-color: $--background-border-color-lighter!default; //分割线颜色  
$deep-color: $--background-text-secondary!default;
$light-color: $--background-text-placeholder!default;

// 菜单导航部分
$nav-bgcolor: $--background!default; //菜单背景色
$nav-color: $--background-text-regular!default;  //一级菜单文字色
$nav-hover-color: $--primary!default; //一级菜单hover文字颜色
$nav-hover-bgColor: transparent!default; //一级菜单hover背景色
$nav-deep-color: $deep-color!default;
$nav-light-color: $light-color!default;


html {
    height: 100%;
    font-size: 50px;
    @media (max-width: 768px) { //mobile
         overflow: hidden;
    }
    @media (max-width: 414px) { //mobile
        font-size: 10vw;
    }

    @media (min-width: 415px) and (max-width: 768px) { //mobile
        font-size: 6vw;
    }
}

a, a:hover, a:visited, a:focus {
    text-decoration: none;
}


body { // 未来 删除该部分 style 中的base.css设置

    header {
        ul, li {
            list-style: none;
        }

        &, a {
            color: $deep-color;
        }

        a:hover, a:focus {
            &, i, span {
                color: $--primary!important;
            }
        }

        .nav,
        .mobile-header-info { //导航栏共性设置

            &, a {
                color: $nav-color;
            }

            a:hover, a:focus {
                &, i, span {
                    color: $nav-hover-color!important;
                }
            }
             
        }

        @media (min-width: 768px) { //pc
            .nav .sub-menu { // 导航栏二级菜单
                // &, a {
                //     color: $nav-color;
                // }

                // a:hover, a:focus {
                //     &, i, span {
                //         color: $--primary!important;
                //     }
                // 
            }
        }
    }
}
