@media (min-width: 768px) { //mobile端
    
}


@media (min-width: 769px) { //pc端
    body header {
        background: #252525; 
        .menu-items {
            .sub-menu {
                border-top: 1px solid $main-color;
            }
        }

        .top-container {
            border-bottom: none;
            background: #252525;
        }

    }
}