$main-color: #fc6921;

$color: #666;
//top bar
$top-bar-bgColor: #252525;
$top-bar-color: $color;
$hover: $main-color;

//second bar

$second-bar-bgColor: $top-bar-bgColor;
$second-bar-color: $color;
$second-hover: $main-color;



//菜单
$nav-bgcolor: $top-bar-bgColor;
$nav-color: $color;
$nav-hover-color: $main-color;

//全文检索
$query-btn-bgColor: $top-bar-bgColor;
$query-btn-color: $color;
$query-input-border: $main-color;
$query-input-bgColor: $top-bar-bgColor;
$query-input-color: $color;


