body {
    font-family: "Open Sans", Arial, "Hiragino Sans GB", "Microsoft YaHei", 微软雅黑, STHeiti, "WenQuanYi Micro Hei", SimSun, sans-serif;
}

section {
    .panel {

        background-color: #fff;

        .panel-title  {
            line-height: 69px;
            border-bottom: 1px solid #f5f4f3;

            padding-left: 38px;
            
            .label {
                width: calc(100% - 92px);
            }
            
            &:before {
                content: '';
                display: block;
                position: absolute;
                left: 20px;
                top: 24px;
                width: 6px;
                height: 18px;
                transform: skewX(-15deg); 
                background-color: $main-color;

            }

            .more-text {
                display: none;
            }
        }

         .panel-body {
            padding-bottom: 20px;
         }
        
         border: 2px solid $panel-border-color;
    }   
}