////////////////////////////////////////////////////////////// 复杂配置
$main-color: #d97b48;   //主色
$color: #a1a1a1;        //通用文字色

//菜单
$nav-bgcolor: $main-color; //菜单背景色
$nav-color: #f3d7ca; //一级菜单文字色
$nav-hover-color: #fff; //一级菜单hover文字颜色
$nav-hover-bgColor: #e6824c;
$nav-deep-color: $nav-color;
$nav-light-color: #e7a986; 

// 手机三色
$mobile-header-item-bgcolor1: #dc8758!default;
$mobile-header-item-bgcolor2: #c67042!default;
$mobile-header-item-bgcolor3: #ba653a!default;
