////////////////////////////////////////////////////////////// 复杂配置
$main-color: #8a6ea3;   //主色
$color: #a1a1a1;        //通用文字色

//菜单
$nav-bgcolor: $main-color; //菜单背景色
$nav-color: #d8d4e3; //一级菜单文字色
$nav-hover-color: #fff; //一级菜单hover文字颜色
$nav-hover-bgColor: #9778b3;
$nav-deep-color: $nav-color;
$nav-light-color: #b1a1c9; 

// 手机三色
$mobile-header-item-bgcolor1: #947bab!default;
$mobile-header-item-bgcolor2: #7e6495!default;
$mobile-header-item-bgcolor3: #715b86!default;
