$top-bar-height: 50px;
$second-bar-height: 97px;
$query-input-width: 200px;
$query-input-height: 30px;
$nav-height: 55px;


$query-btn-bgColor: $main-color;
$query-btn-color: $nav-color;
$query-input-border: $color;

header {
  .drawer-navbar {
        
        .drawer-menu > li {

            &>a {
             
              margin: 13px 0;
              height: 29px;
              line-height: 29px;
            }
            
        }
      }
}