////////////////////////////////////////////////////////////// 复杂配置
$--color-primary: #d1913c;   //主色
$color: #a1a1a1;        //通用文字色

//菜单
$nav-bgcolor: $--color-primary; //菜单背景色
$nav-bgcolor2: #ffd194; //菜单背景色2
$nav-color: #fae8d3; //一级菜单文字色
$nav-hover-color: #fff; //一级菜单hover文字颜色

$nav-deep-color: $nav-color;
$nav-light-color: #e7be83; 

// 手机三色
$mobile-header-item-bgcolor1: #d49b4e!default;
$mobile-header-item-bgcolor2: #be8436!default;
$mobile-header-item-bgcolor3: #ac7831!default;
