$--background-color-base: #252525; //基础背景色
$--background-color-base-light: #2f2f2f;
$--background-color-base-summary: #2f2f2f;

// 文字颜色
$--color-text-primary: #999; // 主要文字色
$--color-text-regular: #999; // 常规文字色
$--color-text-secondary: #666; // 次要文字色
$--color-text-placeholder: #d2d2d2; // 占位文字色

// 边框颜色
$--border-color-base: #666; // 一级边框色
$--border-color-light: #3b3b3b; // 二级边框色
$--border-color-lighter: #3b3b3b; // 三级边框色
$--border-color-extra-light: #3b3b3b; // 四级边框色