$--background-color-base: #fff; //基础背景色
$--background-color-base-light: #fff;
// 文字颜色
$--color-text-primary: #666; // 主要文字色
$--color-text-regular: #505050; // 常规文字色
$--color-text-secondary: #a8a8a8; // 次要文字色
$--color-text-placeholder: #C0C4CC; // 占位文字色

// 边框颜色
$--border-color-base: #bfbfbf; // 一级边框色
$--border-color-light: #EBEEF5; // 二级边框色
$--border-color-lighter: #EBEEF5; // 三级边框色
$--border-color-extra-light: #F2F6FC; // 四级边框色
