footer {
    width: 100%;
    background: #1c1c1c;
    padding: 40px 0;
    color: #fff;

    .copyright {
        // font-size: #8493a8;
        color: #8493a8;
        margin: 20px 0;
    }
    
    dl.list {
        h3 {
            color: #abacbe;
            font-size: 2.1rem;
            // margin-bottom: 20px;
        }

        dd {
            margin: 2rem 0;
            // margin-bottom: 1rem;
            font-size: 1.6rem;
        }
    }
}