////////////////////////////////////////////////////////////// 复杂配置
$main-color: #ddb472;   //主色
$color: #a1a1a1;        //通用文字色

//菜单
$nav-bgcolor: $main-color; //菜单背景色
$nav-color: #fbefdc; //一级菜单文字色
$nav-hover-color: #fff; //一级菜单hover文字颜色
$nav-hover-bgColor: #50327c; //菜单背景色

$nav-deep-color: $nav-color;
$nav-light-color: #f5d17e; 

// 手机三色
$mobile-header-item-bgcolor1: #e0ba7e!default;
$mobile-header-item-bgcolor2: #c9a468!default;
$mobile-header-item-bgcolor3: #b5945e!default;
