@import "_variable-5";
@import "../../structure";
@import "../../../base";
@import "../../../style-4";
@media (min-width: 992px) {
    header .drawer-navbar .drawer-navbar-header {
        background-color: $main-color;
    }
   
}

header .search.style0 {
     input {
        border-radius: 15px;
        width: 150px;
        padding: 0 10px;
    }

    #btn-full-query {
        margin-left: -40px;

        i {
            color: $main-color;
        }
    }
}