html {
    font-size: 10px;

    // @media (max-width: 64em) {
    //     font-size: 16px;
    // }
}



//5列
.col-xs-5, .col-sm-5, .col-md-5, .col-lg-5 {
    position: relative;
    min-height: 1px;
    // padding-right: 15px;
    // padding-left: 15px;
}
 
@media ( min-width : 768px) {
    .col-sm-5 {
        width: 20%;
    }
}
 
@media ( min-width : 992px) {
    .col-md-5 {
        width: 20%;
    }
}
 
@media ( min-width : 1200px) {
    .col-lg-5 {
        width: 20%;
    }
}

%position-center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.main-block {
    height: 300px;
    background: $main-color;
}

.btn {
        display: inline-block;
        border-radius: $btn-radius;
        line-height: $btn-height;
        color: $summary-color;//$main-color;
        border: 1px solid #c0c0c0;//$main-color;
        padding: 0 20px;
        letter-spacing: 2px;
        background-color: transparent;
        font-size: 1.2rem;

        &:hover {
            background: $main-color;
            border-color: $main-color;
            color: #fff;
        }
}

body .layui-layer-setwin .layui-layer-close2 {
    top: -10px;
    right: -50px;
}



.sider-bar {
    position: fixed;
    right: 0px;
    top: 50%;
    z-index: 99999;
    width: 58px;
    padding: 0 16px;
    text-align: center;
    box-shadow: rgba(7, 17, 27, 0.1) 0px 4px 12px 0px;
    background-color: #fff;
    font-size: 12px;


    a {
        position: relative;
        color: rgb(217, 221, 225);
        display: block;
        height: 57px;
        // line-height: 57px;
        padding-top: 18px;
        border-bottom: 1px solid rgb(237, 241, 242);
        text-decoration: none;

        span {
            display: none;
            // display: inline-block;
            line-height: 12px;
            color: #07111b;
        }

        img {
            position: absolute;
            top: 0;
            right: 43px; 
            // background-color: #fff;
            display: none;
            width: 120px;
        }
        &:hover {
            i {
                display: none;
            }
            span {
                display: inline-block;
            }

             img {
                display: block;
                // transform: scale(1);

                // transform-origin: 100% 95%;
                // transition: opacity .25s,transform .3s;
                // padding: 10px;
            }
        }
    }

    .iconfont {
        font-size: 2.4rem;
        font-weight: bold;
    }
}


//分页
div.page-container {
    text-align: center;
    // margin-top: 20px;
    ul.pagination {
        display: inline-block;
    }

    li {
        list-style: none;
        float: left;
     
        &.active > a,  &.active a:hover, &.active a:visited {
            background-color: $main-color;
            color: #fff;
            border-color: $main-color;
        }

        a {
            display: inline-block;
            height: 34px;
            line-height: 20px;
            padding: 6px 12px;
            border-top: 1px solid $split-color;
            border-bottom: 1px solid $split-color;
            border-right: 1px solid $split-color;

            &:visited {
                color: inherit;
            }


            &:hover {
                background-color: #eee;
                color: $main-color;
            }
        }

        &:first-child>a {
            border-left: 1px solid $split-color;
            border-top-left-radius:4px;
            border-bottom-left-radius:4px;
        }

        &:last-child>a {
            border-top-right-radius:4px;
            border-bottom-right-radius:4px;
        }
    }
}

.layui-layer-content embed, .layui-layer-content iframe {
        display: block;
}


section {
    position: relative;
    // .iconfont {
    //     line-height: 100%;
    // }


    a {
        color: $title-color;

        &:hover, &:focus {
            color: $main-color;
            text-decoration: none;
        }
    }

    .title>a, .title>span {
        display: block;
        overflow: hidden;
        white-space: nowrap;
        // font-weight: 200;
        // letter-spacing: .01rem;
        // text-overflow:ellipsis;
    }

    // .pull-right {
    //     position: absolute;
    //     right: 0;
    // }

    

    input[type=text] {
        height: $btn-height + 2;
        width: 200px;
    }

    background-color: $background-color;

    .container-fluid, .container {
        position: relative;
    } 

    .container-fluid, .container {
        padding: 0;
        &>.row {
            margin: 0;
        }

        &>.row>.col-md-12 {
            padding: 0;
        }
        .panel { //全屏不显示边框
            border: none;
        }
    } 

    // .cpn-parent {
    //     min-height: 0;
    // }



    .panel {

        &.marginDisplayFalse {
            margin-bottom: 0;
        }

        margin-bottom: $panel-padding + 5;

        //
        .more-position-bottom {
            text-align: center;
            margin-top: $panel-padding;

            @if ($more-position == right) {
                display: none;
            }

            .btn {
                width: 200px;
                // border-color: #a1a1a1;
                // color: #a1a1a1;
                line-height: 40px;

                &:hover {
                    background: $main-color;
                    color: #fff;
                    border-color: $main-color;
                }
            }
        }
    }
    
    

    .panel-title {
        position: relative;
        // height: $panel-title-height;
        line-height: $panel-title-height;
        background-color: $panel-title-bgColor;
        color: $panel-title-color;
        text-align: $panel-title-position;

        .label {
            position: relative;
            display: inline-block;
            background-color: $panel-title-label-bgColor;
            font-size: $panel-title-font-size;
            padding: 0 $panel-padding;

        }
        
        .more {
                position: relative;
                background-color: $panel-title-more-bgColor;
                padding: 0 $panel-padding;

                & a {
                    line-height: 1;
                    color: $panel-title-more-color;
                    &:hover {
                        color: $main-color;
                    }
                }
        }

        @if ($more-position == bottom) {
            .more {
                display: none;
            }
        }
    }

    .panel-body {

        &.paddingDisplayFalse {
            background: transparent;
            padding: 0;

            &.single-line-1.single-col-1 .content-box {
                padding-bottom: 0;
            }


        }
        
        background-color: $panel-body-bgColor;
        .row {
            margin-left: -$panel-padding/2;
            margin-right: -$panel-padding/2;
        }
        .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
            padding-left: $panel-padding/2;
            padding-right: $panel-padding/2;
        }
        
        color: $title-color;
        padding:  $panel-padding $panel-padding 0 $panel-padding; //todo
    }

    // .panel-title+.panel-body {
         
    // }


    .swiper-container {
        // padding: 15px;
        .panel-body {
            padding: 0;
        }

         .content-box {
            width: 100%;
            // padding-right: 15px;
        }
    }
   
    .content-box {
        display: block;
        padding-bottom: $panel-padding;

        

        .wrapper {
            position: relative;
            overflow: hidden;
        }

        
        
        // .wrapper.borderable {
        //     border: 1px solid transparent;

        //     &:hover {
        //         border-color: $content-box-hover-borderColor;
        //         background-color: $content-box-hover-bgColor;
        //     }
        // }


        .cover {
            display: block;
            position: relative;
            text-align: center;
            overflow: hidden;

            img {
                width: 100%;
                display: block;
            }

            .title {
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                background-color: $title-color;
                font-size: 1.4rem;
                color: #fff;
                opacity: .8;
                filter: alpha(opacity=80);
            }

            &:hover {
                .white-mask, .black-mask{
                     opacity: .2;
                     filter: alpha(opacity=20);
                }

                .main-mask {
                     opacity: .8;
                     filter: alpha(opacity=80);
                }

                .icon-play1/*, .title*/ { // fixed
                    color: $main-color;
                }
            }

            %mask {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                
                opacity: 0;
                filter: alpha(opacity=0);
            }

            .white-mask {
                @extend %mask;
                background-color: #fff;
            } 

            .black-mask {
                @extend %mask;
                background-color: #000;
            } 

            .black-mask-fixed {
                @extend %mask;
                opacity: 0.3;
                filter: alpha(opacity=30);
                background-color: #000;
            }

            .main-mask {
                @extend %mask;
                background-color: $main-color;
            } 

            .icon-play2 {
                font-size: 2rem;
                color: #fff;
            }

            %container-icon-play1 {
                position: absolute;
                color: #fff;
                // font-size: 2.5em;
                width: 40px;
                line-height: 40px;
                height: 40px;
                text-align: center;
                border-radius: 40px;
                background-color: rgba(0, 0, 0, .5);
            }

            .container-icon-center {
                @extend %container-icon-play1;
                left: 50%; 
                top: 50%;
                transform: translate(-50%, -50%);
                -webkit-transform: translate(-50%, -50%);
                -moz-transform: translate(-50%, -50%);
                -ms-transform: translate(-50%, -50%);
            }

            .container-icon-left {
                @extend %container-icon-play1;
                left: 10%;
                bottom: 5%;
            }

             .container-icon-right {
               @extend %container-icon-play1;
                right: 5%;
                bottom: 5%;
            }

        }

        .scale:hover img {
            transform: scale(1.2);
            -moz-transform: scale(1.2);
            -webkit-transform: scale(1.2);
            -o-transform: scale(1.2);
            -ms-transform: scale(1.2);
        }

        .scale img {
                transition: all 1.2s;
                -moz-transition: all 1.2s;
                -webkit-transition: all 1.2s;
                -o-transition: all 1.2s;
        }

        .content {
            display: block;
            background-color: $content-bgColor;
            overflow: hidden;
            .title {
                font-size: $content-title-font-size;
                background-color: $content-title-bgColor;
                color: $content-title-color;               

                a {
                    color: $content-title-color;

                    &:hover {
                        color: $main-color;
                    }
                }
            }

            .article-bar {
                display: inline-block;
                color: $content-summary-color;
                font-size: 1.2rem;

                li {
                    float: left;
                    margin-right: 10px;
                }
            }

            %summary {
                // line-height: 1.6;
                color: $content-summary-color;
                background-color: $content-summary-bgColor;
                font-size: $content-summary-font-size;
            }

            .summary-fix {
                @extend %summary;
                height: 66px; //$content-summary-fix-height;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 3;
                overflow: hidden;
            }

            .summary-fulid {
                 @extend %summary;
                 // margin-top: 10px;
            }

            .summary-line {
                @extend %summary;
                overflow: hidden; 
                white-space: nowrap;
            }
        }        
    }
}