html {
    font-size: 10px;
    // @media (max-width: 768px) {
    //     font-size: 9px;
    // }
}

//5列
.col-xs-5, .col-sm-5, .col-md-5, .col-lg-5 {
    position: relative;
    min-height: 1px
}
 
@media ( min-width : 768px) {
    .col-sm-5 {
        width: 20%;
    }
}
 
@media ( min-width : 992px) {
    .col-md-5 {
        width: 20%;
    }
}
 
@media ( min-width : 1200px) {
    .col-lg-5 {
        width: 20%;
    }
}

@media (min-width: 992px) {
    .col-md-offset-15 {
        margin-left: 12.5%;
    }
}

%position-center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.main-block {
    background: $main-color;
}


.front-side .btn {
        display: inline-block;
        border-radius: $btn-radius;
        line-height: $btn-height;
        color: $summary-color;//$main-color;
        border: 1px solid $split-color;//$main-color;
        padding: 0 20px;
        letter-spacing: 2px;
        background-color: transparent;
        font-size: 1.2rem;

        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        &:hover {
            background: $main-color;
            border-color: $main-color;
            color: #fff;
        }
}

body .layui-layer-setwin .layui-layer-close2 {
    top: -10px;
    right: -50px;
}

.cover img {
        width: 100%;
        display: block;
}

//模版重写样式
.cover .cke_widget_inline {
    display: block;
}

.cke_editable {
  img, video, embed {
    max-width: 100%!important;
  }
}

//侧边栏
.sider-bar {
    position: fixed;
    right: 0px;
    top: 50%;
    z-index: 99999;
    width: 58px;
    padding: 0 16px;
    text-align: center;
    box-shadow: rgba(7, 17, 27, 0.1) 0px 4px 12px 0px;
    background-color: #fff;
    font-size: 12px;


    a {
        position: relative;
        color: rgb(217, 221, 225);
        display: block;
        height: 57px;
        padding-top: 18px;
        border-bottom: 1px solid rgb(237, 241, 242);
        text-decoration: none;

        span {
            display: none;
            line-height: 12px;
            color: #07111b;
        }

        img {
            position: absolute;
            top: 0;
            right: 43px; 
            display: none;
            width: 120px;
        }
        &:hover {
            i {
                display: none;
            }
            span {
                display: inline-block;
            }

            img {
                display: block;
            }
        }
    }

    .iconfont {
        font-size: 2.4rem;
        font-weight: bold;
    }
}


//分页
div.page-container {
    text-align: center;
    margin-top: 1.6rem;

    ul.pagination {
        display: inline-block;
    }

    li {
        list-style: none;
        float: left;
     
        &.active > a,  &.active a:hover, &.active a:visited {
            background-color: $main-color;
            color: #fff;
            border-color: $main-color;
        }

        a {
            display: inline-block;
            height: 34px;
            line-height: 20px;
            padding: 6px 12px;
            border-top: 1px solid $split-color;
            border-bottom: 1px solid $split-color;
            border-right: 1px solid $split-color;

            &:visited {
                color: inherit;
            }


            &:hover {
                background-color: #eee;
                color: $main-color;
            }
        }

        &:first-child>a {
            border-left: 1px solid $split-color;
            border-top-left-radius:4px;
            border-bottom-left-radius:4px;
        }

        &:last-child>a {
            border-top-right-radius:4px;
            border-bottom-right-radius:4px;
        }
    }
}

.layui-layer-content embed, .layui-layer-content iframe {
        display: block;
}


section {
    position: relative;

    a {
        color: $title-color;

        &:hover, &:focus {
            color: $main-color;
            text-decoration: none;
        }
    }

    .title {
        overflow: hidden;
        text-overflow: ellipsis;
        word-wrap: break-word;
        word-break: break-all;
        white-space: nowrap;

        &>a, &>span {
            display: block;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }


    input[type=text] {
        height: $btn-height + 2;
        width: 200px;
    }

    background-color: $background-color;


    .container-fluid {
        position: relative;

        .panel { //全屏不显示边框
            border: none;
        }
    } 

    @media (max-width: 992px) { //手机端去除外层边距
        &>.container {
            // // padding: 0;
            // width: 100%;

            &>.row {
            margin-left: 0;
            margin-right: 0;

                &> div {
                    padding-left: 0;
                    padding-right: 0;
                }
            }

           


        }
    }

    .container-fluid { //通栏没有边距
        padding: 0;

        &>.row {
            margin-left: 0;
            margin-right: 0;
        }

        .f-12 {
            padding-left: 0;
            padding-right: 0;
        }
    }

    .panel {
        overflow: hidden;
        &.marginDisplayFalse {
            margin-bottom: 0;
        }

        // margin-bottom: $panel-padding + 5; //有「间隔控件」代替

        .more-position-bottom {
            text-align: center;
            margin: $panel-padding 0;

            @if ($more-position == right) {
                display: none;
            }

            .btn {
                width: 200px;
                line-height: 40px;

                &:hover {
                    background: $main-color;
                    color: #fff;
                    border-color: $main-color;
                }
            }
        }
    }
    
    

    .panel-title {
        position: relative;
        background-color: $panel-title-bgColor;
        color: $panel-title-color;
        text-align: $panel-title-position;
        padding: 0 $panel-padding;
        height: $panel-title-height;
        line-height: $panel-title-height;

        .label {
            position: relative;
            max-width: 100%;
            display: inline-block;
            background-color: $panel-title-label-bgColor; 
            font-size: $panel-title-font-size;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            
        }
        
        .more {
                position: relative;
                background-color: $panel-title-more-bgColor;
                // padding: 0 $panel-padding;

                & a {
                    line-height: 1;
                    color: $panel-title-more-color;
                    &:hover {
                        color: $main-color;
                    }
                }
        }

        @if ($more-position == bottom) {
            .more {
                display: none;
            }
        }
    }

    .panel-body.moban { //模版
        $item-padding: 15px;
        

        .row {
            margin-left: -$item-padding;
            margin-right: -$item-padding;
        }

        .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
            padding-left: $item-padding;
            padding-right: $item-padding
        }
    }

    .panel-body {
        // overflow: hidden;

        &.paddingDisplayFalse {
            background: transparent;
            padding: 0!important;

            &.single-line-1.single-col-1 .content-box {
                padding-bottom: 0;
            }
        }
        
        background-color: $panel-body-bgColor;
    
        $item-padding: 5px;
        

        .row {
            margin-left: -$item-padding;
            margin-right: -$item-padding;
        }

        .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
            padding-left: $item-padding;
            padding-right: $item-padding
        }
        
        color: $title-color;
        padding:  $panel-padding $panel-padding 0 $panel-padding; //todo
    }

    // .panel-title+.panel-body {
         
    // }


    .swiper-container {

        .swiper-wrapper {
            &>div {
                padding: 0; //必须
            }
        }

        .panel-body {
            padding: 0;
        }

         .content-box {
            width: 100%;
        }
    }

    .swiper-wrapper .content-box {
        padding-bottom: 0; // 轮播图的间隔由swiper去实现
    }
   
    .content-box {
        $item-padding: 5px;

        display: block;
        padding-bottom: $item-padding * 2;

        

        .wrapper {
            position: relative;
            overflow: hidden;
        }


        .cover {
            display: block;
            position: relative;
            text-align: center;
            overflow: hidden;

            .btn{
                background-color: transparent;
            }

            .title {
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                background-color: $title-color;
                font-size: 1.4rem;
                color: #fff;
                opacity: .8;
                filter: alpha(opacity=80);
            }

            &:hover {
                .white-mask, .black-mask{
                     opacity: .2;
                     filter: alpha(opacity=20);
                }

                .main-mask {
                     opacity: .8;
                     filter: alpha(opacity=80);
                }

                .icon-play1/*, .title*/ { // fixed
                    color: $main-color;
                }
            }

            %mask {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                
                opacity: 0;
                filter: alpha(opacity=0);
            }

            .white-mask {
                @extend %mask;
                background-color: #fff;
            } 

            .black-mask {
                @extend %mask;
                background-color: #000;
            } 

            .black-mask-fixed {
                @extend %mask;
                opacity: 0.3;
                filter: alpha(opacity=30);
                background-color: #000;
            }

            .main-mask {
                @extend %mask;
                background-color: $main-color;
            } 

            .icon-play2 {
                font-size: 2rem;
                color: #fff;
            }

            %container-icon-play1 {
                transition: all 0.36s ease 0s;
                position: absolute;
                color: #fff;
                z-index: 3;
            }

            .container-icon-center {
                @extend %container-icon-play1;
                left: 50%; 
                top: 50%;
                transform: translate(-50%, -50%);
                -webkit-transform: translate(-50%, -50%);
                -moz-transform: translate(-50%, -50%);
                -ms-transform: translate(-50%, -50%);
                
            }

            .container-icon-left {
                @extend %container-icon-play1;
                left: 10%;
                bottom: 5%;
            }

             .container-icon-right {
               @extend %container-icon-play1;
                right: 5%;
                bottom: 5%;
            }

        }

        .scale:hover img {
            transform: scale(1.2);
            -moz-transform: scale(1.2);
            -webkit-transform: scale(1.2);
            -o-transform: scale(1.2);
            -ms-transform: scale(1.2);
        }

        .scale img {
                transition: all 1.2s;
                -moz-transition: all 1.2s;
                -webkit-transition: all 1.2s;
                -o-transition: all 1.2s;
        }

        .content {
            display: block;
            background-color: $content-bgColor;
            overflow: hidden;
            .title {//都显示1行，省略号
                // font-size: $content-title-font-size;
                background-color: $content-title-bgColor;
                color: $content-title-color;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;          

                a {
                    color: $content-title-color;

                    &:hover {
                        color: $main-color;
                    }
                }
            }

            .article-bar {
                display: inline-block;
                color: $content-summary-color;
                font-size: 1.2rem;

                li {
                    float: left;
                    margin-right: 10px;
                }
            }

            %summary {
                color: $content-summary-color;
                background-color: $content-summary-bgColor;
                // font-size: $content-summary-font-size;
            }

            .summary-fixed {
                @extend %summary;
                -webkit-box-orient: vertical;
                overflow: hidden;
                white-space: normal;
                word-wrap: break-word;
                word-break: break-all;
            }

            .summary-line {
                @extend %summary;
                height: 21px;
                overflow: hidden; 
                white-space: nowrap;
                text-overflow: ellipsis;
            }
        }        
    }
}