$default-color: #ccc;

html {
    font-size: 62.5%;
    font-family: "PingFang SC", "Microsoft YaHei", "Helvetica Neue", "Hiragino Sans GB", "Segoe UI", 微软雅黑, sans-serif;


    
    @media (max-width: 768px) {
         font-size: 30%;
    }
}

/*common control*/
.btn {
    display: inline-block;
    border: none;
    height: 30px;
    line-height: 30px;
    width: 124px;
    text-align: center;
    // margin-top: 10px;
    background-color: $btn-bgcolor;
    color: $btn-color;
}

input[type=text] {
    // display: inline-block;
    height: 30px;
    width: 300px;
}

a {
    color: inherit;
    &:hover {
        color: $main-color;
        text-decoration: none;
    }

    &:focus {
        text-decoration: none;
    }
}

/*轮播图*/
.swiper-container {
    .banner-text {
        position: absolute;
        left: 50%;
        top: 40%;
        color: #fff;
        h1 {
            font-size: 6rem;
            margin: 20px 0;
        }
        p {
            font-size: 3.2rem;
        }
    } 

    .swiper-pagination-bullet-active {
        background-color: $main-color;
    }

    

}


.pagination {
  display: inline-block;
  padding-left: 0;
  margin: 20px 0;
  border-radius: 4px;
}

.pagination li {
  display: inline;
}

.pagination .active > a, .pagination .active > a:hover, .pagination .active > a:focus {
  color: #fff;
  background-color: #1a54e7;
}

.pagination li > a {
  float: left;
  margin-left: -1px;
  padding: 6px 12px;
  line-height: 1.42857143;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #ddd;
}

.pagination li > a:hover {
  background-color: #eee;
  border-color: #ddd;
}

.pagination > li:first-child > a, .pagination > li:first-child > span {
  margin-left: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.pagination > li:last-child > a, .pagination > li:last-child > span {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
section {
    background-color: $background-color;
}
/**/
.panel {
    position: relative;
    background-color: $panel-body;
    color: $content-color;
    margin: 15px 0;

    // .summary {
        line-height: 1.5;
    // }

    .summary {
        line-height: 1.8;
    }

    img {
            width: 100%;
        }

    // a {
    //     color: inherit;
    // }

    a:hover {
        text-decoration: none;

        &.content-title, .content-title {
            color: $main-color;
        }
    }

    

    .panel-title {
        position: relative;
        background-color: $panel-title-bgcolor;

        h2 {
            padding: 10px;
            font-size: 1.9rem;
            font-weight: 500;
            color: $panel-title-color;
        }

        a.more {
            display: block;
            position: absolute;
            right: 10px;
            top: 50%; 
            transform: translateY(-50%); 
            font-size: 1.4rem;
        }
    }


    .panel-body {
        display: block;
        box-sizing: border-box;
        padding: 15px;
        font-size: 1.4rem;

        .item {
            position: relative;
            display: block;
            margin-bottom: 15px;
        }

        .content-title {
            color: $content-title-color;
            font-weight: 500; 
        }
    }

}



.article-list-1 {
    .cover {
        // float: left;
        display: table-cell;
        width: 25%;
    }
    .content  {
        display: table-cell;
        padding-left: 5px;
        // float: left;
        width: 75%;
        vertical-align: middle;
    }

    .detail {
        font-size: 1.2rem;
    }
}

.article-list-2 {

    .item {
        padding: 5px;
        border: 1px solid #e9ebec;
        border-radius: 4px;

        .item-title {
            position: absolute;
            top: 50%;
            left: 50%;
            -webkit-transform: translateX(-50%) translateY(-50%);
            font-size: 1.4rem;
            border: 1px solid #fff;
            padding: 5px;
            &>div {
                 background-color: #fff;
                 padding: 10px;
                 min-width: 130px;
                 text-align: center;
            }
        }
    }
}

.article-list-3 {
    .content-title {
        margin: 5px 0;

        &:before {
            content: '';
            display: inline-block;
            width: 5px;
            height: 5px;
            background-color: $default-color;
            position: relative;
            left: -5px;
            top: -2px;
        }
    }

    .panel-body .item {
        margin-bottom: 8px;
    }

    .detail {
        font-size: 1.2rem;
        // margin-left: 5px;
        float: right;
    }
}

$min-width: 262.5px;

.col-xs {
    min-width: $min-width;
}

.article-list-4 {

    .item {
        margin-top: 2px;

        &:not(:last-child) {
            padding-bottom:  10px;
            border-bottom: 1px solid $default-color;
        }

    }


    .panel-body {
        .cover {
            text-align: center;
            
        }

        .content-title {
            font-size: 2rem;
            margin-bottom: 8px;
        }

        a.more {
            margin-top: 5px;
            font-size: 1.5rem;
            text-decoration: underline;
        }

    }

}


.article-1, .article-2 {
    .cover {
        text-align: center;

        img {
            max-width: 100%;
        }
    }

    .content-title {
        padding: 40px 0 35px 0;
        font-size: 2.1rem;
        // color: #333333;
        // line-height: 1.5;

        &:after {
            content: "";
            width: 20px;
            height: 1px;
            display: block;
            background-color: $default-color;
            margin-top: 10px;
        }
    }

    a.btn {
        margin-top: 10px; 
        &:hover {
            color: $btn-color;
        }
    }
}

.article-2  {
    .content-title {
        padding: 0 0 35px 0;
    }
}

.pic-1, .pic-2, .video-1 {
    
    img {
        display: block;
        width: 100%
    }

    .pic-title {
        position: absolute; 
        bottom: 0;  padding: 0 10px;
        height: 30px; 
        line-height: 30px;
        color: #fff; 
        background-color: #333; 
        opacity: .8; width: 100%
    }

    .icon-play1 {
        position: absolute; 
        top: 40%; 
        left: 50%; 
        font-size: 3rem; 
        transform: translateX(-50%) translateY(-40%);
    }
}

.pic-list-1, .pic-list-2 {
    img {
        display: block;
    }
    .content {
        padding: 5px 10px;
    }
    .content-title {
        font-size: 1.6rem;
    }
}

.pic-list-1 {
    .content {
        height: 80px;
        background-color: $default-color;
        overflow: hidden;
    }
    a.item:hover {
        color: #fff;
        .content-title {
            color: #fff;
        }
        .content {
            background-color: $main-color;
        }
    }
}

.pic-list-2 {
    .caption-mask {
        height: 0;

        position: absolute;
        bottom: 0;
        background-color: $main-color;
        // display: none;
        color: #fff;
        width: 100%;
        transition-property: height;
        transition-duration: .5s;
        overflow: hidden;
        .content-detail {
            padding: 10px;
        }
    }
   .content-title {
        background-color: $default-color;
        height: 50px;
        line-height: 50px;
        width: 100%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        padding: 0 10px;
   } 

   .item:hover {
       .caption-mask {
          display: block;
          height: 100px;
       }
       
   }
}



.panel-html {
    img {
        width: auto;
    }

    ul, li {
        list-style: disc;
    }

    ul {
        margin: 13px 0;
        padding: 0 40px;
    }

    strong, b {
        font-weight: bold;
    }

}


//article view
.comm-article {
    .content {
        margin: 10px 20px;
    }
    .content-title {
        padding: 10px 0;
    }

    .summary {
        font-size: 1.6rem;
        margin-top: 20px;
    }

    img {
        width: auto;
    }

    .article-info {
        span {
          // float: left;
          font-size: 12px;
          padding-left: 4px;
          line-height: 16px;
          height: 16px;
          margin-right: 10px;
          // margin: 8px 6px 6px 0;

          i {
            margin-right: 4px;
          }
      }
    }


    .bdsharebuttonbox {
        margin-right: 15px;
    }   
}

.panel-full-text {
    padding: 20px;

    img {
        width: 100%;
    }

    em {
        color: red;
    }

    .pannel-query-box {
        margin-bottom: 20px;
    }

    .panel-query {
        border-bottom: 1px solid rgb(235, 235, 235);
        padding: 10px 0; 
        margin-bottom: 15px;

        input {
            position: relative;
            top: -2px;
        }
    }

    .panel-query-box-title {
        font-size: 1.6rem; 
        margin-bottom: 10px;
        text-decoration: underline;
        & a {
            color: inherit;
        }
    }

    .panel-query-box-content {
        font-size: 1.3rem; 
        line-height: 1.5;
    }
}

.sider-bar {
    position: fixed;
    right: 8px;
    top: 40%;
    z-index: 99999;
    width: 58px;
    padding: 0 16px;
    text-align: center;
    box-shadow: rgba(7, 17, 27, 0.1) 0px 4px 12px 0px;
    background-color: #fff;


    a {
        position: relative;
        color: rgb(217, 221, 225);
        display: block;
        height: 57px;
        // line-height: 57px;
        padding-top: 18px;
        border-bottom: 1px solid rgb(237, 241, 242);
        text-decoration: none;

        span {
            display: none;
            // display: inline-block;
            line-height: 12px;
            color: #07111b;
        }

        img {
            position: absolute;
            top: 0;
            right: 46px; 
            // background-color: #fff;
            display: none;
        }
        &:hover {
            i {
                display: none;
            }
            span {
                display: inline-block;
            }

             img {
                display: block;
                // transform: scale(1);

                // transform-origin: 100% 95%;
                // transition: opacity .25s,transform .3s;
                // padding: 10px;
            }
        }
    }

    .iconfont {
        font-size: 2.4rem;
        font-weight: bold;
    }
}