@import "cpn";

@mixin titleLine($line, $fontSize: 1.8rem) { // 标题行数
    .title {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: $line;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: $fontSize;
    }
}

@mixin titleHide() {//隐藏标题
    .title {
        display: none;
    }
}

@mixin summaryLine($line, $height: auto) { //描述行数&高度
    .summary-fluid, .summary-fixed {
        -webkit-line-clamp: $line;
        height: $height;
    }
}

@mixin summaryHide() { // 隐藏描述
    .summary-fluid, .summary-fixed, .summary-line {
        display: none;
    }
}

@mixin contentHide() { // 隐藏标题和描述
    .content {
        display: none;
    }
}



  /////////////////////////////common style start
  $title-font-size-big: 1.8rem;
  $title-font-size-medium: 1.6rem;
  $title-font-size-small: 1.4rem;
  $title-font-size-smallest: 1.2rem;

  $summary-font-size-big: 1.4rem;
  $summary-font-size-small: 1.2rem;

  $content-padding-big: 2.4rem 1rem;
  $content-padding-medium: 1.6rem 1rem;
  $content-padding-small: .8rem 1rem;
  $content-padding-smallest: .2rem .2rem;




.f-12, .c-12, .c-9, .c-6, .c-4, .c-3 {
    //mobile 6 
    @media screen and(max-width: 768px) {

        .col-xs-6 {
            .content {
                padding: $content-padding-small;

                .title {
                    font-size: $title-font-size-medium;
                }

                .summary-fixed, .summary-line {
                    font-size: $summary-font-size-big;
                }
            }
        }

        .col-sm-4 {
            .content {
                padding: $content-padding-small;

                .title {
                    font-size: $title-font-size-medium;
                }

                .summary-fixed, .summary-line {
                    font-size: $summary-font-size-big;
                }
            }
        }

        
    }


    //iphone 5
    @media screen and (max-device-width : 350px) {
        .content {
            padding: $content-padding-small;

            .title {
                font-size: $title-font-size-medium;
            }

            .summary-fixed, .summary-line {
                font-size: $summary-font-size-big;
            }
        }
                
    }
        
}


.f-12, .c-12 {
        
    //PC & pad pro
    @media screen and(min-width: 992px) {
        .col-md-12,
        .col-md-6 {
            .content {
                padding: $content-padding-big;

                .title {
                    font-size: $title-font-size-big;
                }

                .summary-line, .summary-fixed {
                    font-size: $summary-font-size-big;
                }
            }
        }


         .col-md-4,
         .col-md-3 {
            .content {
                padding: $content-padding-small;

                .title {
                    font-size: $title-font-size-big;
                }

                .summary-line, .summary-fixed {
                    font-size: $summary-font-size-big;
                }
            }
         }
        
        
        .col-md-5, 
        .col-md-2 {
            .content {
                padding: $content-padding-small;

                .title {
                    font-size: $title-font-size-medium;
                }

                .summary-line, .summary-fixed {
                    font-size: $summary-font-size-small;
                }
            }
            
        }
    }
 }

.c-3 {

     //PC & pad pro
     @media screen and(min-width: 992px) {
        .col-md-12 {
            .content {
                padding: $content-padding-small;
                .title {
                    font-size: $title-font-size-big;
                }

                .summay-line, .summary-fixed {
                    font-size: $summary-font-size-big;
                }
            }
        }
         
         .col-md-6 {
            .content {
                padding: $content-padding-small;

                .title {
                    font-size: $title-font-size-small;
                }

                .summay-line, .summary-fixed {
                    font-size: $summary-font-size-small;
                }
            }
         }

         .col-md-4,
         .col-md-3,
         .col-md-5 {
            .content {
                padding: $content-padding-small;
                .title {
                    font-size: $title-font-size-smallest;
                }

                .summay-line, .summary-fixed {
                    font-size: $summary-font-size-small;
                }
            }
         }

         .col-md-2 {.content {
                padding: $content-padding-smallest;
                .title {
                    font-size: $title-font-size-smallest;
                }

                .summay-line, .summary-fixed {
                    font-size: $summary-font-size-small;
                }
            }

         }

     }
 }

 .c-9 {

    @media screen and(min-width: 992px) {
        .col-md-12 {
            .content {
                padding: $content-padding-medium;

                .title {
                    font-size: $title-font-size-big;
                }

                .summary-line, .summary-fixed {
                    font-size: $summary-font-size-big;
                }
            }
        }

        .col-md-6,
        .col-md-4 {
            .content {
                padding: $content-padding-small;

                .title {
                    font-size: $title-font-size-big;
                }

                .summary-line, .summary-fixed {
                    font-size: $summary-font-size-big;
                }
            }
        }


        

        .col-md-3 {
            .content {
                padding: $content-padding-small;

                .title {
                    font-size: $title-font-size-medium;
                }

                .summary-line, .summary-fixed {
                    font-size: $summary-font-size-big;
                }
            }
         }

         .col-md-5,
         .col-md-2 {
            .content {
                padding: $content-padding-small;
                .title {
                    font-size: $title-font-size-medium;
                }

                .summary-line, .summary-fixed {
                    font-size: $summary-font-size-small;
                }
            }
         }
     }
 }

.c-6 {

     @media screen and(min-width: 992px) {

        .col-md-12 {
            .content {
                padding: $content-padding-medium;
                .title {
                    font-size: $title-font-size-big;
                }

                .summay-line, .summary-fixed {
                    font-size: $summary-font-size-big;
                }
            }
        }
        .col-md-6 {
            .content {
                padding: $content-padding-small;

                .title {
                    font-size: $title-font-size-big;
                }

                .summary-line, .summary-fixed {
                    font-size: $summary-font-size-big;
                }
            }
        }
         
         .col-md-4 {
            .content {
                padding: $content-padding-small;
                .title {
                    font-size: $title-font-size-small;
                }

                .summay-line, .summary-fixed {
                    font-size: $summary-font-size-small;
                }
            }
         }

         .col-md-3,
         .col-md-5,
         .col-md-2 {
            .content {
                padding: $content-padding-small;
                .title {
                    font-size: $title-font-size-smallest;
                }

                .summay-line, .summary-fixed {
                    font-size: $summary-font-size-small;
                }
            }
         }
     }
 }

.c-4 {
     @media screen and(min-width: 992px) {
         .col-md-12 {
            .content {
                padding: $content-padding-medium;

                .title {
                    font-size: $title-font-size-big;
                }

                .summary-line, .summary-fixed {
                    font-size: $summary-font-size-big;
                }
            }
         }
         .col-md-6 {
            .content {
                padding: $content-padding-small;
                .title {
                    font-size: $title-font-size-medium;
                }

                .summay-line, .summary-fixed {
                    font-size: $summary-font-size-small;
                }
            }
         }

         .col-md-4,
         .col-md-3 {
            .content {
                padding: $content-padding-small;
                .title {
                    font-size: $title-font-size-small;
                }

                .summay-line, .summary-fixed {
                    font-size: $summary-font-size-small;
                }
            }
         }
         .col-md-5,
         .col-md-2 {
            .content {
                padding: $content-padding-small;
                .title {
                    font-size: $title-font-size-smallest;
                }

                .summay-line, .summary-fixed {
                    font-size: $summary-font-size-small;
                }
            }
         }
     }
 }

 ///////////////////////////// 瀑布流 start

.f-12, .c-12 {
    .waterfall {
        &.col-3,
        &.col-5,
        &.col-2 {
            @include summaryLine(3)
        }
    }
}

.c-3 {
    .waterfall {
        @include summaryLine(3)
       
        &.col-4 {
             @media screen and(min-width: 992px) {
                @include titleLine(1, 1.2rem)
                @include summaryHide()
            }
        }

        &.col-3,
        &.col-5,
        &.col-2 {
            @media screen and(min-width: 992px) {
                @include contentHide()
            }
        }

    }
}

.c-9 {
    .waterfall {
         @media screen and(min-width: 992px) {
            &.col-4,
            &.col-3,
            &.col-5,
            &.col-2 {
                @include summaryLine(3)
            }
         }
    }
}

.c-6 {
    .waterfall {
         @media screen and(min-width: 992px) {

            &.col-6,
            &.col-4,
            &.col-3,
            &.col-5,
            &.col-2 {
                @include summaryLine(3)
            }
         }
    }
}

.c-4 {
    .waterfall {

        @include summaryLine(3) //

         @media screen and(min-width: 992px) {
             
            &.col-5,
            &.col-2 {
                @include titleLine(1, 1.2rem)
                @include summaryHide()
            }
           
         }

         @media screen and(max-width: 1200px) and (min-width: 992px) {
            
            &.col-3,
            &.col-5,
            &.col-2 {
                @include titleLine(1, 1.2rem)
                @include summaryHide()
            }
         }
    }
}


 //移动端样式
.f-12, .c-12, .c-9, .c-6, .c-4, .c-3 { //2. 固定手机端样式
    

    .waterfall {
        @include titleLine(1)

        //mobile 6
        @media screen and(max-width: 768px) {
            .content-box .content {
                @include summaryLine(3) //
            }
        }

        //iphone 5
        @media screen and (max-device-width : 350px) {
            .content-box .content {
                @include summaryLine(3)
            }
        }
    }
        
}

///////////////////////////// 瀑布流 end

/////////////////////////////.pic-list-30  照片墙 start
.f-12, 
.c-12 {
     .pic-list-30 {

        @mixin textOverflow() {
            .content-box .content {
                @include titleLine(3)
                @include summaryLine(3)
            }
        }

        .col-md-2.even, .col-md-2.odd,
        .col-md-3.even, .col-md-3.odd,
        .col-md-4.even, .col-md-4.odd,
        .col-md-5.even, .col-md-5.odd,
        .col-md-6.even, .col-md-6.odd {
             @include textOverflow();
        }

        @media (max-width: 768px) {
            .col-md-12.even, .col-md-12.odd {
                @include textOverflow();
            }
        }    
        
        @media (min-width: 992px) {
            .col-md-5.even, .col-md-5.odd,
            .col-md-2.even, .col-md-2.odd { //5,6列不显示描述

                .content-box .content {
                    @include summaryHide()
                }
            }

            .col-md-3.even, .col-md-3.odd {//4列
                .content-box .content {
                    @include titleLine(1)
                    @include summaryLine(3)
                }
            }
        }
         
    }

}
.c-3 {
     
    .pic-list-30 {

        @include titleLine(1, 1.6rem)
        @include summaryLine(3)


        @media (min-width: 992px) {
            .col-md-6.even, .col-md-6.odd,
            .col-md-4.even, .col-md-4.odd,
            .col-md-3.even, .col-md-3.odd, 
            .col-md-5.even, .col-md-5.odd, 
            .col-md-2.even, .col-md-2.odd {
                .content-box .content {
                    padding: .2rem;
                    @include titleLine(1, 1.2rem)
                    @include summaryHide()
                   
                }
            }
        }

    }   
    
}

.c-4 {
    .pic-list-30 {

        @include titleLine(1, 1.6rem)
        @include summaryLine(3)

        @media (min-width: 992px) {
            .col-md-4.even, .col-md-4.odd,
            .col-md-3.even, .col-md-3.odd, 
            .col-md-5.even, .col-md-5.odd, 
            .col-md-2.even, .col-md-2.odd {
                .content-box .content {
                    padding: 0;

                    @include titleLine(1, 1.2rem)
                    @include summaryHide()
                }
            }


            .col-md-6.even, .col-md-6.odd {
                .content-box .content {
                    @include titleLine(1, 1.6rem)
                    @include summaryLine(1)
                }
            }
        }
    }   
    
}

.c-9 {
     .pic-list-30 {

        @mixin textOverflow() {
            .content-box .content {
                @include titleLine(3)
                @include summaryLine(3)
            }
        }

        .col-md-2.even, .col-md-2.odd,
        .col-md-3.even, .col-md-3.odd,
        .col-md-4.even, .col-md-4.odd,
        .col-md-5.even, .col-md-5.odd,
        .col-md-6.even, .col-md-6.odd {
             @include textOverflow();
        }

        @media (max-width: 768px) {
            .col-md-12.even, .col-md-12.odd {
                @include textOverflow();
            }
        }    
        
        @media (min-width: 992px) {
            .col-md-5.even, .col-md-5.odd,
            .col-md-2.even, .col-md-2.odd { //5,6列不显示描述
                .content-box .content {
                    @include titleLine(1)
                    @include summaryHide()
                }
            }

            .col-md-4.even, .col-md-4.odd {//3列
                .content-box .content {

                   @include titleLine(1, 1.6rem)
                   @include summaryLine(3)
                }
            }

            .col-md-3.even, .col-md-3.odd {//4列
                .content-box .content {

                    @include titleLine(1, 1.6rem)
                    @include summaryLine(2)
                }
            }

        }
         
    }

}

.c-6 {
     .pic-list-30 {

        @media screen and (max-width: 992px) {
            @include titleLine(3)
            @include summaryLine(3)
        }

        @media screen and (min-width: 992px) {
            .col-md-12.even, .col-md-12.odd {
            @include titleLine(3)
            @include summaryLine(3)
        } 

        
        .col-md-6.even, .col-md-6.odd {
            .content-box .content {
                @include titleLine(1)
                @include summaryLine(3)
            }
        }
       

        .col-md-4.even, .col-md-4.odd {
            @include titleLine(1)
            @include summaryLine(2)
        }   

        
        .col-md-3.even, .col-md-3.odd,
        .col-md-5.even, .col-md-5.odd,
        .col-md-2.even, .col-md-2.odd {
            @include titleLine(1, 1.2rem)
            @include summaryHide()
        } 

        }
         
    }
}

/////////////////////////////.pic-list-30 end

 /////////////////////////////.pic-list-1 列表样式-1 /////////////////////////////////
 //共性样式
.f-12, .c-12, .c-9, .c-6, .c-4, .c-3 { //2. 固定手机端样式
    .pic-list-1 {
        //mobile 6
        @media screen and(max-width: 768px) {
            .content-box .content {
                @include titleLine(1)
                @include summaryLine(3) //
            }
        }


        //iphone 5
        @media screen and (max-device-width : 350px) {
            .content-box .content {
                @include titleLine(1)
                @include summaryLine(2)
            }
                    
        }
    }
        
}


@mixin titleCenter() {
        .wrapper .content {
            padding: .2rem;
            .title {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
            }

        }
}


.f-12, 
.c-12 {
     .pic-list-1 {
        .content-box .content {
            @include summaryLine(3) //1. 总体定基调
        }

        //ipad pro & pc
        @media screen and (min-width: 992px) {

            .col-md-3,
            .col-md-5,
            .col-md-2 {
                .content-box .content {
                     @include titleLine(1)
                }
            }
        }

        //ipad plus
        @media screen and(max-width: 992px) and (min-width: 768px) {
            .content-box .content {
                @include titleLine(1)
            }
        }

     }
 }

 .c-12 {
     .pic-list-1 {
        //PC
        @media screen and(min-width: 1200px) {
                .col-md-3 {
                    .content-box .content {
                        @include titleLine(1)
                    }
                }

               .col-md-5,
               .col-md-2 {
                    .content-box .content {
                        @include titleLine(1)
                    }
                }
               
        }
        //ipad pro
        @media screen and(max-width: 1200px) and (min-width: 992px) {
                .col-md-2 {
                    .content-box .content {
                        @include titleLine(1)
                        @include summaryLine(2)  
                    }
                }
        }

        //ipad plus
        @media screen and(max-width: 992px) and (min-width: 768px) {
            
        }

     }
 }

 .c-9 {
     .pic-list-1 {
        
            @include titleLine(1) //1. 总体定基调
            @include summaryLine(3) //1. 总体定基调

        //PC
        @media screen and(min-width: 1200px) {
            .col-md-12, .col-md-6 {
                @include titleLine(10)
            }

            .col-md-2 {
                @include summaryLine(2) //
            }
               
        }
        //ipad pro
        @media screen and(max-width: 1200px) and (min-width: 992px) {
            .col-md-12, .col-md-6 {
                @include titleLine(10)
            }

            .col-md-4, .col-md-3 {
                @include summaryLine(3)
            }

            .col-md-5 {
                @include summaryLine(2)
            }
            .col-md-2 {
                @include summaryLine(1)
            }
        }

        //ipad plus
        @media screen and(max-width: 992px) and (min-width: 768px) {
            
        }

     }
 }

  .c-3 {
     .pic-list-1 {
        
        @include titleLine(1) //1. 总体定基调
        
        //ipad pro
        @media screen and (min-width: 992px) {
           .col-md-12 {
                @include summaryLine(3) //
            }

            .col-md-6 {
                @include summaryLine(1) //
            }

            .col-md-4,
            .col-md-3,
            .col-md-5,
            .col-md-2 {
                @include summaryHide() //
                @include titleLine(1, 1.2rem) //
                @include titleCenter()
            }
        }

     }
 }

  .c-6 {
     .pic-list-1 {
        
            @include titleLine(1) //1. 总体定基调
            @include summaryLine(3) //1. 总体定基调

        //PC
        @media screen and(min-width: 1200px) {
            .col-md-12 {
                @include titleLine(10)
            }

            .col-md-6 {
                @include titleLine(3) 
            }
            
            .col-md-3 {
                @include summaryLine(2) 
            }

            .col-md-5 {
                @include summaryLine(1) 
            }

            .col-md-2 {
                @include summaryHide() 
            }
               
        }
        //ipad pro
        @media screen and(max-width: 1200px) and (min-width: 992px) {
            .col-md-12{
                @include titleLine(10)
            }

            .col-md-4 {
                @include summaryLine(2)
            }

            .col-md-3 {
                @include summaryLine(1)
            }

            .col-md-5, .col-md-2 {
                @include summaryHide()
                @include titleCenter()
            }
            
        }

        //ipad plus
        @media screen and(max-width: 992px) and (min-width: 768px) {
            
        }

     }
 }

.c-4 {
 .pic-list-1 {
    
    @include titleLine(1) //1. 总体定基调

    //PC
    @media screen and(min-width: 1200px) {
       .col-md-12 {
            @include titleLine(10)
            @include summaryLine(3) //
        }

        .col-md-6 {
            @include summaryLine(3) //
        }
    
        .col-md-4 {
           @include summaryLine(1) //   
        }
        
        .col-md-3,
        .col-md-5,
        .col-md-2 {
            @include summaryHide() //
            @include titleLine(1, 1.2rem) //
            @include titleCenter()
        }
    }



    
    //ipad pro
    @media screen and(max-width: 1200px) and (min-width: 992px) {
       .col-md-12 {
            @include titleLine(3)
            @include summaryLine(3) //
        }

        .col-md-6 {
            @include summaryLine(2) //
        }

        .col-md-4,
        .col-md-3,
        .col-md-5,
        .col-md-2 {
            @include summaryHide() //
            @include titleLine(1, 1.2rem) //
            @include titleCenter()
        }
    }

 }
}




 /////////////////////////////.pic-list-1 列表样式-1 end /////////////////////////////////

 /////////////////////////////pic-list-3 列表样式-3 start ////////////////
  //共性样式
.f-12, .c-12, .c-9, .c-6, .c-4, .c-3 { //2. 固定手机端样式
    .pic-list-3 {
        @include titleLine(1)
        @include summaryLine(3) //

        //mobile 6
        @media screen and(max-width: 768px) {
            .content-box .content {
                @include summaryLine(2) //
            }
        }

        //iphone 5
        @media screen and (max-device-width : 350px) {
            .content-box .content {
                @include summaryLine(1)
            }
                    
        }
    }
        
}

 .f-12, .c-12 {
     .pic-list-3 {

        //PC
        @media screen and(min-width: 992px) {
            .col-md-12,
            .col-md-6 {
                @include summaryLine(10) //
            }

            .col-md-4,
            .col-md-3 {
                @include summaryLine(3) //
            }

            .col-md-5,
            .col-md-2 {
                @include summaryLine(2) //
            }

               
        }
        //ipad pro
        @media screen and(max-width: 1200px) and (min-width: 992px) {
            .col-md-3 {
                @include summaryLine(2)
            }

        }

     }
 }

.c-12 {
     .pic-list-3 {
       
        //ipad pro
        @media screen and(max-width: 1200px) and (min-width: 992px) {
            .col-md-2 {
                @include summaryLine(1)
            }

        }

     }
 }

 .c-3 {
     .pic-list-3 {
      
       
        //pc && ipad pro
        @media screen and (min-width: 992px) {
            .col-md-12 {
                @include summaryLine(2)
            }

            .col-md-6 {
                @include titleLine(1, 1.2rem)
                @include summaryHide()
            }

            .col-md-4,
            .col-md-3 {
                @include summaryHide()
            }

            .col-md-5,
            .col-md-2 {
                @include contentHide()
            }

        }

     }
 }

 .c-9 {
    .pic-list-3 {
        //pc && ipad pro
        @media screen and (min-width: 992px) {
            .col-md-12 {
                @include summaryLine(10)
            }

            .col-md-6 {
                @include summaryLine(3)
            }

            .col-md-4 {
                @include summaryLine(2)
            }

            .col-md-3,
            .col-md-5 {
                @include titleLine(1, 1.2rem)
                @include summaryLine(1)
            }

            .col-md-2 {
                @include titleLine(1, 1.2rem)
                @include summaryHide()
            }

        }
    }
 }

.c-6 {
    .pic-list-3 {
        //pc && ipad pro
        @media screen and (min-width: 992px) {
            .col-md-12 {
                @include summaryLine(10)
            }

            .col-md-6,
            .col-md-4 {
                @include summaryLine(2)
            }

            .col-md-3 {
                @include summaryLine(1)
            }

            .col-md-2,
            .col-md-5 {
                @include summaryHide()
            }

        }


        //ipad pro
        @media screen and(max-width: 1200px) and (min-width: 992px) {
            .col-md-4 {
                @include summaryLine(1)
            }

            .col-md-3,
            .col-md-5 {
                @include summaryHide()
            }

        }

    }
 }


.c-4 {
    .pic-list-3 {
        //pc && ipad pro
        @media screen and (min-width: 992px) {
            .col-md-12,
            .col-md-6 {
                @include summaryLine(2)
            }

            .col-md-4,
            .col-md-3 {
                @include summaryHide()
            }

            .col-md-5,
            .col-md-2 {
                @include contentHide()
            }

        }

        //ipad pro
        @media screen and(max-width: 1200px) and (min-width: 992px) {
            .col-md-6 {
                @include summaryLine(1)
            }

            .col-md-4 {
                @include summaryHide()
            }

        }

    }
 }

 /////////////////////////////pic-list-3 列表样式-3 end ////////////////


/////////////////////////////pic-list-27 列表样式-6 end ////////////////
 .c-3 {
     .pic-list-27 {
        
        //ipad pro & PC
        @media screen and (min-width: 992px) {

            .col-md-4,
            .col-md-3,
            .col-md-5 {
                @include summaryHide()
            }

            .col-md-2 {
                @include contentHide()
            }
        }

        //ipad pro
        @media screen and(max-width: 1200px) and (min-width: 992px) {
            .col-md-6 {
                @include summaryHide()
            }
        }

     }
 }

  .c-6 {
     .pic-list-27 {
        
        //ipad pro & PC
        @media screen and (min-width: 992px) {
            .col-md-2 {
                @include summaryHide()
            }
        }

        //ipad pro
        @media screen and(max-width: 1200px) and (min-width: 992px) {
            .col-md-5,
            .col-md-2 {
                @include summaryHide()
            }
        }

     }
 }

.c-4 {
     .pic-list-27 {
        
        //ipad pro & PC
        @media screen and (min-width: 992px) {

            .col-md-5,
            .col-md-2 {
                @include summaryHide()
            }
        }

        //ipad pro
        @media screen and(max-width: 1200px) and (min-width: 992px) {
            .col-md-3 {
                @include summaryHide()
            }
        }

     }
 }

/////////////////////////////pic-list-27 列表样式-6 end ////////////////


 /////////////////////////////pic-list-2 列表样式-2 start ////////////////
.f-12, .c-12 {
     .pic-list-2 {

        //PC & ipad pros
        @media screen and(min-width: 992px) {
           .col-md-12 {
                .wrapper .content {
                    padding: 2.4rem 1rem;
                    bottom: -50px;
                }

                .wrapper:hover {
                    .content {
                        bottom: 0;
                    }
                }
           }
               
        }

     }
 }

 .c-3, .c-4 {
     .pic-list-2 {
        //PC & ipad pros
        @media screen and(min-width: 992px) {
            .col-md-2 {
                .content-parent {
                    display: none;
                }
           }
               
        }
     }
 }


 /////////////////////////////pic-list-2 列表样式-2 end ////////////////



/////////////////////////////pic-list-6 列表样式-4 start ////////////////
  .f-12, .c-12 {
     .pic-list-6 {
        
        //PC
        @media screen and(min-width: 992px) {
            .col-md-12, .col-md-6, .col-md-4 {
                 .wrapper .content {
                    padding: $content-padding-big;
                }
            }
        }


     }
 }

.c-3 {
     .pic-list-6 {
        
        //PC
        @media screen and(min-width: 992px) {
            .col-md-4,
            .col-md-3,
            .col-md-5 {
               @include summaryHide()
            }

            .col-md-2 {
               @include contentHide()
            }
        }
     }
 }

 .c-6 {
     .pic-list-6 {
        
        //PC
        @media screen and(min-width: 992px) {
            .col-md-4,
            .col-md-3,
            .col-md-5 {
               @include summaryHide()
            }

            .col-md-2 {
               @include contentHide()
            }
        }
     }
 }

 /////////////////////////////pic-list-6 列表样式-4 end ////////////////

/////////////////////////////pic-list-7 列表样式-7 start //////////////// 

.f-12, .c-12, .c-9, .c-6, .c-4, .c-3 {

    .pic-list-7,
    .pic-list-10 {
        //mobile 6 
        @media screen and(max-width: 768px) {
            
            .col-xs-6 {
                .content {
                    padding: $content-padding-medium;

                    .title {
                        font-size: $title-font-size-medium;
                    }

                    .summary-fixed, .summary-line {
                        font-size: $summary-font-size-big;
                    }
                }
            }

            .col-sm-4 {
                .content {
                    padding: $content-padding-medium;

                    .title {
                        font-size: $title-font-size-medium;
                    }

                    .summary-fixed, .summary-line {
                        font-size: $summary-font-size-big;
                    }
                }
            }

            
        }


        //iphone 5
        @media screen and (max-device-width : 350px) {
            .content {
                padding: $content-padding-medium;

                .title {
                    font-size: $title-font-size-medium;
                }

                .summary-fixed, .summary-line {
                    font-size: $summary-font-size-big;
                }
            }
                    
        }
    }
        
}

.f-12, .c-12 {
    .pic-list-7,
    .pic-list-10 {
         //PC & pad pro
        @media screen and(min-width: 992px) {
            .col-md-12,
            .col-md-6 {
                .content {
                    padding: $content-padding-big;
                }
            }
            .col-md-4,
            .col-md-3 {
                .content {
                    padding: $content-padding-medium;
                }
            }
            .col-md-5, 
            .col-md-2 {
                .content {
                    padding: $content-padding-medium;
                }
            }
        }
    }
}

.c-9 {
    .pic-list-7,
    .pic-list-10 {
         //PC & pad pro
        @media screen and(min-width: 992px) {
            .col-md-12,
            .col-md-6 {
                 .content {
                    padding: $content-padding-big;
                    .title {
                        font-size: $title-font-size-big;
                    }

                    .summary-line, .summary-fixed {
                        font-size: $summary-font-size-big;
                    }
                }
            }

            .col-md-4,
            .col-md-3 {
                .content {
                    padding: $content-padding-medium;
                    .title {
                        font-size: $title-font-size-big;
                    }

                    .summary-line, .summary-fixed {
                        font-size: $summary-font-size-big;
                    }
                }
                    
            }

            
            .col-md-5,
            .col-md-2 {
                 .content {
                    padding: $content-padding-medium;

                    .title {
                        font-size: $title-font-size-medium;
                    }
                    
                    .summary-fixed, .summary-line {
                        font-size: $summary-font-size-small;
                    }
                }
            }
        }
    }
}

.c-6 {
    .pic-list-7,
    .pic-list-10 {
         //PC & pad pro
        @media screen and(min-width: 992px) {
            .col-md-12,
            .col-md-6 {
                 .content {
                    padding: $content-padding-big;
                    .title {
                        font-size: $title-font-size-big;
                    }
                }
            }

            .col-md-4, 
            .col-md-3{
                 .content {
                    padding: $content-padding-medium;
                    .title {
                        font-size: $title-font-size-big;
                    }

                    .summary-line, .summary-fixed {
                        font-size: $summary-font-size-big;
                    }
                }
            }


            

            .col-md-5,
            .col-md-2 {
                 .content {
                    padding: $content-padding-medium;
                    .title {
                        font-size: $title-font-size-medium;
                    }
                    .summary-fixed, .summary-line {
                        font-size: $summary-font-size-small;
                    }
                }
            }

        }
    }
}

.c-4 {
    .pic-list-7,
    .pic-list-10 {
         //PC & pad pro
        @media screen and(min-width: 992px) {
            .col-md-12,
            .col-md-6,
            .col-md-4 {
                 .content {
                    padding: $content-padding-medium;
                    .title {
                        font-size: $title-font-size-big
                    }
                    .summary-fixed, .summary-line {
                        font-size: $summary-font-size-big;
                    }
                }
            }

            .col-md-3,
            .col-md-5,
            .col-md-2 {
                 .content {
                    padding: $content-padding-medium;
                    .title {
                        font-size: $title-font-size-medium
                    }
                    .summary-fixed, .summary-line {
                        font-size: $summary-font-size-small;
                    }
                }
            }
        }
    }
}

.c-3 {
    .pic-list-7,
    .pic-list-10 {
         //PC & pad pro
        @media screen and(min-width: 992px) {
            .col-md-12 {
                .content {
                    padding: $content-padding-medium;
                    .title {
                        font-size: $title-font-size-big
                    }
                    .summary-fixed, .summary-line {
                        font-size: $summary-font-size-big;
                    }

                }
            }

            .col-md-6,
            .col-md-4,
            .col-md-3,
            .col-md-5,
            .col-md-2, {
                .content {
                    padding: $content-padding-medium;
                    .title {
                        font-size: $title-font-size-medium
                    }
                    .summary-fixed, .summary-line {
                        font-size: $summary-font-size-small;
                    }

                }
            }

            .col-md-2 {
                @include contentHide()
            }
        }
    }
}

/////////////////////////////pic-list-7 列表样式-7 end ////////////////

/////////////////////////////pic-list-17 列表样式-18 start ///////////////
.f-12, .c-12 {
    .pic-list-17 {
        @media screen and(min-width: 992px) {
            .col-md-12,
            .col-md-6 {
                .content {
                    padding: $content-padding-medium;
                }
            }


             .col-md-4,
             .col-md-3 {
                .content {
                    padding: $content-padding-small;

                    .title {
                        font-size: $title-font-size-big;
                    }

                    .summary-line, .summary-fixed {
                        font-size: $summary-font-size-big;
                    }
                }
             }
            
            
            .col-md-5, 
            .col-md-2 {
                .content {
                    padding: $content-padding-small;

                    .title {
                        font-size: $title-font-size-medium;
                    }

                    .summary-line, .summary-fixed {
                        font-size: $summary-font-size-small;
                    }
                }
                
            }
        }
    }
}

/////////////////////////////pic-list-17 列表样式-18 end ////////////////

/////////////////////////////pic-list-23 列表样式-24 start ///////////////
.f-12, .c-12, .c-9, .c-6, .c-4, .c-3 {
    .pic-list-23 {
        @include titleLine(1)

        //mobile 6 
        @media screen and(max-width: 768px) {
            @include summaryLine(1)
        }


        //iphone 5
        @media screen and (max-device-width : 350px) {
            @include summaryLine(1)
        }

    }
}

.f-12, .c-12 {
    .pic-list-23 {
        @media screen and(min-width: 992px) {
            .col-md-12,
            .col-md-6,
            .col-md-4 {
               @include summaryLine(3)
            }


             
             .col-md-3 {
                @include summaryLine(2)
                   
             }
            
            
            .col-md-5 {
                @include summaryLine(1)
            }

            .col-md-2 {
                @include summaryHide()
            }
        }
    }
}


.c-9 {
    .pic-list-23 {
        @media screen and(min-width: 992px) {
            .col-md-12,
            .col-md-6 {
               @include summaryLine(3)
            }


             .col-md-4 {
                @include summaryLine(2) 
             }

             .col-md-3 {
                @include summaryLine(1)
                   
             }
            
            
            .col-md-5,
            .col-md-2 {
                @include summaryHide()
            }
        }
    }
}

.c-3 {
    .pic-list-23 {
        @media screen and(min-width: 992px) {
            .col-md-12 {
                @include summaryLine(2)
             }

             .col-md-6, 
             .col-md-4,
             .col-md-3 {
                @include summaryHide()
                   
             }
            
            .col-md-5,
            .col-md-2 {
                @include contentHide()
            }
        }
    }
}

.c-6 {
    .pic-list-23 {
        @media screen and(min-width: 992px) {
            .col-md-12 {
               @include summaryLine(3)
            }

            
            .col-md-6 {
               @include summaryLine(2)
            }


             .col-md-4 {
                @include summaryLine(1) 
             }
            
            .col-md-3,
            .col-md-5,
            .col-md-2 {
                @include summaryHide()
            }
        }
    }
}

.c-4 {
    .pic-list-23 {
        @media screen and(min-width: 992px) {
            .col-md-12 {
               @include summaryLine(3)
            }

            .col-md-6 {
               @include summaryLine(1)
            }

            .col-md-4,
            .col-md-3,
            .col-md-5,
            .col-md-2 {
                @include summaryHide()
            }
        }
    }
}

/////////////////////////////pic-list-23 列表样式-14 end ////////////////




