html, body {
    // font-family: 'PingFang SC', 'Microsoft YaHei',Helvetica, Tahoma, Arial, 'Hiragino Sans GB', '\5FAE\8F6F\96C5\9ED1', 'SimSun', '\5B8B\4F53', 'Heiti', '\9ED1\4F53', sans-serif;
    font-family:
        // System Font            // https://www.webkit.org/blog/3709/using-the-system-font-in-web-content/
       -apple-system,            // OSX ^10.11 & iOS ^9  San Francisco & 苹方

        // English First
        "Helvetica Neue",         // OSX
        "Arial",                  // Win "Helvetica"
        //" Segoe UI",            // Win ^8

        // Chinese Fallback
        "PingFang SC",            // OSX ^10.11 & iOS ^9  苹方（华康信凭黑）
        "Hiragino Sans GB",       // OSX ^10.6            冬青黑体
        "STHeiti",                // OSX <10.6  & iOS <9  华文黑体
        "Microsoft YaHei",        // Win                  微软雅黑
        "Microsoft JhengHei",     // Win                  微软正黑
        "Source Han Sans SC",     // SourceHan - begin    思源黑体
        "Noto Sans CJK SC",
        "Source Han Sans CN",
        "Noto Sans SC",
        "Source Han Sans TC",
        "Noto Sans CJK TC",       // SourceHan - end
        "WenQuanYi Micro Hei",    // Linux                文泉驿微米黑
        SimSun,                   // Win old              中易宋体
        sans-serif;               // System Fallback
        // font-weight: 100;
}

/****字体库****/
@font-face{
    font-family:NotoSansHans-Thin;
    // font-style:normal;
    // font-weight:150;
    src:url('http://114.55.173.102:3000/fonts//NotoSansSC-Light.woff2') format('woff2'),
    url('http://114.55.173.102:3000/fonts/NotoSansSC-Light.woff') format('woff'),
    url('http://114.55.173.102:3000/fonts/NotoSansSC-Light.otf') format('opentype');
}

@font-face{
    font-family:artingStyle;
    src: url('http://114.55.173.102:3000/fonts/artingStyle.woff') format('woff');
}




a {
    color: inherit;
    text-decoration: none;

    &:hover {
        text-decoration: none;
        color: $main-color;
    }

    &.cover:hover { //图片中的文字颜色显示「白色」fixed
        color: #fff;
    }

    &:focus, &:visited {
        text-decoration: none;
        color: inherit;
    }
}


.content-box { 
    // .cover {
    //     .title {
    //         padding: .5rem;
    //     }
    // }

    .content {
        line-height: 1.5;
        // padding: $content-box-padding;

        .summary-fixed, .summary-line {
            margin-top: .8rem;
        }

        .content-footer { //底部时间，作者信息
            display: flex;
            display: -webkit-flex;
            font-size: 1.2rem;
            color: $content-summary-color;

            .author-bar, .date-bar  {
               overflow: hidden;
               white-space: nowrap;
               text-overflow: ellipsis;
            }

            .author-bar {
                flex: 1;
            }



        }

         .float-content-footer {
            height: 21px;
            margin-top: .8rem;
            font-size: 1.2rem;
            color: $content-summary-color;
            display: block;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;

            .seperator {
                margin: 0 5px
            }


            li {
                display: inline-block;
                margin-right: .8rem;
            }
         }
    }
}

/////////////////////////////s-pic 单图片 start ////////////////
.s-pic {
    .cover {
        border-radius: 5px;
    }
}

/////////////////////////////s-pic 单图片 end ////////////////

/////////////////////////////////轮播图//////////////////////////////////////////

.swiper-panel {
    .swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
        // bottom: $panel-padding + 10;
        // bottom: 0;
    }
}

.swiper-container {
    width: 100%;
    
    // .swiper-wrapper {
    //     padding-bottom: 3rem; //
    // }

    .swiper-button-next.swiper-button-disabled, 
    .swiper-button-prev.swiper-button-disabled {
        pointer-events: auto;
    }

    .swiper-slide {
        background-position: center; 
        background-size: cover;
         img {
          width: 100%;
        }
    }

    .swiper-pagination-bullet {
        background: #000;
        opacity: .2;

    }

    .swiper-pagination-bullet-active {
        background: $main-color;
        opacity: 1;
    }

    .swiper-button-next, .swiper-button-prev {
        background-color: rgba(7,17,27,.6);
        opacity: .3;
    }

    .swiper-button-next, .swiper-button-prev {
        background-size: 50%;
    }

    &:hover {
        .swiper-button-next, .swiper-button-prev {
            opacity: 1;
         }
    }

    .box-mask {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #000;
    }

    .banner-text {
            position: absolute;
            top: 50%;
            width: 450px;
            transform: translateY(-50%);
            -webkit-transform: translateY(-50%);
            -moz-transform: translateY(-50%);
            -ms-transform: translateY(-50%);

            
                h1, p {
                        font-size: 1.2rem;
                        font-weight: normal;
                        margin-top: 0;
                        padding: 0;
                        color: #ffff;
                        word-wrap:break-word;
                    }
             @media (max-width: 64em) {
                 h1, p {
                    font-size: 1.2rem !important;
                 }
             }
             

    }

    .banner-text.banner-center {
        left: 50%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        text-align: center;
    }

    .banner-text.banner-left {
        left: 10%;
        text-align: left;
    }

    .banner-text.banner-right {
        right: 10%;
        text-align: right;
    }

}

/*****全文检索********/
.panel-full-text  {
    em {
        color: red;
    }

    input {
        margin-right: 5px;
    }

    a {
        text-decoration: underline;
    }

     .content-box .content .title a:hover {
        color: inherit;
        text-decoration: underline;
    }

     input[type=text] {
        width: 400px;
    }



}

/////////////////////////////////瀑布流/////////////////////////////////////////////////////
.waterfall {
        /* clear fix */
        .grid:after {
          content: '';
          display: block;
          clear: both;
        }

        &.panel-body .content-box {
            padding: 0;
            float: left;
            .content {
                padding: 2.4rem 1rem;
            }
        }
        
       .content-box img {
            width: 100%;
            display: block;
       }

       .marginable {
            margin: 8px;
            border: 1px solid $split-color;
       }

}


$pic-title-top:10px;


.article-list-1 {


   .content-box {

        padding-top: 10px; 

        &:hover {
            background-color: $content-box-hover-bgColor;

            .title a, .summary-fixed, .float-content-footer, .title a:hover {
                color: #fff;
            }
        }

        &:not(:last-child) {
            border-bottom: 1px solid #eeeeee;
        }

    }
 
}


.article-list-2 {
    .header-content-box.content-box {
        padding-top: 10px; 
    }


    .list-content-box.content-box {
        padding: 5px 0;

        .content {
            position: relative;
            display: flex;
            display: -webkit-flex;

            .title {
                padding-right: 3rem;
                flex: 1;
            }

            .publish-date {
                width: 62px;
                
                
                color: $content-summary-color;
                font-size: 1.2rem;
            
                 span {
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    width: 100%;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                 }
            }
        }
   }
 
}

.article-list-3 {

   .content-box {
        padding: 5px 0;

        .content {
            position: relative;
            display: flex;
            display: -webkit-flex;

            .title {
                padding-right: 3rem;
                flex: 1;
            }

            .publish-date {
                width: 62px;
                
                
                color: $content-summary-color;
                font-size: 1.2rem;
            
                 span {
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    width: 100%;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                 }
            }
        }
   }
}

.article-list-4 {
    .header-content-box.content-box {
        .content {
            .title > a {
                color: $main-color;
            }

            .summary-line {
                color: $title-color;
            }
        } 

        .article-detail-arrow {
            margin-top: 4px;
            display: block;
            color: $content-summary-color;
        }


    }


    .list-content-box.content-box {
        .content {

           .content-left {
                display: inline-block;
                padding: 20px;
                background-color: $main-color;
                color: #fff;
               

                .month, .day {
                    font-size: 2rem;
                    
                }
            }


            .relative-content-right {
                position: absolute;
                left: 0;
                top: 0;
                padding-left: 50px;
                display: flex;
                display: -webkit-flex;

                .relative-line {
                    margin-top: 11px;
                    height: 1px;
                    opacity: 0;
                    width: 50px;
                    margin-right: 15px;
                    background-color: $main-color;
                    transition: all 0.4s ease 0s;
                }

                .relative-content {
                    width: calc(100% - 80px);

                    .summary-fixed {
                        margin-top: 16px;
                    }
                }
            }

            &:hover {
                .relative-line {
                    opacity: 1;
                    width: 65px;
                    
                }
            }

        }
   }
 
}



.article-list-5 {
    .header-content-box.content-box {
        padding-top: 10px; 
        .content {
            color: #fff;
            .summary-fixed {
                position: relative;
                color: rgba(255, 255, 255, .7);
                padding-top: 22px;

                &:before {
                    content: '';
                    position: absolute;
                    width: 100%;
                    height: 1px;
                    background: rgba(255, 255, 255, .2);
                    left: 0;
                    top: 2px;
                }
            }

            .title>a {
                color: #fff;
            }

            display: flex;
            display: -webkit-flex;

            .content-left {
                width: 80px;
                
                p {
                    font-size: 3.6rem;
                }

            }

            .content-right {
                flex: 1;
            }
        } 
    }


    .list-content-box.content-box {
        padding: 5px 0;

        .content {
            position: relative;
            display: flex;
            display: -webkit-flex;

            .title {
                padding-right: 3rem;
                flex: 1;
            }

            .publish-date {
                width: 62px;
                
                
                color: $content-summary-color;
                font-size: 1.2rem;
            
                 span {
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    width: 100%;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                 }
            }
        }
   }
 
}


/////////////////////////////////pic-list//////////////////////////////////////////
@mixin pic-area($background-color: transparent, $padding: 0, $border-radius: 0, $border-color: 'transparent') {
    // .content-box {
        .wrapper {
            padding: $padding;
            background-color: $background-color;
            border-radius: $border-radius;
            
            @if($border-color != 'transparent') {
                border: 1px solid $border-color;
            }

         // .content {
         //    padding: 1.6rem 1rem;
         // }
        }
    // }
}




.pic-list-1 {
    @include pic-area(#fff, 10px, 2px, $split-color);
    .wrapper {
        box-shadow: 0 1px 2px rgba(0,0,0,0.07);

        .content {
            position: absolute;
            left: 0px;
            top: 0px;
            width: 100%;
            height: 100%;
            background: #fff;
            opacity: 0;
        }

        &:hover .content {
            opacity: 1;
            transition: all 0.36s ease 0s;
        }
    }
}

.pic-list-2 {
    @include pic-area($border-color: $split-color);
    .wrapper {

        .content-parent {
            height: 92px;
        }

        .content {
           position: absolute;
           left: 0;
            width: 100%;
            background: #fff;
            transition: all 0.36s ease 0s;

            .content-footer {
                margin-top: 2rem;
            }

            // .content-bar {
            //     display: block;
            //         li {
            //             margin-right: 0;  
            //             float: none;  
            //             display: block;
            //             overflow: hidden;
            //             text-overflow: ellipsis;
            //             white-space: nowrap;
            //         }
            // }
        }

        &:after {
            content: '';
            position: absolute;
            width: 0;
            height: 1px;
            background-color: $main-color;
            bottom: 0;
            transition: all 0.36s ease 0s;
        }


        &:hover {
            &:after {
                width: 100%;
            }
        }

    }
}

.pic-list-3 {
    @include pic-area();
    .wrapper {
        .content {
           position: absolute;
           left: 50%;
           top: 50%;
            
            transform: translate(-50%, -50%);
            -webkit-transform: translate(-50%, -50%);
            -moz-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);

            width: 100%;
            color: #fff;
            text-align: center;
            opacity: 0;
            // padding: 25px;
            // transition: all 0.36s ease 0s;

            // padding: 15px 30px;

            .title {
                // margin-top: 10px;

                a {
                    color: #fff;
                }
            }

            .summary-fixed {
                color: #fff;
                // margin-top: 1.6rem;
            }
           
        }

        & .cover:after {
            content: "";
            position: absolute;
            top: 18px;
            left: 18px;
            right: 18px;
            bottom: 18px;
            border: 1px solid #fff;
            z-index: 8;
            opacity: 0;
        }


        &:hover {
            
            .content {
                opacity: 1;

                .title {
                    margin-top: 0;
                    transition: all 0.36s ease 0s;
                }

                .summary-line {
                    // margin-top: 8px;
                    transition: all 0.36s ease 0s;
                }
            }

           & .cover:after {
                opacity: 1;
            }
        }

    }
}

.pic-list-4 {
    @include pic-area();
    .wrapper {
        .btn {
           position: absolute;
           left: 50%;
           top: 200%;
            
            transform: translate(-50%, -50%);
            -webkit-transform: translate(-50%, -50%);
            -moz-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);

            color: #fff;
            border: 1px solid #fff;
            transition: all 0.36s ease 0s;
        }

        .cover {
            &:before {
                    content: '';
                    position: absolute;
                    right: 0;
                    bottom: 0;
                    border-bottom: 0 solid transparent;
                    border-left: 0 solid transparent;
                    transition: all 0.5s ease 0s;
            }

             &:after {
                    content: '';
                    position: absolute;
                    right: 0;
                    bottom: 0;
                    border-top: 0 solid #c0c0c0;
                    border-right: 0 solid #fff;
                    transition: all 0.5s ease 0s;
            }

                &:hover {
                     &:before {
                       
                        border-bottom-width: 27px;
                        border-left-width: 27px;
                        
                    }

                     &:after {
                        border-top-width: 27px;
                        border-right-width: 27px;
                    }
            }
        }

        // .content {
        //     padding: 10px;

        //     .title {

               
        //     }
           
           
        // }

    


        &:hover {
            .btn {
                top: 50%;

            }


           //  .content {
              

           //      .title {
                 
           //      }

           //      .summary-line {
                   
           //      }
           //  }

           // & .cover:after {
               
           //  }
        }

    }
}


.pic-list-5 {
    @include pic-area($background-color: $pic-content-bgColor);
    .wrapper {
        .icon-btn {
           position: absolute;
           left: 50%;
           top: 50%;
            
            transform: translate(-50%, -50%);
            -webkit-transform: translate(-50%, -50%);
            -moz-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);

           
            
            width: 40px;
            height: 40px;
            border-radius: 40px;

            text-align: center;
            font-size: 30px;
            font-weight: lighter;
            color: #fff;
            background-color: $main-color;
            line-height: 40px;
            transition: all 0.36s ease 0s;
            opacity: 0;
        }

        .cover {
            
        }

        .content {
            // padding: 15px 10px;
            background: $pic-content-bgColor; 

        }


        &:hover {
            .icon-btn {
                opacity: 1;
            }
            .content {
                background: $main-color;
                transition: all 0.8s ease 0s;

                .title {
                    
                    & a {
                        transition: all 0.36s ease 0s;
                        color: #fff;
                    }
                }
               
            }
        }

    }
}

section .pic-list-5 .content-box .wrapper .container-icon-center {
  transition: all 0.36s ease 0s;
  top: -30px;
}

section .pic-list-5 .content-box .wrapper:hover .container-icon-center {
  top: 50%;
}




.pic-list-6 {
    @include pic-area();
    .wrapper {
        .icon-btn {
           position: absolute;
           left: 50%;
           top: 20%;
            
            transform: translate(-50%, -50%);
            -webkit-transform: translate(-50%, -50%);
            -moz-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);

           
            
            width: 40px;
            height: 40px;
            border-radius: 40px;

            text-align: center;
            font-size: 30px;
            font-weight: lighter;
            color: #fff;
            border: 1px solid #fff;
            line-height: 40px;
            transition: all 0.36s ease 0s;
            opacity: 0;
         
        }

        .cover {
            
        }

        &:after {
            content: '';
            position: absolute;
            left: 50%;
            bottom: 0;
            width: 30%;
            height: 2px;
            background-color: $main-color;
            transform: translateX(-50%);
            -webkit-transform: translateX(-50%);
            -moz-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
            opacity: 0;


            transition: all 0.36s ease 0s;

        }


        .content {
            transition: all 0.36s ease 0s;
            // padding: 10px;

            // .summary-line {
            //     margin-top: 5px;
            // }
        }

        &:hover {
            box-shadow: 0 8px 20px rgba(0,0,0,.1);
             .content {
                padding-left: 20px;
            }
            .icon-btn {
                opacity: 1;
                top: 50%;
            }
            &:after {
                width: 100%;
                opacity: 1;
            }
        }

    }
}




.pic-list-7 {
    @include pic-area();
    .wrapper {

        .cover {
            border-radius: 5px;
        }

        // .content {
        //     padding: 10px;
        // }

        &:hover {
         
        }

    }
}

.pic-list-8 {
    @include pic-area($border-radius: 5px, $border-color: $split-color);
    .wrapper {



        .content {
            padding: 20px 10px 0 10px;
            // border: 1px solid $split-color;
            border-top: none;

            .summary-fixed {
                margin-bottom: 10px;
            }

            .content-footer {
                margin: 0 2px;
                line-height: 40px;
                height: 40px;
                // padding: 20px 0 0 0;
                border-top: 1px solid $split-color;
               

                .icon-Headportrait-m {
                    // background-color: $main-color;
                    color: $main-color;;
                    font-size: 1.4rem;
                    margin-right: 5px;
                }


                // line-height: 40px;
            }
        }

        &:hover {
            // .content {
            //     background-color: $main-color;
            //     .summary-fix {
            //         color: #fff;    
            //     }
                

            //     .title a, .title a:hover {
            //         color: #fff;
            //     }
            // } 
        }

    }
}

.pic-list-9 {
    @include pic-area($padding: 2rem,  $border-color: $split-color);
    .content-box {
        .wrapper {
            padding-bottom: 10px;
           
            // .content {
            //     padding-bottom: 0;
            // }

            &:hover {
             
            }
           
        }
    }
}

.pic-list-10 {
    @include pic-area($padding: 20%,  $background-color: #fbfbfd);
    .wrapper {


        .cover {
           img {
                border-radius: 100%;
           }
        }

        .content {
            // padding: 15px 0;
            padding-bottom: 0;
            .title {
                text-align: center;
            }
        }

        &:hover {
            background-color: #fff;
            -moz-box-shadow:0px 0px 20px rgba(0,0,0,.1); -webkit-box-shadow:0px 0px 20px rgba(0,0,0,.1); box-shadow:0px 0px 20px rgba(0,0,0,.1);
        }

    }
}

.pic-list-11 {
    @include pic-area();
    .wrapper {


        .cover {
            padding: 15% 15% 0 15%;
            img {
                border-radius: 100%;
            }
        }

        .content {
         
                text-align: center;

                .more {
                    display: block;
                    font-size: $content-summary-font-size;
                    color: $title-color;
                    font-weight: bold;
                    margin-top: 1.6rem;

                    i {
                        margin-right: .6rem;
                    }
                }
        }

    }
}

.pic-list-12 {
    @include pic-area();
    .wrapper {

        .row {
            background-color: #f6f6f6;
        }
        
        // @media (min-width: 992px) {
             .content-container {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translateY(-50%);
                -webkit-transform: translateY(-50%);
                -moz-transform: translateY(-50%);
                -ms-transform: translateY(-50%);
            }
        // }
       

        .cover {
            // padding: 30% 30% 0 30%;
            // img {
            //     border-radius: 100%;
            // }
        }

        .content {
            padding: 0 $panel-padding/2 0 0;

            .title {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }

            .summary-fixed {
                margin-top: 10px;
            }

            // .title>span, .title>a {
            //     white-space: normal;
            // }
            
        }

    }
}






.pic-list-13 {
    @include pic-area($background-color: #fff, $border-color: $split-color);

        .split-1, .split-2, .split-3 {
            height: 1px;
            background-color: $split-color;
            margin: 1px auto;

        }

        .content .content-footer {
            margin-top: 1rem;
        }

        .split-1 {
            width: 98%;
        }

        .split-2 {
            width: 96%;
        }

        .split-3 {
            width: 94%;
        }


    .wrapper {
        .cover {
            .btn {
                @extend %position-center;
                top: 0;
                color: #fff;
                border-color: #fff;

                &:hover {
                    background-color: transparent;
                }

                opacity: 0;
                transition: all 0.36s ease 0s;
            }
        }

        .content {
            .author-bar {
                padding-right: 3rem;
            }
        }
            

        &:hover {
            .cover {
                .btn {
                    opacity: 1;
                    top: 50%;
                }
            }
        }

    }
}

.pic-list-14 {
    @include pic-area($background-color: #fff);

     &.panel-body .row {
        margin: 0;
        // padding-left: $panel-padding/2;
        // padding-right: $panel-padding/2;
        border-left: 1px solid $split-color;
        

        &>div {
            padding: 0;
            border-top: 1px solid $split-color;
        }
    }



    .content-box {
        padding-bottom: 0;
    }

    .wrapper {
        border-right: 1px solid $split-color;
        border-bottom: 1px solid $split-color;
       
        .cover {
            padding: 20% 20% 0 20%;
        }

        .content {
            text-align: center;
            // padding: 10px;

            .summary-line {
                padding: 0 20% 20% 20%;
            }

            .content-footer {
                margin-top: 10px;
            }
            
        }
        
        &:hover {
            box-shadow: inset 0 0 38px rgba(0,0,0,.08);
        }

    }
}

.pic-list-15 {
    @include pic-area();


    .wrapper {

       
        .cover {
        }

        .content {
            transition: all 0.5s ease 0s;
            padding: 15px;
            .content-footer {
                margin-top: 10px;
            }

            .title>a {
                 transition: all 0.5s ease 0s;
            }

            .summary-fixed {
                transition: all 0.5s ease 0s;
            }
            
        }

        &:hover {
            .content {
                
                background: $main-color;
                .title>a {
                    margin-left: 5px;
                    color: #fff;
                }
                .summary-fixed {
                    margin-left: 5px;
                    color: #fff;
                }

                .btn {
                    color: $main-color;
                    border: 1px solid #fff;
                    background-color: #fff;
                }
            }

            box-shadow: 5px 12px 25px rgba(0, 0, 0, 0.08);

        }


    }
}

.pic-list-16 {
    @include pic-area();


    .wrapper {

       
        .cover {
            &:after {
                content: '';
                border: 6px solid $main-color;
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                opacity: 0;
                transition: all .3s ease 0s;
            }
        }

        .content {
            transition: all 0.3s ease 0s;
            padding: 15px;
            text-align: center;

        }

        &:hover {
            .cover {
                     &:after {
                        opacity: 1;
                     }
            }

            .content {

                
                background: $main-color;
                .title>a {
                    // margin-left: 5px;
                    color: #fff;
                }
                .summary-line {
                    // margin-left: 5px;
                    color: #fff;
                }

               
            }


        }


    }
}

.pic-list-17 {
    @include pic-area();


    .wrapper {

        .content {
            transition: all 0.3s ease 0s;
            padding: 15px;

            .title>a {
                transition: all 0.3s ease 0s;
            }
            border-bottom: 1px solid $split-color;

        }

        .white-mask {
                transition: all 0.3s ease 0s;
        }



        &:hover {
            .white-mask {
                opacity: .2;
                filter: alpha(opacity=20);
                height: 0;
            }
            .cover {
                     &:after {
                        opacity: 1;
                     }
            }

            .content {

                
                background: $split-color;

                .title>a {
                    margin-left: 5px;
                    // color: #fff;
                }
                .summary-line {
                    // margin-left: 5px;
                    // color: #fff;
                }

               
            }


        }


    }
}




.pic-list-18 {
    @include pic-area();
    .wrapper {
        .cover {
            .main-mask {
                transition: all 0.3s ease 0.1s;
            }

            &:hover {
                .main-mask {
                opacity: 1;
                filter: alpha(opacity=100);
                }
            }
        }
        .content {
           position: absolute;
           left: 50%;
           top: 50%;
            
            transform: translate(-50%, -50%);
            -webkit-transform: translate(-50%, -50%);
            -moz-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);

            width: 80%;
            color: #fff;
            text-align: center;
            opacity: 0;
            // padding: 20px;
            // transition: all 0.36s ease 0s;

            .title {
                margin-top: 20px;

                a, span {
                    color: #fff;
                }

                 transition: all 0.36s ease 0s;
            }

            .summary-fixed {
                color: #fff;
                margin-top: -20px;
                 transition: all 0.36s ease 0s;
            }
           
        }

        & .cover:after {
            content: "";
            position: absolute;
            top: 18px;
            left: 18px;
            right: 18px;
            bottom: 18px;
            border-top: 1px solid #fff;
            border-bottom: 1px solid #fff;
            z-index: 8;
            opacity: 0;
        }


        &:hover {
            
            .content {
                opacity: 1;

                .title {
                    margin-top: 0;
                    // transition: all 0.36s ease 0s;
                }

                .summary-fixed {
                    margin-top: 10px;
                    // transition: all 0.36s ease 0s;
                }
            }

            & .cover:after {
                opacity: 1;
            }
        }

    }
}


.pic-list-19 {
    @include pic-area();
    .wrapper {
        .cover {
           border-radius: 5px; 
        }

        .content {
            @extend %position-center;
            width: 100%;

            .title {
                position: static;
                color: #fff;
                background-color: transparent;
            }
        }
        
    }
}



.pic-list-20 {
    @include pic-area();
    .wrapper {
        .cover {
           
        }

        .content {
            @extend %position-center;
            max-width: 70%;

            .title, .summary-fixed {
                position: relative;
                color: #fff;
            }
            .title:after {
                content: '';
                position: absolute;
                left: 0;
                bottom: -6px;
                height: 2px;
                width: 60px;
                background-color: #fff;
            }

            .summary-fixed {
                margin-top: 20px;
            }
        }
        
    }
}


.pic-list-21 {
    @include pic-area();
    .wrapper {
        .cover {
           
        }

        .content {
            @extend %position-center;
            width: 70%;
            .title {
                padding-bottom: .5rem;
            }

            .title, .summary-fixed {
                position: relative;
                color: #fff;
                text-align: left;
            }
            .title:after {
                content: '';
                position: absolute;
                left: 0;
                bottom: 0;
                height: 2px;
                width: 60px;
                background-color: #fff;

                @media screen and (max-width: 992px){
                    height: 1px;
                }
            }

            .summary-fixed {
                margin-top: 20px;
            }
        }
        
    }
}


.pic-list-22 {
    @include pic-area($background-color: #f8f8f8);
    .wrapper {

        .cover {
            
        }

        .content {
            .article-bar {
                margin-bottom: 1rem;
            }

            .summary-fixed {
                transition: all 0.3s ease 0.1s;
                border-left: 0px solid $split-color;
            }
        }

        .btn {
            margin-top: 2.4rem;
            opacity: 0;
            transition: all 0.3s ease 0.1s;
        }

        &:hover {
           .summary-fixed {
                border-left-width: 1px;
                padding-left: 2rem;
           }
           .btn {
            opacity: 1;
           }
        }

    }
}


.pic-list-23 {
    @include pic-area();
    h1 {
        margin: 0;
    }
    .wrapper {

        .cover {
            border-radius: 5px;

            .main-mask {
                transition: all 0.3s ease 0s;
                opacity: .8;
                height: 0;
                top: auto;
                bottom: 0;
                overflow: hidden;
            }

            .main-mask.content {
                display: table-cell;
                vertical-align: middle;
                color: #fff;
                padding: 0;

                &>div {
                    position: absolute;
                    top: 50%;
                    // left: 20%;
                    transform: translateY(-50%);
                    -webkit-transform: translateY(-50%);
                    -ms-transform: translateY(-50%);
                    -moz-transform: translateY(-50%);
                    width: 100%;
                    padding: 0 20px;
                    overflow: hidden;
                }

                // h1 {
                //     font-size: $content-title-font-size;
                //     overflow: hidden;
                //     white-space: nowrap;
                     
                // }
                .title {
                    position: static;
                }

                .summary-fixed, .title {
                    color: #fff;
                }
            }
        }

        .content {
            text-align: center;
        }

        &:hover {
            .cover .main-mask {
                height: 100%;
            }

            .container-icon-center {
                top: -30px;
            }
        }

    }
}

.pic-list-24 {
    @include pic-area();
    .wrapper {

        .cover {

             .tip-content {
                position: absolute;
                bottom: 0;
                left: 0;
                padding: 0;
                width: 100%;
            }

            .tip-content .title {
                margin: 0;
                background-color: #505050;
            }
            

            &:hover {
                .tip-content .title {
                    display: none;
                }

                .black-mask {
                    height: 100%;
                }

                .black-mask {
                    opacity: 0.6;
                    filter: alpha(opacity=100);
                }
            } 

            .black-mask {
                transition: all 0.3s ease 0s;
                opacity: .8;
                height: 0;
                top: auto;
                bottom: 0;
                overflow: hidden;
            }

            .black-mask.content {
                display: table-cell;
                vertical-align: middle;
                color: #fff;
                padding: 0;

                &>div {
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    -webkit-transform: translateY(-50%);
                    -ms-transform: translateY(-50%);
                    -moz-transform: translateY(-50%);
                    width: 100%;
                    padding: 0 24px;
                    overflow: hidden;
                }



                .summary-fixed {
                    color: #fff; 
                }
            }
        }

        .content {
            text-align: center;

            .title {
                position: static;
                color: #fff;
            }
        }

    }
}

.pic-list-25 {

    @include pic-area();
    .wrapper {
        border: 1px solid $split-color;
    }

}

.pic-list-26 {
    @include pic-area();
    .wrapper {
        .row {
            overflow: hidden;
        }
        border: 1px solid $split-color;


    }
}


.pic-list-27 {
    @include pic-area($background-color: #fff);
        
    .row {
        margin: 0;
        // padding-left: $panel-padding/2;
        // padding-right: $panel-padding/2;

        &>div {
            padding: 0;
        }
    }

    .content-box {
        padding-bottom: 0;
    }

    .wrapper {
       
        .content {
            position: absolute;
            width: 100%;
            left: 0;
            bottom: 0;
            z-index: 2;
            &:after {
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                bottom: 0;
                right: 0;
                background: transparent url(/static/images/bg_popular.png) no-repeat;
                background-size: cover;
                z-index: -1;


            }

            .title {
                position: static;
            }

            .title>span, .summary-line {
                color: #fff;
            }
            
        }

    }
}


.pic-list-28 {
    @include pic-area();


    .wrapper {
        border-bottom: 1px solid $split-color;
        .cover {
            .readmore {
                position: absolute;
                right: 0;
                bottom: 0;
                color: #fff;
                background: $main-color;
                padding: .5rem .8rem;
                opacity: 0;
            }
        }

        .content {

            &:nth-of-type(1) {
                padding-top: 0!important;
            }

            .content-footer {
                margin-top: .8rem;
            }

            padding: 5px 0;
            
        }
        
        &:hover {
            .readmore {
                opacity: 1;
            }
        }

    }
}

.pic-list-29 {
    @include pic-area();

    .content-box {
        padding-bottom: 1.6rem;
    }

    .wrapper {
        .cover {
            padding-bottom: 100%;
            background-position: 50% 50%;
            background-size: contain;
            background-repeat: no-repeat;
        }

        .content {
            text-align: center;
        }

    }
}

.pic-list-30 {
    @include pic-area();

    $background-color: #f6f6f6;
    &.panel-body {
        padding-bottom: $panel-padding;

        &>.row {
            margin: 0;
            
            // background-color: $main-color;

            &>div {
                padding: 0;
            }
        }

         .col-xs-6 {
            padding: 0;
        }

        .content-container {
            background-color: $background-color;//$main-color;
        }
    }
   

    .content-box {
        padding: 0;
    }

    .odd {
        .wrapper {
             // @media (min-width: 992px) {
                &:before {
                   $width: 10px;
                   content: '';
                   position: absolute;
                   top: 50%; 
                   left: 50%;
                   transform: translateY(-50%);
                   -webkit-transform: translateY(-50%);
                   -ms-transform: translateY(-50%);
                   -moz-transform: translateY(-50%);
                   border: $width dashed rgba(255,255,255,0);
                   border-left-color: $background-color; //$main-color;
                   z-index: 1;
                }
            // }
        }
    }

    .wrapper {
        &>.row {
            margin: 0;
        }



            
        // @media (min-width: 992px) {
            &:before {
               $width: 10px;
               content: '';
               position: absolute;
               top: 50%; 
               left: calc(50% - 20px );
               transform: translateY(-50%);
               -webkit-transform: translateY(-50%);
               -ms-transform: translateY(-50%);
               -moz-transform: translateY(-50%);
               border: $width dashed rgba(255,255,255,0);
               border-right-color: $background-color;//$main-color;
               z-index: 1;
            }
        // }
       

        .content-container {
            padding-bottom: 50%;
            height: 0;
        }

        .content {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            
            width: 100%;

            .article-bar {
                margin-top: 10px;
                & a, & a:hover {
                    // color: #fff;
                }
            }
            
        }

    }



}

.pic-list-31 {
    @include pic-area();


    .wrapper {
        // border-bottom: 1px solid $split-color;
         position: relative;

        &:after {
            transition: all 0.5s ease 0s;
            content: '';
            position: absolute;
            left: 0;
            bottom: 5px;
            width: 100%;
            height: 1px;
            background-color:  $split-color;
        }

        .content {
            .article-bar {
                margin-top: .8rem;
            }            
        }
        
        &:hover {
            &:after {
                bottom: 0;
                background-color: $main-color;
            }
        }

    }
}

////////模版／／／／／／／

.moban-float-p-img {
    margin-right:15px;
    float:left
}

//文章详情
.article-detail {

    .info-bar {
        display: block;
        height: 28px;
        line-height: 28px;

        .info-date {
            color: #a8a8a8;
        }
      }

    .info-bar li {
        float: left;
        margin-right: 1rem;
    }

    .article-cover {
        position: relative;
        background: url(/images/D.jpg) 50% 50% no-repeat;
        background-size: cover;
    }

    .article-title-bar {
        overflow: hidden; 
        white-space: nowrap; 
        text-overflow: ellipsis; 
    }

    .article-summary {
        
        background-color: #f6f6f6;
        .article-summary-tip {
            font-weight: bold;
        }
    }

    .article-content {
        padding-bottom: 4rem;
    }

}
