////////////////////////////////////////////////////////////// 最简配置
@import '../../color/variables';

$deep-color: $--primary-text-regular;
$light-color: $--primary-text-secondary;
$nav-deep-color:  $--background-text-regular;
$nav-light-color: $--background-text-secondary;
