$main-color: #8f91f6; //主色调/交互色

$panel-title-color: #fff; //控件标题颜色
$panel-title-bgcolor: transparent; ///控件背景色

$panel-body: transparent; //控件背景色
$content-title-color: #fff; // 文章标题
$content-color: #fff; // 文章副标题／正文

$background-color: transparent; //背景颜色

$btn-color: #fff;
$btn-bgcolor: $main-color;

// section {
  // background: -webkit-linear-gradient(left, rgb(246, 248, 249) , rgb(246, 248, 249)); /* Safari 5.1 - 6.0 */
  // background: -o-linear-gradient(right, rgb(246, 248, 249), rgb(246, 248, 249)); /* Opera 11.1 - 12.0 */
  // background: -moz-linear-gradient(right, rgb(246, 248, 249), rgb(246, 248, 249)); /* Firefox 3.6 - 15 */
  // background: linear-gradient(to right, rgb(246, 248, 249) , rgb(246, 248, 249)); /* 标准的语法 */
// }
