//全局变量
$title-color: #505050;        //主标题颜色
$title-font-size: 18px;  //主标题文字大小
$summary-color:#a8a8a8;       //概述颜色
$split-color: #eaeaea;     //分割线颜色
$background-color: #fff;   //页面背景色
$panel-padding:15px;          //padding 距离
$more-position: right;        //按钮位置 bottom right

$main-color: #674c7b;          //主色

//按钮样式
$btn-radius: 0;          // 0 5px 17px
$btn-height: 34px;

//控件样式
$panel-title-height: 60px;  //标题高度
$panel-title-position: left; //left center
$panel-title-font-size: 14px;  //标题文字大小
$panel-title-bgColor: #fff; // 标题背景色
$panel-title-color: #fff; // 标题文字颜色

$panel-title-label-bgColor: $main-color; //label 背景色

$panel-title-more-bgColor: $panel-title-bgColor; //查看更多 背景色
$panel-title-more-color: #c1c1c1; //$panel-title-color; //label 背景色

$panel-body-bgColor: #fff;      //内容背景色

$content-bgColor: transparent;          //内容背景色
$pic-content-bgColor: #fafafa; 

$content-box-padding: 12px;
$content-box-hover-bgColor: $main-color;        //box  hover背景色
$content-box-hover-borderColor: $main-color; //box hover 边框色

$content-title-bgColor: transparent;  //标题背景色 
$content-title-font-size: 18px;  //标题文字大小
$content-title-color: $title-color;  //标题文字颜色

$content-summary-fix-height: 70px;   //概要高度
$content-summary-bgColor: transparent;  //概要背景色
$content-summary-color: $summary-color;  //概要文字颜色
$content-summary-font-size: 14px;  //概要文字大小

//控件样式
//图文列表
$cpn-hover-bgColor: #f9f9f9;  //控件hover背景色