$top-bar-height: 50px;
$second-bar-height: 97px;
$query-input-width: 220px;
$query-input-height: 30px;
$nav-height: 55px;


//全文检索
$query-btn-bgColor: transparent;
$query-btn-color: inherit;
$query-input-border: $main-color;
$query-input-bgColor: #fff;
$query-input-color: $color;


//菜单
$nav-bgcolor: transparent;
$nav-color: $color;
// $nav-hover-color: $main-color;


header {
   @media (min-width: 64em) {
  .drawer-navbar {
         
        .drawer-menu > li {

            &>a {
             
              margin: 13px 0;
              height: 29px;
              line-height: 29px;
            }
        }
      }
    }

      .search {
        a:hover, a:visited, a:focus {
          color: $color;
        }
      }

      @media (min-width: 64em) {
        .second-bar .container {
          border-bottom: 1px solid #efefef;
          margin-bottom: 1px;
        }
      }
      
}






