.panel {
    .panel-title  {
        position: relative;
        color: $--background-text-primary;
        text-align: center;
        height: 150px;
        line-height: 150px;

        .pull-right.more {
            display: none;
        }

        .label {
            position: relative;
            font-weight: bold;
            max-width: 100%;
            display: inline-block;
            font-size: 30px;
            font-weight: bold;
            .more-position-bottom {
                margin: 25px 0;
            }
        }

    }
}