////////////////////////////////////////////////////////////// 复杂配置
$main-color: #b8946b;   //主色
$color: #a1a1a1;        //通用文字色

//菜单
$nav-bgcolor: $main-color; //菜单背景色
$nav-color: #e9ded3; //一级菜单文字色
$nav-hover-color: #fff; //一级菜单hover文字颜色

$nav-deep-color: $nav-color;
$nav-light-color: #d1b99d; 

// 手机三色
$mobile-header-item-bgcolor1: #be9d78!default;
$mobile-header-item-bgcolor2: #a88762!default;
$mobile-header-item-bgcolor3: #977a58!default;
