////////////////////////////////////////////////////////////// 复杂配置
$main-color: #674c7b;   //主色
$color: #a1a1a1;        //通用文字色

//菜单
$nav-bgcolor: $main-color; //菜单背景色
$nav-color: #d1cad7; //一级菜单文字色
$nav-hover-color: #fff; //一级菜单hover文字颜色

$nav-deep-color: $nav-color;
$nav-light-color: #9c8aaa; 

// 手机三色
$mobile-header-item-bgcolor1: #745c87!default;
$mobile-header-item-bgcolor2: #5e4670!default;
$mobile-header-item-bgcolor3: #553f65!default;
