////////////////////////////////////////////////////////////// 复杂配置
$main-color: #4b696c;   //主色
$color: #a1a1a1;        //通用文字色

//菜单
$nav-bgcolor: $main-color; //菜单背景色
$nav-color: #c9d2d3; //一级菜单文字色
$nav-hover-color: #fff; //一级菜单hover文字颜色

$nav-deep-color: $nav-color;
$nav-light-color: #899e9f; 

// 手机三色
$mobile-header-item-bgcolor1: #4b696c!default;
$mobile-header-item-bgcolor2: #456063!default;
$mobile-header-item-bgcolor3: #3e5659!default;
