////////////////////////////////////////////////////////////// 复杂配置
$--color-primary: #c4b175;   //主色
$color: #a1a1a1;        //通用文字色

//菜单
$nav-bgcolor: $--color-primary; //菜单背景色
$nav-color: #fbefdc; //一级菜单文字色
$nav-hover-color: #fff; //一级菜单hover文字颜色

$nav-deep-color: $nav-color;
$nav-light-color: #dfd1a7; 

// 手机三色
$mobile-header-item-bgcolor1: #c9b881!default;
$mobile-header-item-bgcolor2: #b3a16b!default;
$mobile-header-item-bgcolor3: #a09160!default;
