// .panel .panel-title {
//   background-color: transparent;
// }

.btn {
    $btn-shadow-color: #ddd;
    border-radius: 5px;
    // background: transparent;
     background: -webkit-linear-gradient(bottom, rgb(255, 255, 255) , rgb(241, 242, 244)); /* Safari 5.1 - 6.0 */
         background: -o-linear-gradient(bottom, rgb(255, 255, 255), rgb(241, 242, 244)); /* Opera 11.1 - 12.0 */
         background: -moz-linear-gradient(bottom, rgb(255, 255, 255), rgb(241, 242, 244)); /* Firefox 3.6 - 15 */
        background: linear-gradient(to bottom, rgb(255, 255, 255) , rgb(241, 242, 244)); /* 标准的语法 */


    //border: 1px solid $main-color;
    color: #000;
    -moz-box-shadow:0px 1px 5px $btn-shadow-color;
    -webkit-box-shadow:0px 1px 5px $btn-shadow-color;
     box-shadow:0px 1px 5px $btn-shadow-color;

    &:hover {
        color: #fff;
        background: $main-color;
    }
}

.icon-more:before {
    content: "";
}


$panel-shadow-color: #F1F2F4;

.panel {
    border: 1px solid #DEE0E1; //控件边框颜色
     -moz-box-shadow:0px 1px 5px $panel-shadow-color;
    -webkit-box-shadow:0px 1px 5px $panel-shadow-color;
     box-shadow:0px 1px 5px $panel-shadow-color;
    
    

     .panel-body {
         background: -webkit-linear-gradient(bottom, rgb(255, 255, 255) , rgb(241, 242, 244)); /* Safari 5.1 - 6.0 */
         background: -o-linear-gradient(bottom, rgb(255, 255, 255), rgb(241, 242, 244)); /* Opera 11.1 - 12.0 */
         background: -moz-linear-gradient(bottom, rgb(255, 255, 255), rgb(241, 242, 244)); /* Firefox 3.6 - 15 */
        background: linear-gradient(to bottom, rgb(255, 255, 255) , rgb(241, 242, 244)); /* 标准的语法 */
     }
}

.article-list-2 {
      border: none;
      box-shadow: none;
    .panel-body {
        background: transparent;
      
    }
}

