html, body {
    font-family: NotoSansHans-Thin;  
}

section {
    .panel-title {
        
        .label {
            border-bottom: 1px solid $main-color;
            max-width: calc(100% - 92px);
        }

        .more-text {
            display: none;
        }
    } 

    .panel {   
         .panel-body {
            padding: 25px 0;
         }

         .btn {
             background-color: $main-color;
             border-color: $main-color;
             color: #fff;
             opacity: 1;

             &:hover {
                opacity: .8;
             }
         }
    }
}



$nine-border-color: #2d2d2d;

div.page-container li a {
    border-top: 1px solid $nine-border-color;
    border-bottom: 1px solid $nine-border-color;
    border-right: 1px solid $nine-border-color;
}


div.page-container li:first-child > a {
    border-left: 1px solid $nine-border-color;
}

div.page-container li a:hover { //发布人／时间
    background-color: #4d4d4d;
}


.content-box .wrapper .content .content-footer {
    color: #444444;
}


.waterfall .marginable,
.pic-list-1 .wrapper,
.pic-list-2 .content-box .wrapper,
.pic-list-8 .content-box .wrapper,
.pic-list-8 .wrapper .content .content-footer,
.pic-list-9 .content-box .wrapper,
.pic-list-13 .content-box .wrapper,
.pic-list-17 .wrapper .content,
.pic-list-28 .wrapper,
.pic-list-26 .wrapper,
.pic-list-25 .wrapper,
.pic-list-21 .content-box .wrapper,
.f-12 .article-list-5 .list-content-box.content-box .content, .c-12 .article-list-5 .list-content-box.content-box .content, .c-9 .article-list-5 .list-content-box.content-box .content, .c-6 .article-list-5 .list-content-box.content-box .content, .c-4 .article-list-5 .list-content-box.content-box .content, .c-3 .article-list-5 .list-content-box.content-box .content 
 {
    border-color: $nine-border-color;
}

.pic-list-1 .wrapper .content,
.pic-list-2 .wrapper .content {
    background: $background-color;
}

.pic-list-22 .content-box .wrapper,
.pic-list-1 .wrapper,
.pic-list-30.panel-body .content-container,
.pic-list-10 .wrapper,
.pic-list-12 .wrapper .row,
.pic-list-13 .wrapper,
.pic-list-14 .wrapper,
section .pic-list-15 .wrapper,
section .pic-list-10 .content-box .cover .white-mask { //板块背景色
    background-color: #2f2f2f;
}

.pic-list-4 .wrapper .cover:after,
 {
    border-right-color: $background-color;
}

.pic-list-13 .split-1,
.pic-list-13 .split-2,
.pic-list-13 .split-3,
.pic-list-31 .wrapper:after {
    background-color: $nine-border-color;
}


.pic-list-10 .wrapper:hover {
    background-color: #4d4d4d;
}

.pic-list-14 {
    

     &.panel-body .row {
        &>div {
            @media screen and(min-width: 992px) {

   
                &.col-md-12 {
                    .wrapper {
                        border-left: 1px solid $nine-border-color;
                    }

                    &:nth-of-type(1) {
                        .wrapper {
                            border-top: 1px solid $nine-border-color;
                        }
                    }
                }
        

                &.col-md-6 {
                     &:nth-of-type(2n + 1) {
                        .wrapper {
                            border-left: 1px solid $nine-border-color;
                        }
                    }

                    &:nth-of-type(1), &:nth-of-type(2) {
                        .wrapper {
                            border-top: 1px solid $nine-border-color;
                        }
                    }
                }

                &.col-md-4 {
                     &:nth-of-type(3n + 1) {
                        .wrapper {
                            border-left: 1px solid $nine-border-color;
                        }
                    }

                    &:nth-of-type(1), &:nth-of-type(2), &:nth-of-type(3) {
                        .wrapper {
                            border-top: 1px solid $nine-border-color;
                        }
                    }
                }


                &.col-md-3 {
                     &:nth-of-type(4n + 1) {
                        .wrapper {
                            border-left: 1px solid $nine-border-color;
                        }
                    }

                    &:nth-of-type(1), &:nth-of-type(2), &:nth-of-type(3), &:nth-of-type(4) {
                        .wrapper {
                            border-top: 1px solid $nine-border-color;
                        }
                    }
                }


                &.col-md-5 {
                     &:nth-of-type(5n + 1) {
                        .wrapper {
                            border-left: 1px solid $nine-border-color;
                        }
                    }

                    &:nth-of-type(1),
                    &:nth-of-type(2),
                    &:nth-of-type(3),
                    &:nth-of-type(4),
                    &:nth-of-type(5) {
                        .wrapper {
                            border-top: 1px solid $nine-border-color;
                        }
                    }
                }

                &.col-md-2 {
                     &:nth-of-type(6n + 1) {
                        .wrapper {
                            border-left: 1px solid $nine-border-color;
                        }
                    }

                    &:nth-of-type(1), 
                    &:nth-of-type(2),
                    &:nth-of-type(3),
                    &:nth-of-type(4),
                    &:nth-of-type(5),
                    &:nth-of-type(6) {
                        .wrapper {
                            border-top: 1px solid $nine-border-color;
                        }
                    }
                }

            }

            //ipad plus
            @media screen and(max-width: 992px) and (min-width: 768px) {
                &.col-sm-4 {
                     &:nth-of-type(3n + 1) {
                        .wrapper {
                            border-left: 1px solid $nine-border-color;
                        }
                    }

                    &:nth-of-type(1), &:nth-of-type(2), &:nth-of-type(3) {
                        .wrapper {
                            border-top: 1px solid $nine-border-color;
                        }
                    }
                }
            }

            //iphone
            @media screen and (max-width: 768px) {
               &.col-xs-6 {
                     &:nth-of-type(2n + 1) {
                        .wrapper {
                            border-left: 1px solid $nine-border-color;
                        }
                    }

                    &:nth-of-type(1), &:nth-of-type(2) {
                        .wrapper {
                            border-top: 1px solid $nine-border-color;
                        }
                    }
                }
                        
            } 
           
        }
    }

    .swiper-slide .wrapper {
        border-left: 1px solid $nine-border-color;
        border-top: 1px solid $nine-border-color;
    }

    .wrapper {
        border-left: 1px solid transparent;
        border-right: 1px solid $nine-border-color;
        border-bottom: 1px solid $nine-border-color;
    }

}

