html, body {
    font-family: NotoSansHans-Thin;  
}

.article-list-1 .content-box {
    &:not(:last-child) {
        border-bottom: none;
    }

    // &:hover {
        // $hover-color: transparent;
       // .content {
       //  .title a {
       //      color: $hover-color;
       //  }
       //  .summary-fix, .summary-fluid, .article-bar {
       //      color: $hover-color;
       //  }
       // }
    // }

}
.panel-title  {
    .more-text {
        display: none;
    }

    // .icon-more1:before {
    //     content: "\e643";
    //     font-size: 12px;
    // }

    .more-text {
        font-size: 1.2rem;
    }


    .more {
        position: relative;
        top: 2px;
    }


}

section .content-box .cover .title {
    background-color: $background-color;
}

section .panel-title .label {
    display: inline;
    border-bottom: 1px solid $main-color;
    padding: 13px 0;
    // padding-left: 10px;
    margin-left: 26px;

    @media (max-width: 64em) {
           margin-left: 12px;
    }
}

.panel {
    .btn {
         // background-color: $main-color;
         // color: #fff;
         // opacity: 1;
            border-color: $summary-color;
            color: $summary-color;
             &:hover {
                 border-color: $main-color;
             }
     }
}


$nine-border-color: #333;

.waterfall .marginable,
.pic-list-2 .content-box .wrapper,
.pic-list-8 .content-box .wrapper,
.pic-list-8 .wrapper .content .content-footer,
.pic-list-9 .content-box .wrapper,
.pic-list-13 .content-box .wrapper,
.pic-list-17 .wrapper .content,
.pic-list-28 .wrapper,
.pic-list-26 .wrapper,
.pic-list-25 .wrapper,
.pic-list-21 .content-box .wrapper,
.pic-list-14.panel-body .row
 {
    border-color: $nine-border-color;
}


.article-list-4, .article-list-5 {
    .wrapper.cover {
        border: 1px solid $nine-border-color;
    }
    
    .content-box-item {
        border-bottom: 1px dashed $nine-border-color;
    }
}

.pic-list-4 .wrapper .cover:after {
    border-right-color: #252525;
}

