$top-bar-height: 50px;
$second-bar-height: 97px;
$query-input-width: 300px;
$query-input-height: 35px;
$nav-height: 55px;


//全文检索
$query-btn-color: $nav-color;
$query-btn-bgColor: $main-color;
$query-input-border: $main-color;
$query-input-bgColor: #fff;
$query-input-color: $color;



header {




   @media (min-width: 992px) {
  .drawer-navbar {
        
        .drawer-menu > li {

            &>a {
             
              margin: 13px 0;
              height: 29px;
              line-height: 29px;
            }
        }
      }
    }

      .search {
        a:hover, a:visited, a:focus {
          color: #fff;
        }
      }
}




