////////////////////////////////////////////////////////////// 复杂配置
$--color-primary: #3e3f43;   //主色
$color: #a1a1a1;        //通用文字色

//菜单
$nav-bgcolor: $--color-primary; //菜单背景色
$nav-color: #c5c5c6; //一级菜单文字色
$nav-hover-color: #fff; //一级菜单hover文字颜色
$nav-hover-bgColor: #4c4d52;
$nav-deep-color: $nav-color;
$nav-light-color: #818285; 

// 手机三色
$mobile-header-item-bgcolor1: #4f5054!default;
$mobile-header-item-bgcolor2: #393a3d!default;
$mobile-header-item-bgcolor3: #333437!default;
