//top bar
$main-color: #1a54e7;
$top-bar-height: 72px;
$top-bar-bgColor: #fff;
$top-bar-color: #333;
$hover: $main-color;

//second bar
$second-bar-height: 122px;
$second-bar-bgColor: #fff;
$second-bar-color: red;
$second-hover: green;

//全文检索
$query-input-width: 120px;
$query-input-height: 30px;
$query-btn-bgColor: transparent;
$query-btn-color: #333;
$query-input-border: #ddd;

//菜单
$nav-bgcolor: #fff;
$nav-height: 72px;
$nav-color: #333;
$nav-hover-color: $main-color;


