@import '../../base';

footer {
     $bgColor: rgb(34, 35, 36);

     .f-q-1 {
        $height: 80px;
        @include bar-container($height, $bgColor);
     }

     .f-q-2 {
         $height: 50px;
         $bgColor: rgb(10, 11, 12);
        @include bar-container($height, $bgColor);
     }
}