@import "../../base";

header {

  .drawer-navbar {
      $border-radius: 5px;
      @media (min-width: 64em) {

        .drawer-navbar-header {
            margin-top: -5px;
        }

        margin: 28px 0;
        .drawer-menu > li {
            border-radius: $border-radius;

            &:hover {
                border-radius: $border-radius;
                background-color: $main-color;
            }

            &>.drawer-dropdown-menu {
               top: 29px;
               padding-top: 10px;
            }
        }

        .drawer-menu .current {
          border-bottom: none;
          background-color: $main-color;
        }
      }
  }
}

