@import "../../base";

header {
  .drawer-navbar {
      @media (min-width: 64em) {
         .drawer-navbar-header {
            margin-top: -5px;
        }
        
        margin: 20px 0;
        .drawer-menu > li {

            &:hover >a {
                border-bottom: 2px solid $main-color;
            }

            &>.drawer-dropdown-menu {
               top: 47px;
               padding-top: 10px;
            }
        }

        .drawer-menu .current >a {
          // border-bottom: none;
          // background-color: $main-color;
          border-bottom: 2px solid $main-color;
        }
      }
  }
}



