// $main-color: #e5493a;
// $bg-color: #000;
// $nav-bgcolor: #232323;
// $nav-color: #fff;
// $nav-height: 30px;
$header-shadow-color: #050304;
$nav-hover-color: #fff;
// $bar-color: #333;


//top bar
$top-bar-height: 55px;
$top-bar-bgColor: #000;
$top-bar-color: #fff;
$hover: #fff;

//second bar ---
$second-bar-height: 80px;
$second-bar-bgColor: #fff;
$second-bar-color: red;
$second-hover: green;

//菜单
$nav-bgcolor: #232323;
$nav-height: 30px;
$nav-color: #fff;
$main-color: #e5493a;

//全文检索
$query-input-height: 40px;
$query-btn-bgColor: $main-color;
$query-btn-color: #fff;
$query-input-border: #ddd;