////////////////////////////////////////////////////////////// 复杂配置
$main-color: #7f675b;   //主色
$color: #a1a1a1;        //通用文字色

//菜单
$nav-bgcolor: $main-color; //菜单背景色
$nav-color: #d8d1ce; //一级菜单文字色
$nav-hover-color: #fff; //一级菜单hover文字颜色
$nav-hover-bgColor: #f46036; //菜单背景色

$nav-deep-color: $nav-color;
$nav-light-color: #c9b29c; 

// 手机三色
$mobile-header-item-bgcolor1: #8a7469!default;
$mobile-header-item-bgcolor2: #745e53!default;
$mobile-header-item-bgcolor3: #68554b!default;
