 @mixin bar-container($height, $bgColor) {
    // font-size: 0;
    // height: $height;
    line-height: $height;
    // padding: $height 0;
    // color: $color;
    background-color: $bgColor;
    position: relative;
    // & a:hover {
    //     color: $hover;
    // }
}

footer {
    color: #666;
    
    .iconfont {
        line-height: 100%;
    }
    .div-hidden {
        display: none;
    }

    .container, .pull-left, .pull-center, .pull-right, .logo {
        height: 100%;
    }

    // ul, li {
    //     padding: 0;
    //     margin: 0
    // }

    li {
        float: left;
        // display: inline-block;
    }

    // a {
    //     color: inherit;
    //     text-decoration: none;

    //     &:hover {
    //         text-decoration: none;
    //     }
    // }

 .pull-center {
    position: absolute; 
     left: 50%;
     top: 50%;
     transform: translate(-50%, -50%); 
     -webkit-transform: translate(-50%, -50%);
     -moz-transform: translate(-50%, -50%);
 }

 .menu {
    li {
        margin-right: 30px;
        color: #fff;

        // a {
        //     color: $menu-color;
        // }
    }
 }
 .logo img {
    max-height: 40px;
 }

 .share, .info {
    font-size: 1.2rem;
    li:not(:last-child) {
        margin-right: 15px;
    }

    // a {
    //     color: $share-color;
    // }


 }

 .share2 {
    @extend .share;
    
    a {
        $width: 30px;
        display: inline-block;
        text-align: center;

        width: $width;
        height: $width;
        line-height: $width;

    }

    .iconfont {
        color: #fff;
        line-height: 100%;
    }
    .weibo {
        background-color: #e3172c;
    }
    .twitter {
        background-color: #4198ff;
    }
    .linkedin {
        background-color: #0a77b6;
    }
    .facebook {
        background-color: #3a5999;
    }
 }
 .line-text {
    font-size: 1.2rem;
 }

}