@font-face {
    font-family:FZSongKeBenXiuKaiS-R-GB;
    src:url("/fonts/6.eot?1=2");
    src:url("/fonts/6.eot?1=2&#iefix") format("embedded-opentype"),
    url("/fonts/6.woff?1=2") format("woff"),
    url("/fonts/6.ttf?1=2") format("truetype"),
    url("/fonts/6.svg?1=2#FZSongKeBenXiuKaiS-R-GB") format("svg");
    font-style:normal;
    font-weight:400
}