@font-face {
    font-family:FZSongKeBenXiuKaiS-R-GB;
    src:url("/fonts/6.eot?1=2");
    src:url("/fonts/6.eot?1=2&#iefix") format("embedded-opentype"),
    url("/fonts/6.woff?1=2") format("woff"),
    url("/fonts/6.ttf?1=2") format("truetype"),
    url("/fonts/6.svg?1=2#FZSongKeBenXiuKaiS-R-GB") format("svg");
    font-style:normal;
    font-weight:400
}

@font-face {
    font-family: zkwyt;
    src:url("/fonts/zkwyt.eot?1=2");
    src:url("/fonts/zkwyt.eot?1=2&#iefix") format("embedded-opentype"),
    url("/fonts/zkwyt.woff?1=2") format("woff"),
    url("/fonts/zkwyt.ttf?1=2") format("truetype"),
    url("/fonts/zkwyt.svg?1=2#FZSongKeBenXiuKaiS-R-GB") format("svg");
    font-style:normal;
    font-weight:400
}

@font-face {
    font-family: fz1;
    src:url("/fonts/fz1.eot?1=2");
    src:url("/fonts/fz1.eot?1=2&#iefix") format("embedded-opentype"),
    url("/fonts/fz1.woff?1=2") format("woff"),
    url("/fonts/fz1.ttf?1=2") format("truetype"),
    url("/fonts/fz1.svg?1=2#FZSongKeBenXiuKaiS-R-GB") format("svg");
    font-style:normal;
    font-weight:400
}

@font-face {
    font-family: fz2;
    src:url("/fonts/fz2.eot?1=2");
    src:url("/fonts/fz2.eot?1=2&#iefix") format("embedded-opentype"),
    url("/fonts/fz2.woff?1=2") format("woff"),
    url("/fonts/fz2.ttf?1=2") format("truetype"),
    url("/fonts/fz2.svg?1=2#FZSongKeBenXiuKaiS-R-GB") format("svg");
    font-style:normal;
    font-weight:400
}


@font-face {
    font-family: fz3;
    src:url("/fonts/fz3.eot?1=2");
    src:url("/fonts/fz3.eot?1=2&#iefix") format("embedded-opentype"),
    url("/fonts/fz3.woff?1=2") format("woff"),
    url("/fonts/fz3.ttf?1=2") format("truetype"),
    url("/fonts/fz3.svg?1=2#FZSongKeBenXiuKaiS-R-GB") format("svg");
    font-style:normal;
    font-weight:400
}

@font-face {
    font-family: fz4;
    src:url("/fonts/fz4.eot?1=2");
    src:url("/fonts/fz4.eot?1=2&#iefix") format("embedded-opentype"),
    url("/fonts/fz4.woff?1=2") format("woff"),
    url("/fonts/fz4.ttf?1=2") format("truetype"),
    url("/fonts/fz4.svg?1=2#FZSongKeBenXiuKaiS-R-GB") format("svg");
    font-style:normal;
    font-weight:400
}