////////////////////////////////////////////////////////////// 复杂配置
$main-color: #203b34;   //主色
$color: #a1a1a1;        //通用文字色

//菜单
$nav-bgcolor: $main-color; //菜单背景色
$nav-color: #bcc4c2; //一级菜单文字色
$nav-hover-color: #fff; //一级菜单hover文字颜色
$nav-hover-bgColor: #fdbb2c; //菜单背景色

$nav-deep-color: $nav-color;
$nav-light-color: #6d807b; 

// 手机三色
$mobile-header-item-bgcolor1: #90a2a2!default;
$mobile-header-item-bgcolor2: #7c8c8c!default;
$mobile-header-item-bgcolor3: #707e7e!default;
