@media (min-width: 768px) { //mobile端
    
}

@media (min-width: 769px) { //pc端
    body header {

        .menu-nav .menu-items-container .menu-items {
            position: relative;
            
            li.menu-nav-item {
                
                & > a {
                    position: relative;
                }

                &.current > a, &:hover > a, & > a:hover {
                   background: $--primary-background-color-extra-lighter; 
                   &, i {
                     color: $--primary-text-active!important;
                   }
                }

            } 
        } 

    }
}