// 123569 ，风格需要调整
header {
  @media (min-width: 992px) {
  .drawer-navbar {
        
        .drawer-menu > li {

            &>a {
              line-height: $nav-height;
              height: auto;
              margin: 0;
            }
            
        }

        .drawer-dropdown .drawer-dropdown-menu {
            border-top: none;
        }

      }
  }

}