header {
    @media (min-width: 64em) {
    .drawer-navbar .drawer-navbar-header {
      margin-top: -6px;
    }
  }


  .drawer-navbar {
      @media (min-width: 64em) {
        .drawer-menu > li {
            // margin-left: 15px;
            // padding: 0 10px;
            border-radius: 15px;

            &:hover {
                border-bottom: none;
                border-radius: 15px;
                background-color: $main-color;

                .drawer-menu-item{
                   color: $nav-hover-color;
                }
            }

            &>.drawer-dropdown-menu {
               top: 30px;
            }
        }

        .drawer-menu .current {
          border-bottom: none;
          background-color: $main-color;

          & .drawer-menu-item {
            color: $nav-hover-color;
          }
        }

        .drawer-menu-item {
            color: $nav-color;
          }

      }
  }
}