// $main-color: #686d71;
// $bg-color: transparent;
// $nav-bgcolor: #fff;
// $nav-color: #000;
// $nav-height: 45px;

//top bar
$top-bar-height: 55px;
$top-bar-bgColor: #686d71;
$top-bar-color: #fff;
$hover: #fff;

//second bar ---
$second-bar-height: 80px;
$second-bar-bgColor: #fff;
$second-bar-color: red;
$second-hover: green;

//菜单
$nav-bgcolor: #fff;
$nav-height: 80px;
$nav-color: #333;
$main-color: $top-bar-bgColor;

//全文检索
$query-input-height: 40px;
$query-btn-bgColor: $top-bar-bgColor;
$query-btn-color: #fff;
$query-input-border: #ddd;