@import '../base';

footer {
     .layout-content {
        padding: 32px 0;
     }

     .code-item {
        margin-right: -15px;
        padding-top: 48px;
        img {
            width: 128px;
            vertical-align: top;
            margin-right: 15px;
        }
     }
}