$main-color: #fc6921;



//structure
$color: #a1a1a1;
$menu-color: #fff;
$share-color: $color;


@import '../../base';

footer {
     $bgColor: rgb(34, 35, 36);
     $border-bottom-color: $color;

    .a {
        $height: 100px;
        $new-color: #fff;
        font-size: 1.2rem;
        @include bar-container($height, $bgColor, $new-color, $main-color);
        border-bottom: 1px solid $border-bottom-color;

        .iconfont {
            position: absolute; 
            // top: -10px; 
            top: 50%;
            transform: translateY(-50%);
            font-size: 40px
        }

        .box {
            padding-left: 50px;
            line-height: 100%;
            display: inline-block;
            vertical-align: middle;
        }
        .title {
            margin-bottom: 10px;
        }

        .detail {
            color: $color;
        }


    }

    .b {
        $height: 50px;
        @include bar-container($height, $bgColor, $color, $main-color);
        border-bottom: 1px solid $border-bottom-color;
    }

    .c {
        $height: 40px;
        @include bar-container($height, $bgColor, $color, $main-color);
    }
}


@import '../structure';

