header {
  .drawer-navbar {
      @media (min-width: 64em) {
        .drawer-menu > li {
            margin-left: 15px;
            padding: 0 10px;
            // border-radius: 15px;

            &:hover {
                .drawer-menu-item{
                   color: $nav-hover-color;
                }
            }

            &>.drawer-dropdown-menu {
               top: 30px;
               padding-top: 10px;
            }
        }

        .drawer-menu .current {
          background-color: $main-color;
          height: 66px;          
            &>a {
                color: #fff;
            }


            & .drawer-menu-item {
              color: #fff;
            }

             &:hover {
                .drawer-menu-item{
                   color: #fff
                }
            }
        }

        .drawer-menu-item {
            color: $nav-color;
          }

      }
  }
}


