/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

/* Element Chalk Variables */

// Special comment for theme configurator
// type|skipAutoTranslation|Category|Order
// skipAutoTranslation 1

/* Transition
-------------------------- */
$--all-transition: all .3s cubic-bezier(.645,.045,.355,1) !default;
$--fade-transition: opacity 300ms cubic-bezier(0.23, 1, 0.32, 1) !default;
$--fade-linear-transition: opacity 200ms linear !default;
$--md-fade-transition: transform 300ms cubic-bezier(0.23, 1, 0.32, 1), opacity 300ms cubic-bezier(0.23, 1, 0.32, 1) !default;
$--border-transition-base: border-color .2s cubic-bezier(.645,.045,.355,1) !default;
$--color-transition-base: color .2s cubic-bezier(.645,.045,.355,1) !default;

/* Color
-------------------------- */
/// color|1|Brand Color|0
$--primary: #fc6921 !default;
/// color|1|Background Color|4
$--color-white: #FFFFFF !default;
/// color|1|Background Color|4
$--color-black: #000000 !default;

$--primary-light-1: mix($--color-white, $--primary, 4%) !default;
$--primary-light-2: mix($--color-white, $--primary, 8%) !default;
$--primary-light-3: mix($--color-white, $--primary, 12%) !default;
$--primary-light-4: mix($--color-white, $--primary, 20%) !default;
$--primary-light-5: mix($--color-white, $--primary, 30%) !default;
$--primary-light-6: mix($--color-white, $--primary, 40%) !default;
$--primary-light-7: mix($--color-white, $--primary, 50%) !default;
$--primary-light-8: mix($--color-white, $--primary, 60%) !default;
$--primary-light-9: mix($--color-white, $--primary, 70%) !default;
$--primary-light-10: mix($--color-white, $--primary, 80%) !default;

// 功能色
/// color|1|Functional Color|1
$--color-success: #67C23A !default;
/// color|1|Functional Color|1
$--color-warning: #E6A23C !default;
/// color|1|Functional Color|1
$--color-danger: #F56C6C !default;
/// color|1|Functional Color|1
$--color-info: #909399 !default;

$--color-success-light: mix($--color-white, $--color-success, 80%) !default;
$--color-warning-light: mix($--color-white, $--color-warning, 80%) !default;
$--color-danger-light: mix($--color-white, $--color-danger, 80%) !default;
$--color-info-light: mix($--color-white, $--color-info, 80%) !default;

$--color-success-lighter: mix($--color-white, $--color-success, 90%) !default;
$--color-warning-lighter: mix($--color-white, $--color-warning, 90%) !default;
$--color-danger-lighter: mix($--color-white, $--color-danger, 90%) !default;
$--color-info-lighter: mix($--color-white, $--color-info, 90%) !default;

// 通用的颜色
$error-color: #f56c6c;
$weibo-color: #ff763b;
$wechat-color: #7bc549;
$qq-color: #56b6e7;
$qzone-color: #ffce00;

// Background
/// color|1|Background Color|4
$--background-color-base: #000 !default; // #000 #FFF #08348B
$--background-color-base-light-1: mix($--color-white, $--background-color-base, 4%) !default; // #000-#0A0A0A
$--background-border-color-base: mix($--color-white, $--background-color-base, 8%) !default; // #000-#141414
$--background-color-base-light-3: mix($--color-white, $--background-color-base, 12%) !default; // #000-#1f1f1f
$--background-color-base-light-4: mix($--color-white, $--background-color-base, 20%) !default; // #000-#333333
$--background-color-base-light-5: mix($--color-white, $--background-color-base, 30%) !default; // #000-#4d4d4d
$--background-color-base-light-6: mix($--color-white, $--background-color-base, 40%) !default; // #000-#666666
$--background-color-base-light-7: mix($--color-white, $--background-color-base, 50%) !default;
$--background-color-base-light-8: mix($--color-white, $--background-color-base, 60%) !default; // #000-#999999
$--background-color-base-light-9: mix($--color-white, $--background-color-base, 70%) !default;
$--background-color-base-light-10: mix($--color-white, $--background-color-base, 80%) !default; // #000-#cccccc


/// color|1|Font Color|2
$--background-text-primary: $--background-color-base-light-10 !default;
/// color|1|Font Color|2
$--background-text-regular: $--background-color-base-light-8 !default;
/// color|1|Font Color|2
$--background-text-secondary: $--background-color-base-light-6 !default;
/// color|1|Font Color|2
$--background-text-placeholder: $--background-color-base-light-4 !default;

/// color|1|Border Color|3
$--border-color-base: $--background-color-base-light-4 !default;
/// color|1|Border Color|3
$--background-border-color-base: $--background-color-base-light-3 !default;
/// color|1|Border Color|3
$--background-border-color-base: $--background-border-color-base !default;
/// color|1|Border Color|3
$--border-color-extra-light: $--background-color-base-light-1 !default;

/* Link
-------------------------- */
$--link-color: $--primary-light-2 !default;
$--link-hover-color: $--primary !default;

/* Border
-------------------------- */
$--border-width-base: 1px !default;
$--border-style-base: solid !default;
$--border-color-hover: $--background-text-placeholder !default;
$--border-base: $--border-width-base $--border-style-base $--border-color-base !default;
/// borderRadius|1|Radius|0
$--border-radius-base: 4px !default;
/// borderRadius|1|Radius|0
$--border-radius-small: 2px !default;
/// borderRadius|1|Radius|0
$--border-radius-circle: 100% !default;
/// borderRadius|1|Radius|0
$--border-radius-zero: 0 !default;

// Box-shadow
/// boxShadow|1|Shadow|1
$--box-shadow-base: 0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .04) !default;
// boxShadow|1|Shadow|1
$--box-shadow-dark: 0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .12) !default;
/// boxShadow|1|Shadow|1
$--box-shadow-light: 0 2px 12px 0 rgba(0, 0, 0, 0.1) !default;

/* Fill
-------------------------- */
$--fill-base: $--color-white !default;

/* Typography
-------------------------- */
$--font-path: 'fonts' !default;
/// fontSize|1|Font Size|0
$--font-size-extra-large: 20px !default;
/// fontSize|1|Font Size|0
$--font-size-large: 18px !default;
/// fontSize|1|Font Size|0
$--font-size-medium: 16px !default;
/// fontSize|1|Font Size|0
$--font-size-base: 14px !default;
/// fontSize|1|Font Size|0
$--font-size-small: 13px !default;
/// fontSize|1|Font Size|0
$--font-size-extra-small: 12px !default;
/// fontWeight|1|Font Weight|1
$--font-weight-primary: 500 !default;
/// fontWeight|1|Font Weight|1
$--font-weight-secondary: 100 !default;
/// fontLineHeight|1|Line Height|2
$--font-line-height-primary: 24px !default;
/// fontLineHeight|1|Line Height|2
$--font-line-height-secondary: 16px !default;
$--font-color-disabled-base: #bbb !default;
/* Size
-------------------------- */
$--size-base: 14px !default;

/* z-index
-------------------------- */
$--index-normal: 1 !default;
$--index-top: 1000 !default;
$--index-popper: 2000 !default;

/* Disable base
-------------------------- */
$--disabled-fill-base: $--background-color-base !default;
$--disabled-color-base: $--background-text-placeholder !default;
$--disabled-border-base: $--background-border-color-base !default;