////////////////////////////////////////////////////////////// 复杂配置
$--color-primary: #d39237;   //主色
$color: #a1a1a1;        //通用文字色

//菜单
$nav-bgcolor: $--color-primary; //菜单背景色
$nav-color: #f1dec6; //一级菜单文字色
$nav-hover-color: #fff; //一级菜单hover文字颜色
$nav-hover-bgColor: #f5ca31; //菜单背景色

$nav-deep-color: $nav-color;
$nav-light-color: #e3b97b; 

// 手机三色
$mobile-header-item-bgcolor1: #d69b49!default;
$mobile-header-item-bgcolor2: #bf8531!default;
$mobile-header-item-bgcolor3: #ad792d!default;
