$main-color: #1a54e7;
//top bar
$top-bar-height: 55px;
$top-bar-bgColor: $main-color;
$top-bar-color: #fff;
$hover: #fff;

//second bar
$second-bar-height: 80px;
$second-bar-bgColor: grey;
$second-bar-color: red;
$second-hover: green;

//全文检索
$query-input-width: 120px;
$query-input-height: 30px;
$query-btn-bgColor: $main-color;
$query-btn-color: #fff;
$query-input-border: #ddd;

//菜单
$nav-bgcolor: #fff;
$nav-height: 97px;
$nav-color: #333;
$nav-hover-color: $main-color;


