////////////////////////////////////////////////////////////// 复杂配置
$--color-primary: #C29c67;   //主色
$color: #a1a1a1;        //通用文字色

//菜单
$nav-bgcolor: $--color-primary; //菜单背景色
$nav-color: #e8d8c2; //一级菜单文字色
$nav-hover-color: #fff; //一级菜单hover文字颜色
$nav-hover-bgColor: #2d1e9a; //菜单背景色

$nav-deep-color: $nav-color;
$nav-light-color: #d6ba93; 

// 手机三色
$mobile-header-item-bgcolor1: #c7a571!default;
$mobile-header-item-bgcolor2: #b18e5e!default;
$mobile-header-item-bgcolor3: #9f8055!default;
