// $menu-nav-height: 64px;
// $menu-nav-position: center;

// $mobile-header-bgcolor: red!default;
// $mobile-header-split-color: blue!default;

$header-top-height: 48px;


@import "../mobile";
@import "../pc";


@media (min-width: 768px) { //mobile端
    
}

@media (min-width: 769px) { //pc端
body {    
    header {
        
            &.fixed {
                top:  -$header-top-height;
            }

            .top-container {
                background: $main-color;

                .tool-bar {
                    height: 100%;
                    @include operator-bar-2($header-top-height, 20px, $deep-color, $light-color); 
                    @include contact-info2($header-top-height);

                    .operator-bar-2 > li > a {
                        &:hover {
                            &, i {
                                color: #fff!important;
                            }
                        }
                    }
                }

            }

            .nav {
                .container {
                    @include flex(); 
                }

                .menu-container {
                    @include flex-1();
                    padding: 0px 30px;
                    overflow: hidden;
                }
                
                $width: 24px;
                
                @include operator-bar-2($menu-nav-height, 12px, $nav-deep-color, $nav-light-color);
                @include logo($menu-nav-height);
            }
            &.search-open {
                .operator-bar-2 li.search form {
                    display: block;
                    @include opacity(1);   
                }
            }
        }

        .content {
            padding-top: $menu-nav-height + $header-top-height;
        }
    }
}