$top-bar-height: 55px;
$second-bar-height: 80px;
$query-input-width: 150px;
$query-input-height: 30px;
$nav-height: 97px;

header {
   @media (min-width: 64em) {
  .drawer-navbar {
        .drawer-dropdown .drawer-dropdown-menu {
            border-top: 2px solid $main-color;
        }
         
        .drawer-menu > li {

            &>a {
             
              margin: 34px 0;
              height: 29px;
              line-height: 29px;
            }

           // &:hover >a, &.current >a {
           //      &:after {
           //          border-bottom-color: #fff;
           //        }
           //  }
            
        }
      }
    }
}