.panel {
        .panel-title  {
            position: relative;
            text-align: left;
            height: 60px;
            line-height: 60px;
         
            .label {
                position: absolute;
                top: 12.5px;
                display: inline-block;
                line-height: 35px;
                z-index: 1;
                padding: 0 20px;
                max-width: calc(100% - 92px);
                color: $--primary-text-regular;
    
                &:before {
                    content: "";
                    position: absolute;
                    left: 5px;
                    top: 0;
                    height: 100%;
                    background-color: $--primary;      
                    width: calc(100% - 10px);
                    z-index: -1;
                    transform: skewX(-15deg);
                }
          
            }

            .more {
                z-index: 1;
                color: $--background-text-secondary;
            }

            .more-text {
                display: none;
            }

            &:after {
                content: '';
                position: absolute;
                left: 4px;
                top: 50%;
                height: 1px;
                width: calc(100% - 24px);
                background-color: $--background-border-color-light;
            }
        }
        
        .more-position-bottom {
            display: none;
        }
    }