.panel {
        .panel-title  {
            position: relative;
            text-align: left;
            height: 60px;
            line-height: 60px;
         
            .label {
                position: absolute;
                top: 12.5px;
                display: inline-block;
                line-height: 35px;
                z-index: 1;
                padding: 0 20px;
                max-width: calc(100% - 92px);
                background-color: $--primary;      
                color: #fff;
    
                &:before {
                    content: "";
                    position: absolute;
                    left:0;
                    top: 0;
                    height: 100%;
                    border-left: 10px solid $--background-background-color-base;
                    border-right: 0;
                    border-top: 0;
                    border-bottom: 35px solid $--primary;
                }

                &:after {
                    content: "";
                    position: absolute;
                    right: 0;
                    top: 0;
                    width: 5px;
                    height: 100%;
                    border-left: 10px solid $--primary;
                    border-right: 0;
                    border-top: 0;
                    border-bottom: 35px solid $--background-background-color-base;
                }

                
            }

            .more {
                z-index: 1;
                color: $--background-text-secondary;
            }

            .more-text {
                display: none;
            }

            &:after {
                content: '';
                position: absolute;
                left: 4px;
                top: 50%;
                height: 1px;
                width: calc(100% - 24px);
                background-color: $--background-border-color-light;
               
            }
        }
        
        .more-position-bottom {
            display: none;
        }
    }