@import '../base';

footer {
     $bgColor: rgb(34, 35, 36);

     .f-d-panel {
        background-color: $bgColor;
        padding: 20px 0;
     }

     .f-d-1, .f-d-2, .f-d-3, .f-d-4 {
        $height: 40px;

        @media (min-width: 1170px) {
            height: $height;

            .menu, .line-text, .share, .info {
                position: absolute; 
                 left: 50%;
                 top: 50%;
                 transform: translate(-50%, -50%); 
                 -webkit-transform: translate(-50%, -50%);
                 -moz-transform: translate(-50%, -50%);
            }
        }
        
        @include bar-container($height, $bgColor);
     }

     .f-d-4 {
        background-color: rgb(10, 11, 12);
     }
    
}



