@import '../base';

footer {
     $bgColor: rgb(34, 35, 36);

     .f-d-panel {
        background-color: $bgColor;
        padding: 20px 0;
     }

     .container > div {
        $height: 40px;

        display: flex;
        justify-content: center;
    
        @media (min-width: 1170px) {
            height: $height;
        }
        
        @include bar-container($height, $bgColor);
        
     }

     .f-d-4 {
        background-color: rgb(10, 11, 12);
     }
    
}