////////////////////////////////////////////////////////////// 复杂配置
$main-color: #5a5766;   //主色
$color: #a1a1a1;        //通用文字色

//菜单
$nav-bgcolor: $main-color; //菜单背景色
$nav-color: #cdcdd1; //一级菜单文字色
$nav-hover-color: #fff; //一级菜单hover文字颜色

$nav-deep-color: $nav-color;
$nav-light-color: #93929b; 

// 手机三色
$mobile-header-item-bgcolor1: #696673!default;
$mobile-header-item-bgcolor2: #52505d!default;
$mobile-header-item-bgcolor3: #4a4854!default;
