////////////////////////////////////////////////////////////// 复杂配置
$--color-primary: #546a7b;   //主色
$color: #a1a1a1;        //通用文字色

//菜单
$nav-bgcolor: $--color-primary; //菜单背景色
$nav-color: #ccd2d7; //一级菜单文字色
$nav-hover-color: #fff; //一级菜单hover文字颜色

$nav-deep-color: $nav-color;
$nav-light-color: #8f9eaa; 

// 手机三色
$mobile-header-item-bgcolor1: #637787!default;
$mobile-header-item-bgcolor2: #4d6170!default;
$mobile-header-item-bgcolor3: #455765!default;
