////////////////////////////////////////////////////////////// 复杂配置
$--color-primary: #333437;   //主色
$color: #a1a1a1;        //通用文字色

//菜单
$nav-bgcolor: $--color-primary; //菜单背景色
$nav-color: #c2c2c3; //一级菜单文字色
$nav-hover-color: #fff; //一级菜单hover文字颜色

$nav-deep-color: $nav-color;
$nav-light-color: #808183; 

// 手机三色
$mobile-header-item-bgcolor1: #454649!default;
$mobile-header-item-bgcolor2: #2f3032!default;
$mobile-header-item-bgcolor3: #292B2D!default;
