@import "_variable-4";
@import "../../structure";
@import "../../../base";
@import "../../../style-7";
@media (min-width: 64em) {
    header .drawer-navbar .drawer-navbar-header {
        background-color: $main-color;
    }
     .top-bar {
        margin-bottom: 0;
    }
    .top-bar .container {
        border-bottom: 0;
    }
   
}

header .top-bar {
        $e: #136a8a; 
        $s: #267871; 
       background: -webkit-linear-gradient(right, $s , $e); /* Safari 5.1 - 6.0 */
       background: -o-linear-gradient(right, $s, $e); /* Opera 11.1 - 12.0 */
       background: -moz-linear-gradient(right, $s, $e); /* Firefox 3.6 - 15 */
       background: linear-gradient(right, $s , $e); /* 标准的语法 */ 
        color: #fff;
}