body {
    font-family: "Microsoft YaHei",'微软雅黑',Arial,Helvetica,sans-serif;
}


section {
    .panel-title {
        border-top: 2px solid $main-color;
        .label {
            padding-left: 15px;
            width: calc(100% - 92px);
        }

        .more-text {
            display: none;
        }
    } 

    .panel {   
         .panel-body {
            padding-bottom: 20px;
            padding-top: 0
         }

         .btn {
             background-color: $main-color;
             border-color: $main-color;
             color: #fff;
             opacity: 1;

             &:hover {
                opacity: .8;
             }
         }
    }
}


