@import '../base';

footer {
     .layout-content {

        &>.container {
            position: relative;
        }
        
        padding: 40px 0;

        .logo img {
            display: block;
            width: 128px;
        }
     }

     .info {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 0;
     }
    
}