.panel {  
    .panel-title {
        color: $--background-text-regular;
        height: 80px;
        line-height: 80px;
        
        .label {
            position: relative;
            display: inline-block;
            padding: 0 12px;
            max-width: calc(100% - 92px);

            &:before {
                content: '';
                position: absolute;
                display: block;
                width: 4px;
                height: 4px;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
                -webkit-transform: translateY(-50%);
                -moz-transform: translateY(-50%);
                -ms-transform: translateY(-50%);
                background-color: $--primary;
            }
        }

        .more-text {
            display: none;
        }

        .more {
            color: $--background-text-secondary;
        }
    } 

    .panel-body {
        padding-bottom: 20px;
        padding-top: 0;
    }

    .more-position-bottom {
        display: none;
    }

    .btn {
         background-color: $--primary;
         border-color: $--primary;
         color: #fff;
         opacity: 1;

         &:hover {
            opacity: .8;
         }
     }
}