header {
  // .top-bar {
  //   color: $bar-color;
  // }
  @media (min-width: 64em) {
    .drawer-navbar .drawer-navbar-header {
      margin-top: -6px;
    }
  }

  .drawer-navbar {
      @media (min-width: 64em) {
        margin: 20px 0;

        .drawer-menu > li {
            // margin-left: 15px;
            // padding: 0 10px;
            // border-radius: 15px;

            &:hover {
                // border-bottom: none;
                // border-radius: 15px;
                // background-color: $main-color;

                .drawer-menu-item{
                   color: $nav-hover-color;
                }
            }

            &>.drawer-dropdown-menu {
               top: 40px;
               padding-top: 20px;
            }
        }

        .drawer-menu .current {
          border-bottom: 2px solid $nav-hover-color;
          // background-color: red;

          & .drawer-menu-item {
            color: $nav-hover-color;
          }
        }

        .drawer-menu-item {
            color: $nav-color;
          }

      }
  }
}