// $menu-nav-height: 64px;
$menu-nav-position: center;

// $mobile-header-bgcolor: red!default;
// $mobile-header-split-color: blue!default;

$header-top-height: 128px;


@import "../mobile";
@import "../pc";


@media (min-width: 768px) { //mobile端
    
}

@media (min-width: 769px) { //pc端
    header {
        $width: 24px;

        &.fixed {
            top:  -$header-top-height;
        }

        .top-container {
            height: $header-top-height;
        }
        .tool-bar {
            height: 100%;
            @include operator-bar-2($menu-nav-height, 20px); 
            @include flex();
            @include flex-align-center();
            @include logo($menu-nav-height);
            @include contact-info();

            .logo {
                @include flex-1();
            }
        }

        .nav {
            .container {
                @include flex(); 
            }

            .menu-container {
                @include flex-1();
                padding: 0px 30px;
                overflow: hidden;
            }
            
            @include operator-bar-2($menu-nav-height, 12px, $nav-deep-color, $nav-light-color);
        }

        &.search-open {
            .operator-bar-2 li.search form {
                display: block;
                @include opacity(1);   
            }
        }
    }

    .content {
        padding-top: $menu-nav-height + $header-top-height;
    }
}