html, body {
    font-family: NotoSansHans-Thin;
    font-weight: 150;
}


.article-list-1 .content-box {
    &:hover {
        $hover-color: #fff;
       .content {
        .title a {
            color: $hover-color;
        }
        .summary-fix, .summary-fulid, .article-bar {
            color: $hover-color;
        }
       }
    }
}

.panel {
    .panel-title  {
        // overflow: hidden;
        .label {
            // background-color: $main-color;
            // color: #fff;
            line-height: 35px;
            z-index: 1;
            // margin-right: 10px;

            &:after {
                content: "";
                position: absolute;
                right: -10px;
                top: 45%;
                width: 10px;
                height: 4px;
                background-color: #fff;

            }
        }

        .more {
            z-index: 1;
        }
        .more-text {
            display: none;
        }

        &:after {
            content: '';
            position: absolute;
            // left: 116px;
            left: 0;
            top: 50%;
            height: 1px;
            width: 100%;
            background-color: #efefef;
            // z-index: -1;
        }

        // .icon-more:before {
        //     content: "\e609";
        // }
    }
}
