// html, body {
//     font-family: NotoSansHans-Thin;
//     font-weight: 150;
// }

section {

    .panel {
        .panel-title  {

            padding: 0;
         
            .label {
                position: relative;
                line-height: 35px;
                z-index: 1;
                padding: 0 20px;
                top: 11px;
                max-width: calc(100% - 92px);

                &:before {
                    content: "";
                    position: absolute;
                    left:0;
                    top: 0;
                    height: 100%;
                    border-left: 10px solid $background-color;
                    border-right: 0;
                    border-top: 0;
                    border-bottom: 35px solid $main-color;
                }

                &:after {
                    content: "";
                    position: absolute;
                    right: 0;
                    top: 0;
                    width: 5px;
                    height: 100%;
                    border-left: 10px solid $main-color;
                    border-right: 0;
                    border-top: 0;
                    border-bottom: 35px solid $background-color;
                }

                
            }

            &:after {
                content: "";
                position: absolute;
                right: -10px;
                top: 45%;
                width: 10px;
                height: 4px;
                background-color: #fff;

            }

            .more {
                z-index: 1;
            }
            .more-text {
                display: none;
            }

            &:after {
                content: '';
                position: absolute;
                left: 4px;
                top: 50%;
                height: 1px;
                width: calc(100% - 4px);
                background-color: #efefef;
               
            }
        }
    }

}
