$main-color: #072e5a;

$color: #a1a1a1;

//top bar
$top-bar-bgColor: $main-color;
$top-bar-color: #fff;
$hover: $main-color;

//second bar
$second-bar-bgColor: #fff;
$second-bar-color: $color;
$second-hover: $top-bar-bgColor;

//菜单
$nav-bgcolor: $top-bar-bgColor;
$nav-color: #b5c0cd;
$nav-hover-color: #fff;

//全文检索
$query-btn-bgColor: transparent;
$query-btn-color: $nav-color;
$query-input-border: $main-color;
$query-input-bgColor: #fff;
$query-input-color: $color;





