////////////////////////////////////////////////////////////// 复杂配置
$main-color: #e6ad27;   //主色
$color: #a1a1a1;        //通用文字色

//菜单
$nav-bgcolor: $main-color; //菜单背景色
$nav-color: #fbefdc; //一级菜单文字色
$nav-hover-color: #fff; //一级菜单hover文字颜色

$nav-deep-color: $nav-color;
$nav-light-color: #f1cf7d; 

// 手机三色
$mobile-header-item-bgcolor1: #e8b439!default;
$mobile-header-item-bgcolor2: #d29e23!default;
$mobile-header-item-bgcolor3: #bd8e1f!default;