////////////////////////////////////////////////////////////// 复杂配置
$main-color: #8653fb;   //主色
$color: #a1a1a1;        //通用文字色

//菜单
$nav-bgcolor: $main-color; //菜单背景色
$nav-color: #dacdfd; //一级菜单文字色
$nav-hover-color: #fff; //一级菜单hover文字颜色
$nav-hover-bgColor: #2bfecc; //菜单背景色

$nav-deep-color: $nav-color;
$nav-light-color: #b08dff; 

// 手机三色
$mobile-header-item-bgcolor1: #9162fb!default;
$mobile-header-item-bgcolor2: #7a4ce4!default;
$mobile-header-item-bgcolor3: #6e44ce!default;
