////////////////////////////////////////////////////////////// 复杂配置
$main-color: #493843;   //主色
$color: #a1a1a1;        //通用文字色

//菜单
$nav-bgcolor: $main-color; //菜单背景色
$nav-color: #c8c3c6; //一级菜单文字色
$nav-hover-color: #fff; //一级菜单hover文字颜色

$nav-deep-color: $nav-color;
$nav-light-color: #897d85; 

// 手机三色
$mobile-header-item-bgcolor1: #594a54!default;
$mobile-header-item-bgcolor2: #43333d!default;
$mobile-header-item-bgcolor3: #3b2337!default;
