@media (min-width: 64em) {
    header .drawer-navbar .drawer-navbar-header {
        position: relative;
        top: 20px;
        background-color: $main-color;
    }
    .top-bar {
        margin-bottom: 1px;
    }
    .top-bar .container {
        border-bottom: 1px solid #ccc;
    }
}
