$top-bar-height: 55px;
$second-bar-height: 80px;
$query-input-width: 200px;
$query-input-height: 35px;
$nav-height: 97px;

//top bar
$top-bar-bgColor: #fff;
$top-bar-color: $color;
$hover: $main-color;


header {
   @media (min-width: 992px) {
   .drawer-navbar {
        .drawer-nav {
            margin-left: 14px;
         }
         
        .drawer-menu > li {

            &>a {
              margin: 34px 0;
              height: 29px;
              line-height: 29px;
            }
        }
      }
    }
}


@media (min-width: 992px) {
    header .drawer-navbar .drawer-navbar-header {
        position: relative;
        padding: 0 20px;
        top: 20px;
        background-color: $main-color;


    }
    .top-bar {
        margin-bottom: 1px;
    }
    .top-bar .container {
        border-bottom: 1px solid #efefef;
    }
}