// .article-list-1 .content-box {
//     .wrapper:hover {
//         $hover-color: #fff;
//        .content {
//         .title a {
//             color: $hover-color;
//         }
//         .summary-fix, .summary-fulid, .article-bar {
//             color: $hover-color;
//         }
//        }
//     }
// }

// .panel-title > span:after {
//     content: '';
//     position: absolute;
//     left: 50%;
//     transform: translateX(-50%);
//     bottom: 40px;
//     width: 30%;
//     height: 4px;
//     background-color: $main-color;
// }
section {
    .panel-title  {
        // .more-text {
        //     display: none;
        // }

        .icon-more1:before {
            content: "\e643";
            font-size: 12px;
        }

        .more-text {
            font-size: 1.2rem;
        }

        @media (max-width: 64em) {
            .label {
             padding: 0 12px;
            }
        }
    }
}



