////////////////////////////////////////////////////////////// 复杂配置
$main-color: #5b5b78;   //主色
$color: #a1a1a1;        //通用文字色

//菜单
$nav-bgcolor: $main-color; //菜单背景色
$nav-bgcolor2: #8085a0; //菜单背景色2
$nav-color: #ceced6; //一级菜单文字色
$nav-hover-color: #fff; //一级菜单hover文字颜色

$nav-deep-color: $nav-color;
$nav-light-color: #9595a8; 

// 手机三色
$mobile-header-item-bgcolor1: #696984!default;
$mobile-header-item-bgcolor2: #53536e!default;
$mobile-header-item-bgcolor3: #4b4a63!default;
