////////////////////////////////////////////////////////////// 复杂配置
$main-color: #9d50bb;   //主色
$color: #a1a1a1;        //通用文字色

//菜单
$nav-bgcolor: $main-color; //菜单背景色
$nav-bgcolor2: #6e48aa; //菜单背景色2
$nav-color: #e2d9ee; //一级菜单文字色
$nav-hover-color: #fff; //一级菜单hover文字颜色

$nav-deep-color: $nav-color;
$nav-light-color: #bd8cde; 

// 手机三色
$mobile-header-item-bgcolor1: #a55fc1!default;
$mobile-header-item-bgcolor2: #8f4aaa!default;
$mobile-header-item-bgcolor3: #81429a!default;