@import "variable-4";
@import "../../components";
@import "../style";

 .panel .panel-title {
        $more-color: #7a8481;

        a.more {
            color: $more-color;
        }

        .icon-more {
            color: $more-color;
        }
    }


.article-list-4 .item:not(:last-child) {
    border-bottom: none;
}