////////////////////////////////////////////////////////////// 复杂配置
$main-color: #005c97;   //主色
$color: #a1a1a1;        //通用文字色

//菜单
$nav-bgcolor: $main-color; //菜单背景色
$nav-bgcolor2: #363795; //菜单背景色2
$nav-color: #d1d5ed; //一级菜单文字色
$nav-hover-color: #fff; //一级菜单hover文字颜色

$nav-deep-color: $nav-color;
$nav-light-color: #598db4; 

// 手机三色
$mobile-header-item-bgcolor1: #1c4169!default;
$mobile-header-item-bgcolor2: #00548a!default;
$mobile-header-item-bgcolor3: #014c7c!default;
