////////////////////////////////////////////////////////////// 复杂配置
$main-color: #cb543a;   //主色
$color: #a1a1a1;        //通用文字色

//菜单
$nav-bgcolor: $main-color; //菜单背景色
$nav-color: #efccc5; //一级菜单文字色
$nav-hover-color: #fff; //一级菜单hover文字颜色
$nav-hover-bgColor: #f46036; //菜单背景色

$nav-deep-color: $nav-color;
$nav-light-color: #df907d; 

// 手机三色
$mobile-header-item-bgcolor1: #cf634b!default;
$mobile-header-item-bgcolor2: #b94d34!default;
$mobile-header-item-bgcolor3: #a74530!default;
