////////////////////////////////////////////////////////////// 复杂配置
$--color-primary: #7939cc;   //主色
$color: #666;        //通用文字色

//菜单
$nav-bgcolor: #1f1f1f; //菜单背景色
$nav-color: #818181; //一级菜单文字色
$nav-hover-color: $--color-primary; //一级菜单hover文字颜色

$deep-color: #565656;
$light-color: #4e4e4e;

$nav-deep-color: $deep-color;
$nav-light-color: $light-color;

$split-color: #373737;

// 手机三色
$mobile-header-item-bgcolor1: #333333!default;
$mobile-header-item-bgcolor2: #202020!default;
$mobile-header-item-bgcolor3: #191919!default;

$mobile-header-bar-bgcolor: #2f2f2f!default;