////////////////////////////////////////////////////////////// 复杂配置
$--color-primary: #b4654a;   //主色
$color: #a1a1a1;        //通用文字色

//菜单
$nav-bgcolor: $--color-primary; //菜单背景色
$nav-color: #e8d0ca; //一级菜单文字色
$nav-hover-color: #fff; //一级菜单hover文字颜色

$nav-deep-color: $nav-color;
$nav-light-color: #cf9b87; 

// 手机三色
$mobile-header-item-bgcolor1: #b9735a!default;
$mobile-header-item-bgcolor2: #a45c44!default;
$mobile-header-item-bgcolor3: #94533d!default;
