$header-shadow-color: #ccc;

header {
  position: relative;
  z-index: 999;
  -moz-box-shadow:0px 3px 15px $header-shadow-color;
  -webkit-box-shadow:0px 3px 15px $header-shadow-color;
  box-shadow:0px 3px 15px $header-shadow-color;

  .drawer-navbar {
      @media (min-width: 64em) {
        .drawer-menu > li {
            margin-left: 15px;
            padding: 0 5px;
            border-radius: 5px;

            &:hover {
                border-bottom: none;
                border-radius: 5px;
                background-color: $main-color;

                .drawer-menu-item{
                   color: $nav-hover-color;
                }
            }

            &>.drawer-dropdown-menu {
               top: 30px;
            }
        }

        .drawer-menu .current {
          border-bottom: none;
          background-color: $main-color;

          & .drawer-menu-item {
            color: $nav-hover-color;
          }
        }

        .drawer-menu-item {
            color: $nav-color;
          }

      }
  }
}