////////////////////////////////////////////////////////////// 复杂配置
$--color-primary: #fda033;   //主色
$color: #a1a1a1;        //通用文字色

//菜单
$nav-bgcolor: $--color-primary; //菜单背景色
$nav-bgcolor2: #fabb2c; //菜单背景色2
$nav-color: #fbefdc; //一级菜单文字色
$nav-hover-color: #fff; //一级菜单hover文字颜色

$nav-deep-color: $nav-color;
$nav-light-color: #fec27f; 

// 手机三色
$mobile-header-item-bgcolor1: #fda844!default;
$mobile-header-item-bgcolor2: #e6922f!default;
$mobile-header-item-bgcolor3: #d0842a!default;
