@import "../../base";





header {
  .drawer-navbar {
      @media (min-width: 64em) {
        .drawer-menu > li {
            margin-left: 0;
            &:hover  {
                // border-bottom: 2px solid $main-color;
                 background-color: $nav-hover-bgColor;
            }

            &>.drawer-dropdown-menu {
               top: 72px;
               padding-top: 10px;
               left:0;
            }
        }

        .drawer-menu .current {
          // border-bottom: none;
          // background-color: $main-color;
           background-color: $nav-hover-bgColor;
        }
      }
  }
}




