////////////////////////////////////////////////////////////// 复杂配置
$main-color: #28c27d;   //主色
$color: #a1a1a1;        //通用文字色

//菜单
$nav-bgcolor: $main-color; //菜单背景色
$nav-color: #e3fcf1; //一级菜单文字色
$nav-hover-color: #fff; //一级菜单hover文字颜色

$nav-deep-color: $nav-color;
$nav-light-color: #70d7a9; 

// 手机三色
$mobile-header-item-bgcolor1: #3bc788!default;
$mobile-header-item-bgcolor2: #25b172!default;
$mobile-header-item-bgcolor3: #209f67!default;
