// $menu-nav-height: 64px;
$menu-nav-position: center;

// $mobile-header-bgcolor: red!default;
// $mobile-header-split-color: blue!default;

$header-top-height: 256px;

@import "../mobile";
@import "../pc";


@media (min-width: 768px) { //mobile端
    
}

@media (min-width: 769px) { //pc端
    header {
        $width: 24px;
        
        &.fixed {
            top:  -$header-top-height;
        }

        .logo-bar {
            position: relative;
            height: 192px;
            @include logo(120px);
            .logo {
                @include center(both);
            }
        }

        .tool-bar {
           height: 64px;
           line-height: 64px;
           @include operator-bar-1(64px, $width, 30px);

           .operator-bar-1 {

               .icon-arrow-down {
                   left: $width + 2px;
                   @include center(vertical);
               }

               .login .icon-arrow-down {
                  left: $width + 4px;
               }

               &.right-side {
                    li > a {
                        border: none;
                    } 

                    @at-root #searchInput {
                        right: $width;
                        padding: 0;
                        width: 0;
                        height: 0;
                        border-radius: 0;
                        border-top-width: 0;
                        border-left-width: 0;
                        border-right-width: 0;
                        border-bottom-color: $light-color;
                    }
               } 
           } 
            
        }

        .top-container {
            border-bottom: 1px solid $split-color;
        }

        &.search-open {
            #searchInput {
                height: $width;
                padding-left: 0;
                // width: 200px;
            }
         } 
    }

    .content {
        padding-top: $menu-nav-height + $header-top-height;
    }
}