$top-bar-height: 72px;
$second-bar-height: 122px;
$query-input-width: 250px;
$query-input-height: 30px;
$nav-height: 72px;

@media (min-width: 64em) {
   .second-bar .container {
    border-bottom: 1px solid #efefef;
    margin-bottom: 1px;
   }
}


#btn-full-query > i:hover {
    color: $main-color;
}

header {
   @media (min-width: 64em) {
  .drawer-navbar {
        .drawer-dropdown .drawer-dropdown-menu {
            border-top: 1px solid $main-color;
        }
         
        .drawer-menu > li {

            &>a {
              margin: 21.5px 0;
              height: 29px;
              line-height: 29px;
            }
            
        }
      }
    }
}