@font-face {
    /* font-properties */
    font-family: fz;
    src: url('../../fonts/fz.ttf');
}


body {
    font-family: fz;
}
.article-list-1 .content-box {
    &:hover {
        $hover-color: #fff;
       .content {
        .title a {
            color: $hover-color;
        }
        .summary-fix, .summary-fulid, .article-bar {
            color: $hover-color;
        }
       }
    }
}

.panel-title  {
    .more-text {
        display: none;
    }

    // .icon-more:before {
    //     content: "\e609";
    // }
}

.article-bar {
    $width: 8px;
    padding-left: 14px;
    margin-left: 2px;
    position: relative;
    &:before {
        content: '';
        position: absolute;
        width: $width;
        height: $width;
        background-color: #333;
        left: 0;
        top: 3px;

    }
}