@import "variable-7";
@import "../../components";
@import "../style";

// .swiper-button-white {
//         // background-color: #6b5471;
//     }

section {
      background: -webkit-linear-gradient(bottom, rgb(106, 142, 190) , rgb(126, 79, 185)); /* Safari 5.1 - 6.0 */
         background: -o-linear-gradient(bottom, rgb(106, 142, 190), rgb(126, 79, 185)); /* Opera 11.1 - 12.0 */
         background: -moz-linear-gradient(bottom, rgb(106, 142, 190), rgb(126, 79, 185)); /* Firefox 3.6 - 15 */
        background: linear-gradient(to bottom, rgb(106, 142, 190) , rgb(126, 79, 185)); /* 标准的语法 */
}

.article-list-2 .item {
    color: #666;
    border: none;
    &:hover {
        color: $main-color;
    }
}


 .panel .panel-title {
    border-bottom-color: #272845;
        $more-color: #fff;

        a.more {
            color: $more-color;
        }

        .icon-more {
            color: $more-color;
        }
    }


.pic-list-2,.pic-list-1 {
    .panel-body .content-title {
        color: #000;
    }

    .summary {
         color: #000;
    }
}

.pic-list-1 a.item:hover .summary {
    color: #fff;
}


.article-list-4 .item:not(:last-child) {
    border-bottom: none;
}

.panel {
    // $bgc-shadow: #333;
    // -moz-box-shadow:0 0 0 $bgc-shadow; -webkit-box-shadow:0 0 0 $bgc-shadow; box-shadow:0 0 0 $bgc-shadow;
    border-bottom-color: #37385c;
}