body {
    font-family: "Open Sans", Arial, "Hiragino Sans GB", "Microsoft YaHei", 微软雅黑, STHeiti, "WenQuanYi Micro Hei", SimSun, sans-serif;
}

section .content-box {

    .content {
        .title {
            font-weight: 500;
        }

        // .article-bar, 
        // .float-content-footer,
        // .content-footer {
        //     color: #787878;
        // }
    }

}

section {
    .panel-title  {


        &:after {
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            height: 1px;
            width: 100%;
            background-color: $split-color;
        }

        .more-text {
            display: none;
        }


        .label, .more {
            &:after {
                content: '';
                position: absolute;
                bottom: -3px;
                height: 1px;
                background-color: #fff;
                width: $panel-padding;
                @media (max-width: 64em) {
                    width: 12px;
                }

            }
        }

        .label {
            &:after {
                left: 0;
            }
        }

        @media (max-width: 64em) {
            .label {
             padding: 0 12px;
            }
        }



        .more {
            &:after {
                right: 0;
            }
        }

}
}




.panel {
     .panel-body {
        padding-bottom: 20px;
     }
}

// .panel.article-list-2, .panel.article-list-3 {
//     .panel-body {
//         padding-bottom: 45px;
//     }
// }



