body {
    font-family: "Open Sans", Arial, "Hiragino Sans GB", "Microsoft YaHei", 微软雅黑, STHeiti, "WenQuanYi Micro Hei", SimSun, sans-serif;
}

section {
    .panel-title {
        
        &:after {
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            height: 1px;
            width: 100%;
            background-color: $split-color;
        }
        
        .label {
            width: calc(100% - 92px);
        }

        .more-text {
            display: none;
        }
    } 

    .panel {   
         .panel-body {
            padding-bottom: 20px;
         }

         .btn {
             background-color: $main-color;
             border-color: $main-color;
             color: #fff;
             opacity: 1;

             &:hover {
                opacity: .8;
             }
         }
    }
}

