////////////////////////////////////////////////////////////// 最简配置
$main-color: #28c27d;   //主色
$color: #a1a1a1;        //通用文字色
$nav-hover-bgColor: $main-color; //菜单背景色
$deep-color: #fadfdc;
$light-color: #ef948b;
