$main-color: #aab9cf;
$color: #666;

//top bar
$top-bar-bgColor: $main-color;
$top-bar-color: #fff;
$hover: $main-color;

//second bar
$second-bar-bgColor: #202020;
$second-bar-color: $color;
$second-hover: $main-color;

//菜单
$nav-bgcolor: #000;
$nav-color: $color;
$nav-hover-color: $main-color;

//全文检索
$query-btn-bgColor: $nav-bgcolor;
$query-btn-color: #fff;
$query-input-border: $main-color;
$query-input-bgColor: #fff;
$query-input-color: $color;






