////////////////////////////////////////////////////////////// 复杂配置
$--color-primary: #fc6921;   //主色
$color: #a1a1a1;        //通用文字色

//菜单
$nav-bgcolor: $--color-primary; //菜单背景色
$nav-color: #fbe5db; //一级菜单文字色
$nav-hover-color: #fff; //一级菜单hover文字颜色

$nav-deep-color: $nav-color;
$nav-light-color: #fba77d;

// 手机三色
$mobile-header-item-bgcolor1: #fe7627!default;
$mobile-header-item-bgcolor2: #e86002!default;
$mobile-header-item-bgcolor3: #d15105!default;
