@import "base";

$nav-bgcolor2:$nav-bgcolor!default;

$mobile-left-width: 260px;
$mobile-header-bar-height: 50px;

$mobile-header-bgcolor: $nav-bgcolor!default; //指明`!default`才能被覆盖；没有default的变量，不不受到引用顺序的影响，直接覆盖
$mobile-header-bgcolor2: $nav-bgcolor2!default;
$mobile-header-split-color: $split-color!default;

$mobile-header-item-bgcolor1: #fafafa!default;
$mobile-header-item-bgcolor2: #f6f6f6!default;
$mobile-header-item-bgcolor3: #f0f0f0!default;

body {

    // &.mobile { //js添加header的mobile样式，解决768临界值header width动画不流畅的问题,后来别.side-bar => overflow:hidden css方式解决
    //     header {
    //         // @include transition(width);   
    //     }
    // }

    $ham-width: 45px;

    @media (max-width: 768px) { //mobile
        .header-container {
            height: 100%;
        }
        
        .pc-element {
            display: none;
        }

        & {
            position: relative;
            height: 100%;
            overflow: hidden;

        }

        header {
            height: 100%;

            .side-bar {
                // position: relative;
                overflow: hidden;
                // float: left;
                width: 0;
                max-width: calc(100% - #{rem($ham-width)});
                height: 100%;
                white-space: nowrap;
                @include linear-gradient($mobile-header-bgcolor, $mobile-header-bgcolor2);
                @include transition(width);
            }
            

            .nav {
                // height: calc(100% - 4.7rem);
                height: calc(100% - #{rem(160px)});

                .container {
                    height: 100%;
                    padding: 0;
                }

                .menu-container {
                    height: 100%;
                }
            }
        }

        .main {
            position: absolute;
            top: 0;
            left: 0;
            @include transition();
            background: #fff;
            z-index: 2;
        }

        .mobile-header-bar {
            position: absolute;
            top: 0;
            left: 0;
            @include rem(height, $mobile-header-bar-height);
            @include rem(line-height, $mobile-header-bar-height);
            width: 100%;
            @include rem(font-size, 18px);
            @include box-shadow(0, 2px, 6px, 0px, rgba(0, 0, 0, .1));
            @include linear-gradient($nav-bgcolor, $nav-bgcolor2);
            z-index: 999;
            @include transition(left);


            .m-logo {
                display: block;
                height: 100%;
                @include rem(padding, 6px 0);
                margin: 0 auto;
                @include rem(max-width, 180px);
                text-align: center;

                img {
                    vertical-align: baseline;
                    height: 100%;
                }
            }

            .m-search {
                position: absolute;
                top: 0;
                right: 0;
                display: block;
                height: 100%;
                @include rem(width, 60px);
                text-align: center;
                // color: $nav-deep-color;
                .icon-search {
                    @include rem(font-size, 20px);    
                }
            }

            .ham {
                height: 100%;
                @include rem(padding, 10px);
                @include rem(width, $ham-width);
                display: block;
                // color: $nav-deep-color;

                &:hover {
                    .drawer-hamburger-icon {
                        &, &:after, &:before {
                            background-color: $nav-hover-color;
                        }
                    }
                }

                .drawer-hamburger-icon {
                    @include transition(transform);
                    @include center(vertical);

                    & {
                        position: relative;
                        display: block;
                    }

                    &, &:after, &:before {
                        height: 1px;
                        width: 100%;
                        left: 0;
                        background-color: $nav-color;
                     }

                    &:after, &:before {
                        content: '';
                        position: absolute;
                    }

                    &:after {
                       @include rem(top, 8px);
                    }

                    &:before {
                      @include rem(top, -8px);
                    }
                }
            }

            .m-search-input {
                position: absolute;
                width: 100%;
                height: 100%;
                border: none;
                outline: none;
                z-index: 999;
                border-radius: 0;
                @include rem(top, -$mobile-header-bar-height);
                padding: 0 5px;
                @include transition(top);
                @include rem(font-size, 16px);
                color: $color; 
                @include linear-gradient($nav-bgcolor, $nav-bgcolor2);
    
                color: $nav-color;
                &.show {
                    top: 0;
                }

                @include placeholder($nav-color);
            }

        }

        &.open {
            .side-bar {
                width: $mobile-left-width;
            }

            .ham {
                .drawer-hamburger-icon {
                    background: transparent!important;

                    &:after {
                        @include rem(top, 0);
                        @include transform(rotate(-45deg));
                    }

                    &:before {
                        @include rem(top, 0);
                        @include transform(rotate(45deg));
                    }
                }

            }

            .main, .mobile-header-bar {
                left: $mobile-left-width;
                //CSS calc() in media queries  CSS暂时未支持：
                //https://www.chromestatus.com/feature/5643732019838976
                @media (max-width: calc(#{$mobile-left-width} + #{rem($ham-width)})) {
                    left: calc(100% - #{rem($ham-width)});    
                }
            }

            .main {
                @include box-shadow(-2px, 0px, 6px, 0px, rgba(0, 0, 0, .1));
            }
        }

        .menu-nav {
            height: 100%;
            overflow: auto;
            .menu-items {
                
                li {
                    $li-padding-width: 15px;

                    position: relative;
                    overflow: hidden;

                    a {
                        display: block;
                        @include rem(padding, 0 $li-padding-width * 2 0 $li-padding-width);
                        @include rem(line-height, 50px);
                        @include ellipsis();
                        &:hover {
                             background: $mobile-header-item-bgcolor1;
                        }
                    }

                    .icon-arrowdropdown {
                        @include transition();
                        position: absolute;
                        @include rem(right, $li-padding-width);
                        @include transform(rotate(-90deg))
                    }

                    &.menu-nav-item {
                        &.dropdown .dropdown >  a {
                            @include rem(padding-left, $li-padding-width * 2);

                            + .sub-menu a {
                                @include rem(padding-left, $li-padding-width * 3);
                            }
                        }

                        &.current > a {
                            color: $nav-hover-color;
                        }
                    }

                    &.menu-nav-item.open { //
                        background: $mobile-header-item-bgcolor1;

                        .open {
            
                            background: $mobile-header-item-bgcolor2;

                            .sub-menu {
                                background: $mobile-header-item-bgcolor3;
                            }
                        }
                    }

                    &.open {
                        & > a  .icon-arrowdropdown {
                            @include transform(rotate(0))
                        }
                    }
                }

                .sub-menu {
                    display: none;
                }

            }
        }
        .mobile-header-info {
            @include rem(padding, 15px 0);

            .m-language  {
                
                span {
                    color: $nav-deep-color; 
                    @include rem(margin-right, 5px);    
                }

                .iconfont {
                    color: $nav-light-color; 
                }
            }
            
            .profile {

                @include flex();
                @include flex-align-center();
                @include rem(margin, 24px);
                $img-width: 60px;
                .avatar, img {
                    @include rem(width, $img-width);
                    @include rem(height, $img-width);
                    @include border-radius(50%);
                }
            }

            .detail {
                @include flex-1();
                @include rem(padding-left, 20px); 

                line-height: 1.6;

                h2 {
                    @include rem(font-size, 18px);
                }


                .message {
                    li {
                        display: inline-block;

                        &:not(:last-child) {
                             @include rem(margin-right, 8px);
                        }
                    }
                    .iconfont {
                        color: $nav-light-color;
                    }
                    span {
                        color: $nav-deep-color;
                        position: relative;
                        top: -2px;
                        @include rem(left, 4px);
                    }
                }
            }

            .m-language-container {
                position: absolute;
                z-index: 2;
                top: 0;
                left: 0;
                height: 0;
                width: $mobile-left-width; 
                overflow: hidden;
                @include linear-gradient($mobile-header-bgcolor, $mobile-header-bgcolor2);;
                @include transition(all);
                @include opacity(0);

                &.open {
                    height: 100%;
                    @include opacity(1);
                }

                .language-bar {
                    @include rem(height, $mobile-header-bar-height);
                    @include rem(line-height, $mobile-header-bar-height); 
                    @include rem(padding, 0 15px);
                    border-bottom: 1px solid $mobile-header-split-color;
                    text-align: center;

                    .icon-back {
                        line-height: 1;
                        color: $nav-deep-color;
                    }
                }

                li a {
                    display: block;
                    @include rem(line-height, 50px);
                    text-align: center; 
                }
            }
        }

        .main {
            float: left;
            width: 100%;
            height: 100%;
        }

        .scroll-view {
            height: calc(100% - #{$mobile-header-bar-height});
            @include rem(margin-top, $mobile-header-bar-height);
            overflow-y: auto;
        }
    } // mobile end
}
