@import "base";

$menu-nav-height: 64px!default;
$menu-nav-position: right!default;
$nav-bgcolor2: $nav-bgcolor!default;




/*
使用中ul元素上
*/
@mixin floatLi($margin-right: 15px) {
    & > li {
        float: left;
        &:not(:last-child) {
            margin-right: $margin-right;
        }
    }
}

// components
@mixin operator-bar ($height: 50px, $margin-right: 15px)  {
    @include floatLi($margin-right);

    & > li {
        position: relative;
        height: $height;

        & > a {
            display: inline-block;
            text-align: center;
        }

        &:hover {
            & > .dropdown {
                display: block;
            }
        }

        &.search {
            input {
                color: $color;
                outline: none;
                border: none;
            }
        }
       
        .dropdown {
            display: none;
            position: absolute;
            z-index: 999;
            top: 100%;
            border-radius: 3px;
            @include box-shadow(0, 2px, 6px, 0px, rgba(0, 0, 0, .1));
            @include center(horizontal);
    
            a {
                color: $color;
    
                &:hover {
                    color: $main-color;
                }       
            }     
    
            ul {
                position: relative;
                background-color: #fff;
            }
    
            li {
                line-height: 35px;
                width: 100px;
                padding: 0 15px;
                text-align: center;
            }
            
            $width: 10px;
    
            .arrow {
                width: $width;
                height: $width;
                @include center(horizontal);
                margin-left: -$width / 2;
                top: calc(-#{$width} / 2);
                @include transform(rotate(-45deg));
                background-color: #fff;
                @include box-shadow(0, 2px, 6px, 0px, rgba(0, 0, 0, .1));
            }
        }
}
}

@mixin operator-bar-1($height: 50px, $width: 30px, $margin-right: 15px, $deepColor: $deep-color, $lightColor: $light-color) {
    @at-root header.search-open {
       #searchBtn-trigger i {
            color: $main-color!important;
        }

        #searchInput {
            padding-left: $width / 2;
            width: 200px;
            background-color: #fff;

        }
    }

    .operator-bar-1 { //搜索，登录注册，语言
      
        @include operator-bar($height, $margin-right);

        & > li {
           
            width: $width;

            & > a {
                height: $width;
                border-radius: 50%;
                border: 1px solid $lightColor;
                &:hover {
                    border-color: $main-color;
                }
                line-height: $width;
                width: 100%;

                @include center(vertical);

                &, i {
                    color: $deepColor;
                }

                .icon-arrow-down {
                    color: $lightColor;
                }
            }
            
            &.search {
                input {
                    right: 0;
                    @include center(vertical);
                    height: $width;
                    width: 100%;
                    border: 1px solid $lightColor;
                    border-radius: $width / 2;
                    text-align: left;
                    padding: 0 #{$width - 2px} 0 0;
                    background: transparent;
                    @include transition(all);
                }

                @at-root #searchBtn-trigger {
                    position: absolute;
                    z-index: 2;
                    border-color: transparent;
                }
            }
        } 
    }
}  

// 登录 | 注册 中
@mixin operator-bar-2($height: 50px, $margin-right: 15px, $deepColor: $deep-color, $lightColor: $light-color) {

    .operator-bar-2 { //搜索，登录注册，语言
        @include operator-bar($height, $margin-right);
        & > li {

            & > a, & > .separator {
                line-height: $height;
            }

            & > a {
                color: $deepColor;

                .icon-arrow-down {
                    margin-left: 5px;
                }
            }

            & > .separator, & > a .icon-arrow-down {
                color: $lightColor;
            }

            &.search {
                form {
                    display: none;
                    position: absolute;
                    right: 0;
                    padding: 10px;
                    background: $main-color;
                    @include opacity(0);
                    @include transition(opacity);
                }

                input {
                    width: 260px;
                    height: 30px;
                    padding: 0 5px;
                }

                @at-root #searchBtn-trigger {
                    position: relative;
                }
            }
        } 
    }
}

@mixin logo($height: 100%) {
    .logo {
        display: inline-block;
        padding: $height * .1;
        height: $height;
        text-align: center;
        img {
            height: 100%;
            max-width: 2.4 * $height;
        }
    }
} 

@mixin contact-info() {
    .contact-info {
        .contact-info-tel {
            position: relative;
            color: $main-color;
            font-size: 1.6em;

            .icon-dianhua {
                position: absolute;
                left: -1.2em;
                font-size: 1em;
            }

        }

        .contact-info-email {
            font-size: 1.2em;
        }
    }
}

@mixin contact-info2($height,$margin-right: 15px) {
    .contact-info2 {
        line-height: $height;
        @include floatLi($margin-right);
        color: $deep-color;
        .iconfont {
            line-height: 1;
            margin-right: 5px;
            color: $light-color;
        }
    }
}

@mixin contact-info3() {
    .contact-info3 {
        line-height: 1.8;
        padding-left: 2em;

        .contact-info-tel,
        .contact-info-email {
            position: relative;
            font-size: 1.2em;
            color: $deep-color;

            .iconfont {
                position: absolute;
                color: $light-color;
                font-size: 1.2em;
                left: -1.2em;
                top: -.1em;
            }
        }
    }
}



@mixin search-fixed($height: 30px, $width: 200px, $padding: 1px) {
    
   .search-fixed {
        display: inline-block;
        background: $main-color;
        padding: $padding;
        input {
            float: left;
            border: none;
            outline: none;
            padding: 0 5px;
            height: $height;
            width: $width;
        } 

        a {
            display: block;
            float: left;
            width: $height - $padding;
            height: $height;
            line-height: $height;
            text-align: center;
            color: $nav-color;
            &:hover {
                color: $nav-hover-color;
            }
        }
   }
   
}

@mixin share() {
   .share {
        @include floatLi(20px);
        .iconfont {
            font-size: 16px;
        }
   } 
}

body {
    $menu-item-padding: 20px;
    @media (min-width: 769px) { //pc端
        .mobile-element {
            display: none;
        }


        header {

            @include box-shadow(0, 2px, 6px, 0px, rgba(0, 0, 0, .1));
            
            position: fixed;
            top: 0;
            width: 100%;
            @include transition(top);
            background-color: #fff;
            z-index: 999;

            .top-container {
                &, .iconfont {
                   font-size: 12px;
                }
            }

            .nav {
                height: $menu-nav-height;
                @include linear-gradient($nav-bgcolor, $nav-bgcolor2);
                &, .iconfont {
                    font-size: 14px;
                 }
            }

            .menu-nav {
                
                width: 100%; // 必须要一个宽度，不然没法overflow
               
                .menu-items-container {
                     @include flex();

                     #menu-nav-prev, #menu-nav-next {
                        line-height: $menu-nav-height;
                        height: $menu-nav-height;
                        color: $nav-light-color;

                        @include opacity(0);

                        // &:hover {
                        //     color: $nav-hover-color;
                        // }

                        &.show {
                            @include opacity(1);
                        }
                     }

                     #menu-nav-prev {
                        padding-right: 15px;
                     }


                     #menu-nav-next {
                        padding-left: 15px;
                     }

                    a {
                        display: block;
                        @include ellipsis();
                        font-size: 14px;
                    }

                    .menu-items {
                        font-size: 0;
                        overflow: hidden;
                        white-space: nowrap;
                        
                        text-align: $menu-nav-position;
                        @include flex-1();

                        a {
                            padding: 0 $menu-item-padding;
                        }

                        li {

                            &.menu-nav-item  {
                                // float: left; //会换行
                                position: relative;
                                display: inline-block; 
                                vertical-align:top; //高度有问题
                                height: $menu-nav-height;

                                &.menu-nav-item:first-child {
                                    @include transition(margin-left);
                                }

                                &.current, &:hover {
                                    & > a {
                                        background: $nav-hover-bgColor;        
                                    }
                                    
                                }

                                &.current > a {
                                    color: $nav-hover-color;
                                }

                                & > a { // 一级菜单
                                    line-height: $menu-nav-height;
                                    height: $menu-nav-height;
                                    max-width:  calc(7em * 1 + #{$menu-item-padding * 2}); //显示7个汉字
                                }

                                .icon-arrowdropdown {
                                    position: absolute;
                                    right: 4px;
                                }
                            }

                            &:hover {
                                & > .sub-menu {
                                    display: block!important;
                                    @include opacity(1);
                                }
                            }
                        }
                        
                        .sub-menu {
                            display: none;
                            position: absolute;
                            background: #fff;
                            line-height: 48px;

                            border-top-left-radius: 0;
                            border-top-right-radius: 0;
                            border-bottom-right-radius: 2px;
                            border-bottom-left-radius: 2px;
                            @include opacity(0);
                            @include transition();

                            .icon-arrowdropdown {
                                 @include opacity(0);
                                 @include transform(rotate(-90deg));
                            }

                            &:hover .icon-arrowdropdown{
                                @include opacity(1);
                            }
                            

                            @include box-shadow(0, 5px, 25px, 0px, rgba(0, 0, 0, .1));

                            a {
                                width:  calc(7em * 1 + #{$menu-item-padding * 4}); //显示7个汉字
                                text-align: left;
                                padding: 0 $menu-item-padding * 1.5;
                                color: $color;
    
                                &:hover {
                                    color: $main-color;
                                }
                            }

                            &.second-sub-menu {
                                position: fixed;

                                .sub-menu {
                                    left: calc(100% + 1px);
                                    top: 0;
                                }

                            }
                        }
                    }

                }
            }

        }
    }
}
