header {
  .drawer-navbar {
      $border-radius: 15px;
      @media (min-width: 64em) {
        //  .drawer-navbar-header {
        //     margin-top: -5px;
        // }
        
        .drawer-menu > li {
          
          .drawer-menu-item {
            padding: 0 1.2rem;
          }
            border-radius: $border-radius;

            &:hover, &.current {
               &>a {
                 border-radius: $border-radius;
                 background-color: $main-color;
               }
            }

        }
      }
  }
}

