header {
  .drawer-navbar {
      @media (min-width: 64em) {
        .drawer-menu > li {
            &:hover, &.current  {
                 background-color: $nav-hover-bgColor;
            }
          
        }
       
      }
  }

  
    a {
        color: inherit;
        text-decoration: none;

        &:hover {
            color: #fff;
        }
    }


}




