header {

  .search.style0 {
     input {
        border-radius: $query-input-height/2;
        width: $query-input-width;
        padding: 0 2rem;
    }

    #btn-full-query {
        margin-left: -5rem;

        i {
            color: $main-color;
        }
    }
  }


  
  .drawer-navbar {
      $border-radius: 18px;
      @media (min-width: 992px) {
        
        .drawer-menu > li {
            margin-left: 1px;
            
            border-radius: $border-radius;

            &:hover, &.current {
               &>a {
                 border-radius: $border-radius;
                 background-color: $main-color;
               }
            }

        }
      }
  }
}

