header {
  .drawer-navbar {
      @media (min-width: 64em) {
        //  .drawer-navbar-header {
        //     margin-top: -5px;
        // }
        
        .drawer-menu > li {
           &>a {
              margin: 0;
              height: 100%;
              line-height: $nav-height;
            }

           
            &:hover >a, &.current >a {
               $side: 4px;
                position: relative;
                &:after {
                    content: '';
                    position: absolute;
                    left: 50%;
                    transform: translateX(-50%);
                    -webkit-transform: translateX(-50%);
                    -moz-transform: translateX(-50%);
                    -ms-transform: translateX(-50%);
                    top: $nav-height / 2 + 15;

                    height: $side;
                    width: $side;
                    background: $main-color;
                    border-radius: 100%;
                    position: absolute;
                  }
            }
        }
      }
  }
}



