header {

  .drawer-navbar {
      $border-radius: 0;
      @media (min-width: 992px) {
        
        .drawer-menu > li {
            margin-left: 1px; 
            border-radius: $border-radius;

            &:hover, &.current {
               &>a {
                 border-radius: $border-radius;
                 background-color: $main-color;
               }
            }

        }
      }
  }
}