header {
  .drawer-navbar {
      @media (min-width: 64em) {
        
        .drawer-menu > li {

            &.current .drawer-menu-item{
              color: $main-color;
            }
    
            &:hover {
                .drawer-menu-item {

                   color: $main-color;
                   transition: none ease-out .4s;
                   transition-property: color;
                }
              
            }

            ul {
              background-color: #2F2F2F;
            }
        }
      }
  }
}