header {
  .drawer-navbar {
      @media (min-width: 992px) {
        
        .drawer-menu > li {
            margin-left: 6px;
            &>a:after, &>a:before {
               content: '';
               width: 0;
               height: 0px;
               position: absolute;
               opacity: 0;
               transition: all 0.36s ease 0s;
            }

            &:hover, &.current {
                a:after, a:before {
                   width: 9px;
                   height: 10px;
                   
                }

                a:after {
                      left: 0;
                      top: 0;
                      border-top: 1px solid $nav-hover-color;
                      border-left: 1px solid $nav-hover-color;
                      opacity: 1;
                }

                a:before {
                      bottom: 0;
                      right: 0;
                      border-bottom: 1px solid $nav-hover-color;
                      border-right: 1px solid $nav-hover-color;
                      opacity: 1;
                }
            }
        }
      }
  }
}