header {
  .drawer-navbar {
      @media (min-width: 64em) {
        //  .drawer-navbar-header {
        //     margin-top: -5px;
        // }
        
        .drawer-menu > li {
            &>a {
              margin: 0;
              height: 100%;
              line-height: $nav-height;
            }


            &:hover >a, &.current >a {
               $side: 5px;
                &:after {
                    content: '';
                    position: absolute;
                    left: 50%;
                    transform: translateX(-50%);
                    -webkit-transform: translateX(-50%);
                    -moz-transform: translateX(-50%);
                    -ms-transform: translateX(-50%);
                    bottom: 0;
                    width: 0;
                    height: 0;
                    border-right: $side solid transparent;
                    border-bottom: $side solid $main-color;
                    border-left: $side solid transparent;
                  }
            }

            
        }
      }
  }
}



