@import '../base';

footer {
     .layout-content {
        padding-top: 32px;
        text-align: center;

        .share {
            padding: 10px 0;
        }

        .menu-horizontal .menu-item {
            padding-left: 0;
        }
     }


}