@import "variable-5";
@import "../../components";

// .swiper-button-white {
//         // background-color: #6b5471;
//     }


.article-list-2 .item {
    color: #666;
    border: none;
    &:hover {
        color: $main-color;
    }
}


 // .panel .panel-title {
 //        $more-color: #fff;

 //        a.more {
 //            color: $more-color;
 //        }

 //        .icon-more {
 //            color: #748484;
 //        }
 //    }

