@import "variable-6";
@import "../../components";

// .swiper-button-white {
//         // background-color: #6b5471;
//     }


.article-list-2 .item {
    color: #666;
    border: none;
    &:hover {
        color: $main-color;
    }
}


 .panel .panel-title {
        $more-color: #494949;

        a.more {
            color: $more-color;
        }

        .icon-more {
            color: #414141;
        }
    }


    .article-list-4 .item:not(:last-child) {
    border-bottom: 1px solid #2c2c2c;
}

