// $main-color: #686d71;
// $bg-color: transparent;
// $nav-bgcolor: #fff;
// $nav-color: #000;
// $nav-height: 30px;

$nav-hover-color: #fff;
// $bar-color: #333;

//top bar
$top-bar-height: 55px;
$top-bar-bgColor: #3f304d;
$top-bar-color: #fff;
$hover: #fff;

//second bar ---
$second-bar-height: 80px;
$second-bar-bgColor: #fff;
$second-bar-color: red;
$second-hover: green;

//菜单
$nav-bgcolor: #fff;
$nav-height: 30px;
$nav-color: #000;
$main-color: #686d71;

//全文检索
$query-input-height: 35px;
$query-btn-bgColor: transparent;
$query-btn-color: #fff;
$query-input-border: #ddd;