$main-color: #fc6921;
$color: #a1a1a1;

//top bar
$top-bar-bgColor: #fff;
$top-bar-color: $color;
$hover: $main-color;

//second bar
$second-bar-bgColor: transparent;
$second-bar-color: $color;
$second-hover: $main-color;

//菜单
$nav-bgcolor: #fff;
$nav-color: $color;
$nav-hover-color: $main-color;

//全文检索
$query-btn-bgColor: $main-color;
$query-btn-color: #fbe5db;
$query-input-border: $color;
$query-input-bgColor: transparent;
$query-input-color: $color;


