////////////////////////////////////////////////////////////// 复杂配置
$--color-primary: #8ca5bb;   //主色
$color: #a1a1a1;        //通用文字色

//菜单
$nav-bgcolor: $--color-primary; //菜单背景色
$nav-color: #ebf6ff; //一级菜单文字色
$nav-hover-color: #fff; //一级菜单hover文字颜色
$nav-hover-bgColor: #99b4cc;
$nav-deep-color: $nav-color;
$nav-light-color: #bacede; 

// 手机三色
$mobile-header-item-bgcolor1: #96adc1!default;
$mobile-header-item-bgcolor2: #8096aa!default;
$mobile-header-item-bgcolor3: #73889a!default;
